{% extends 'ZizooBaseBundle:Page:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zizoobase/css/form.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Feedback{% endblock%}

{% block body %}

    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:feedback -->
            <section id="feedback" class="section">
                <header>
                    <h1>Drop us a line</h1>
                </header>

                <div class="content">
                    {% if app.session.hasFlash('zizoo-notice') %}
                        <div class="zizoo-notice">
                            {{ app.session.flash('zizoo-notice') }}
                        </div>
                    {% endif %}

                    <form action="{{ path('ZizooBaseBundle_feedback') }}" method="post" {{ form_enctype(form) }} class="zizoo">
                        {{ form_errors(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.subject) }}
                        {{ form_row(form.body) }}

                        {{ form_rest(form) }}

                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </section>
            <!-- end:about -->

        </div>
    </div>
    <!-- end:content -->

{% endblock %}