{% extends 'ZizooBaseBundle:Page:index.html.twig' %}

{% block title %}How It Works{% endblock%}

{% block body %}

    {% render controller('ZizooAddressBundle:Address:searchBar') %}

    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:subnavigation -->
            <ul class="subnavigation how-it-works clearfix">
                <li><a href="#" title="Charter"><span class="icon boat"></span> Charter</a></li>
                <li><a href="#" title="Holidayer"><span class="icon suitcase"></span> Holidayer</a></li>
                <li><a href="#" title="Skipper"><span class="icon sailor"></span> Skipper</a></li>
            </ul>
            <!-- end:subnavigation -->

            <!-- start:how it works -->
            <div id="how-it-works" class="section">
                <section class="tab">
                    <header>
                        <h1>Charter</h1>
                    </header>
                    <div class="content">
                        <h2>How it Works</h2>
                        <ol class="steps">
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-charter-step1.png') }}" alt="">
                                </div>
                                <h3>Create your profile</h3>
                                <p>
                                    Create a Zizoo account with a short description about your business, where you are based, and what makes you special. Include photos – so holidayers can see what you are all about!
                                </p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-charter-step2.png') }}" alt="">
                                </div>
                                <h3>List your boats (for free)</h3>
                                <p>
                                    Create a listing for your boats. Upload pictures, price, availability and all other important details. Reach out to our expert team who will assist you and make sure your boats are 
listed in a beautiful way.
                                </p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-charter-step3.png') }}" alt="">
                                </div>
                                <h3>Start making money!</h3>
                                <p>
                                    Now you are ready to make sales through Zizoo. Just make sure your calendar is up to date and respond to requests in a timely fashion. We will handle the online marketing for you!
                                </p>
                            </li>
                        </ol>

                        <div class="columns three clearfix">
                            <section>
                                <h4>Ranking</h4>
                                <p>
                                    Reply to requests on time, get superb reviews and appear higher on rankings.
                                </p>
                            </section>
                            <section>
                                <h4>Booking</h4>
                                <p>
                                    Booking requests can be either accepted or rejected. You can see potential guest’s profiles and reviews about them, and you can contact them through our messaging system at any time.
                                </p>
                            </section>
                            <section>
                                <h4>Payment</h4>
                                <p>
                                    We have partnered with the World’s leading online payment provider - all transactions handled through us are safe.
                                </p>
                            </section>
                        </div>

                        <section class="more">
                            <h5>Get started now, it’s free! We only charge <strong>12%</strong> commission on each confirmed booking.</h5>
                            <p>
                                More reasons to love Zizoo?<br>
                                100% free to list, plus a lot more.<br>
                                <a href="#">Read on...</a>
                            </p>
                        </section>

                        <div class="expand">
                            <ul>
                                <li>
                                    <h6>Renter Profiles</h6>
                                    <p>
                                        View renters’ boating history and communicate with renters before they book.
                                    </p>
                                </li>
                                <li>
                                    <h6>Credibility &amp; Reviews</h6>
                                    <p>
                                        Each review builds the reputation of both you and your boat.
                                    </p>
                                </li>
                                <li>
                                    <h6>You’re in Control</h6>
                                    <p>
                                        Easily accept or decline any rental request.
                                    </p>
                                </li>
                                <li>
                                    <h6>Calendar</h6>
                                    <p>
                                        Set your boat availability and manage bookings.
                                    </p>
                                </li>
                                <li>
                                    <h6>Safe &amp; Secure Online Transactions</h6>
                                    <p>
                                        We handle the transactions and payouts securely.
                                    </p>
                                </li>
                                <li>
                                    <h6>List Any Type of Boat</h6>
                                    <p>
                                        List your sailboat, power boat, catamaran, fishing boat, and more!
                                    </p>
                                </li>
                                <li>
                                    <h6>Manage Multiple Boats/Listings</h6>
                                    <p>
                                        Manage boats anywhere in the World, from one account.
                                    </p>
                                </li>
                                <li>
                                    <h6>Traffic</h6>
                                    <p>
                                        We work with Google to drive traffic to your listing.
                                    </p>
                                </li>
                                <li>
                                    <h6>Support</h6>
                                    <p>
                                        Our world-class customer service team is standing by any time you need us.
                                    </p>
                                </li>
                                <li>
                                    <h6>Professional Photography</h6>
                                    <p>
                                        We want your boat to look its best and can send you a professional photographer to take photos of your boat.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="tab">
                    <header>
                        <h1>Book your dream trip in 3 easy steps</h1>
                    </header>
                    <div class="content">
                        <h2>How it Works</h2>
                        <ol class="steps">
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-holidayer-step1.png') }}" alt="">
                                </div>
                                <h3>Find a holiday</h3>
                                <p>
                                    Type in a dream destination and pick a boat that suits your needs. You will have real photos, reviews and a destination specific information to help you make your decision.
                                </p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-holidayer-step2.png') }}" alt="">
                                </div>
                                <h3>Make a booking</h3>
                                <p>
                                    Send a booking request to your top choice and receive a reply within 24 hours. If you have specific questions or want to contact several charters at once, just use our easy messaging system to contact charters directly.
                                </p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-holidayer-step3.png') }}" alt="">
                                </div>
                                <h3>Payment</h3>
                                <p>
                                    Once you have all the information and have submitted a booking request, you will either be charged directly through your credit card or will have 5 days to make a bank transfer. This only applies to the first installment of 50% - you can pay the rest 30 days before arrival in whichever method you chose.
                                </p>
                            </li>
                        </ol>

                        <div class="columns two clearfix">
                            <section>
                                <h4>Pay Securely</h4>
                                <p>
                                    We have partnered with the world’s leading online payment provider so that all transactions are handled through us are safe.
                                </p>
                            </section>
                            <section>
                                <h4>Reviews</h4>
                                <p>
                                    Make informed decisions based on previous experience of like-minded people: both guests and crew can review their trip.
                                </p>
                            </section>
                        </div>

                        <section class="more">
                            <h5>Get started now, it’s free!</h5>
                            <p>
                                Why holidayers love Zizoo<br>
                                <a href="#">Read on...</a>
                            </p>
                        </section>

                        <div class="expand">
                            <ul>
                                <li>
                                    <p>
                                        It’s simple: Zizoo provides a solution by making boating safer, more accessible, and less expensive. Zizoo opens up marine tourism to Experienced Sailors and Newbies alike who want to explore the world and have an amazing holiday experience on the sea!
                                    </p>
                                </li>
                                <li>
                                    <h6>Why do people love Zizoo?</h6>
                                    <p>
                                        Millions of people want to spend some relaxing or exciting time on a yacht, but are unable to for different reasons. Whether it’s due to a limited choice of rental boats in their area, or because ownership is too expensive, access to boats has been difficult for many. Zizoo provides a solution by making boat holidays safer, more accessible, and affordable.
                                    </p>
                                </li>
                                <li>
                                    <h6>Signup is free</h6>
                                    <p>
                                        Unlike boat clubs, Zizoo is 100% free to join.
                                    </p>
                                </li>
                                <li>
                                    <h6>Messaging</h6>
                                    <p>
                                        Easily message an owner to ask a question before booking directly through Zizoo.
                                    </p>
                                </li>
                                <li>
                                    <h6>All types of boat</h6>
                                    <p>
                                        From sailboats to powerboats and everything in between, you can find a variety of boats on Zizoo.
                                    </p>
                                </li>
                                <li>
                                    <h6>Booking</h6>
                                    <p>
                                        Book directly through Zizoo and manage your bookings at a glance.
                                    </p>
                                </li>
                                <li>
                                    <h6>Secure Transactions</h6>
                                    <p>
                                        We securely process and handle each transaction so you can book safely. 
                                    </p>
                                </li>
                                <li>
                                    <h6>Earn Reviews</h6>
                                    <p>
                                        You’ll build credibility with each review you receive, making it even easier to rent in the future.
                                    </p>
                                </li>
                                <li>
                                    <h6>Community</h6>
                                    <p>
                                        Zizoo is a social experience. You’ll meet new friends who also love boating through the Zizoo community.
                                    </p>
                                </li>
                                <li>
                                    <h6>Customer Support</h6>
                                    <p>
                                        Our world-class support crew is here to assist you anytime.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="tab">
                    <header>
                        <h1>Skipper</h1>
                    </header>
                    <div class="content">
                        <h2>Join our crew! <span>Coming soon</span></h2>
                        <ol class="steps">
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-skipper-step1.png') }}" alt="">
                                </div>
                                <h3>Create a profile</h3>
                                <p>
                                    Tell the Zizoo community about yourself. Where have you sailed? Share your favourite spots. Show you are an expert. Show Zizoo holiday makers how they can have a unique experience with you.
                                </p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-skipper-step2.png') }}" alt="">
                                </div>
                                <h3>Credentials</h3>
                                <p>
                                    Zizoo is all about trust. Upload your credentials, licences and information about your experience and get more jobs by making yourself the first choice for holidayers.
                                </p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="{{ asset('bundles/zizoobase/images/how-it-works-skipper-step3.png') }}" alt="">
                                </div>
                                <h3>Sharing and Photos</h3>
                                <p>
                                    Post photos, share your travel & work experiences. Be part of the Zizoo community and make sea travel even more fun for more people by sharing your amazing knowledge of the sea!
                                </p>
                            </li>
                        </ol>

                        <div class="columns three clearfix">
                        <h2>How will this work?</h2>
                            <section>
                                <h4>Calendar</h4>
                                <p>
                                    You will have your own calendar to manage bookings and show when you are available for work.
                                </p>
                            </section>
                            <section>
                                <h4>Languages</h4>
                                <p>
                                    Provide all your language skills and connect with customers who speak the same lingo as you!
                                </p>
                            </section>
                            <section>
                                <h4>Location</h4>
                                <p>
                                    Being a Skipper/Crew is all about freedom. Our platform will allow you to find jobs all year round anywhere in the world. You can work in the Mediterranean between May and September and in the Caribbean from December to January.
                                </p>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
            <!-- end:how it works -->

        </div>
    </div>
    <!-- end:content -->




{% endblock %}