{% extends 'ZizooBaseBundle:Page:index.html.twig' %}

{% block title %}How It Works{% endblock%}

{% block body %}

    {% render controller('ZizooAddressBundle:Address:searchBar') %}

    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:subnavigation -->
            <ul class="subnavigation how-it-works clearfix">
                <li><a href="#" title="Book Trip"><span class="icon suitcase"></span> Book Trip</a></li>
                <li><a href="#" title="Rent Boat"><span class="icon boat"></span> Rent Boat</a></li>
                <li><a href="#" title="Join Crew"><span class="icon sailor"></span> Join Crew</a></li>
            </ul>
            <!-- end:subnavigation -->

            <!-- start:how it works -->
            <section id="how-it-works" class="section">
                <header>
                    <h1>How it Works</h1>
                </header>

                <div class="content">
                    <section class="tab">
                        <h2>Book your Trip</h2>
                        <ol class="steps">
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step1.png') }}" alt="">
                                <h3>Find a holiday</h3>
                                <p>
                                    Type in a dream destination and pick a boat that suits your needs. You will have real photos, reviews and a destination specific information to help you make your decision.
                                </p>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step2.png') }}" alt="">
                                <h3>Make a booking</h3>
                                <p>
                                    Send a booking request to your top choice and receive a reply within 24 hours. If you have specific questions or want to contact several charters at once. Just use our easy messaging system to contact charters directly.
                                </p>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step3.png') }}" alt="">
                                <h3>Payment</h3>
                                <p>
                                    Once you have all the information and have submitted a booking request you will either be charged directly through your credit card or will have 5 days to make a bank transfer. This only applies to the first instalment of 50% - you can pay the rest 30 days before arrival in whichever method you chose.
                                </p>
                            </li>
                        </ol>
                    </section>
                    <section class="tab">
                        <h2>Rent a Boat</h2>
                        <ol class="steps">
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step1.png') }}" alt="">
                                <h3>Create your profile</h3>
                                <p>
                                    Create a Zizoo account with a short description about your business, where you are based and what makes you special. Include fotos – so holidayers can see what you are all about!
                                </p>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step2.png') }}" alt="">
                                <h3>List your boats - for free</h3>
                                <p>
                                    Create listing for your boats. Upload pictures, price, availability and all other important details. Reach out to our expert team who will assist you with and make sure your boats are listed in a beautiful way.
                                </p>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step3.png') }}" alt="">
                                <h3>Start making sales!</h3>
                                <p>
                                    Now you are ready to make sales through Zizoo. Just make sure your calendar is updated and respond to request in a timely fashion. We will handle the online marketing for you!
                                </p>
                            </li>
                        </ol>
                    </section>
                    <section class="tab">
                        <h2>Join the Crew</h2>
                        <ol class="steps">
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step1.png') }}" alt="">
                                <h3>Create a profile</h3>
                                <p>
                                    Tell the Zizoo community about yourself. Where have you sailed? Share your favourite spots. Show you are an expert. Show Zizoo holiday makers how they can have a unique experience with you.
                                </p>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step2.png') }}" alt="">
                                <h3>Calendar</h3>
                                <p>
                                    You will have your own calendar to manage bookings and show when you are available for work.
                                </p>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step3.png') }}" alt="">
                                <h3>Find jobs</h3>
                                <p>
                                    Being a Skipper/Crew is all about freedom. Our platform will allow you to find jobs all year round anywhere in the world. You can work in the Mediterranean between May and September and in the Caribbean from December to January. 
                                </p>
                            </li>
                        </ol>
                    </section>
                </div>
            </section>
            <!-- end:how it works -->

        </div>
    </div>
    <!-- end:content -->
{% endblock %}