{% extends 'ZizooBaseBundle::layout.html.twig' %}
{% form_theme form 'ZizooAddressBundle:Form:fields.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/chosen.jquery.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chosen.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="span8 hero-unit">
        <h1>Boats!</h1>
        {% for boat in boats %}
            <div class="boat-carousel">
                <h2><a href="{{ path('ZizooBoatBundle_show', { 'id': boat.id }) }}">{{ boat.name }}</a></h2>
                <h3>{{ boat.title }}</h3>
                <section class="images-carousel">
                    <a href="{{ path('ZizooBoatBundle_show', { 'id': boat.id }) }}">{% include 'ZizooBoatBundle:Image:index.html.twig' with { 'images': boat.image, 'single': true } %}</a>
                </section>
                <section class="user-carousel">
                    {% if boat.charter.picture is not null %}
                        <img src="{{ asset(boat.charter|pictureWebPath) }}" alt="image not found" class="large" />
                    {% endif %}
                    <a href="{{ path('ZizooCharterBundle_show', { 'id': boat.charter.id }) }}"> <p>{{ boat.charter.charterName }}</p></a>
                </section>
            </div>
        {% else %}
            <p>There are no boats available</p>
        {% endfor %}
    </div>
    <div class="span4 hero-unit">
        <form id="search_form" action="{{ path('ZizooAddressBundle_locations') }}" method="get">
            {{ form_widget(form) }}
            <input type="submit" value="Search" />
        </form>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#zizoo_boat_search_location').chosen();
                
                var clearBtnFnc1 = function(input) {
                        setTimeout(function() {
                            var buttonPane = $( input )
                                .datepicker( "widget" )
                                .find( ".ui-datepicker-buttonpane" );
                            var btn = $( '<button class="ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all" type="button">Clear</button>');
                            btn.unbind("click")  .bind("click", function () {  
                                $.datepicker._clearDate( input ); 
                            });
                            btn.appendTo(buttonPane);
                        }, 1 );
                    };

                var clearBtnFnc2 = function(yes, month, inst) {
                        setTimeout(function() {
                            var buttonPane = $( this )
                                .datepicker( "widget" )
                                .find( ".ui-datepicker-buttonpane" );
                            var btn = $( '<button class="ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all" type="button">Clear</button>');
                            btn.unbind("click")  .bind("click", function () {  
                               $.datepicker._clearDate( inst.input ); 
                            });
                            btn.appendTo(buttonPane);
                        }, 1 );
                    };

                $( "#zizoo_boat_search_reservation_from" ).datepicker({
                    defaultDate: "+1d",
                    changeMonth: true,
                    numberOfMonths: 1,
                    showAnim: 'slideDown',
                    dateFormat: 'dd/mm/yy',
                    showButtonPanel: true,
                    beforeShow: clearBtnFnc1,
                    onChangeMonthYear: clearBtnFnc2,
                    onClose: function( selectedDate ) {
                        $( "#reservation_to" ).datepicker( "option", "minDate", selectedDate );
                    }
                });
                $( "#zizoo_boat_search_reservation_to" ).datepicker({
                    defaultDate: "+1d",
                    changeMonth: true,
                    numberOfMonths: 1,
                    showAnim: 'slideDown',
                    dateFormat: 'dd/mm/yy',
                    showButtonPanel: true,
                    beforeShow: clearBtnFnc1,
                    onChangeMonthYear: clearBtnFnc2,
                    onClose: function( selectedDate ) {
                        $( "#zizoo_boat_search_reservation_from" ).datepicker( "option", "maxDate", selectedDate );
                    }
                });
            });
        </script>
        
        <h1><a href="{{ path('ZizooAddressBundle_locations') }}">Browse!</a></h1>
    </div>
{% endblock %}
    
{% block row %}
    {% if main is defined and main %}
        <div class="row">
            <div class="span4">
                <h2>Ride The Waves</h2>
                <p>Renting a boat is your way to a unique vacation.</p>
                <p><a class="btn" href="{{ path('ZizooBaseBundle_how') }}">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Rent Your Boat</h2>
                <p>Find out how and why to add your boat.</p>
                <p><a class="btn" href="{{ path('ZizooBaseBundle_how') }}">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Be a Skipper</h2>
                <p>Find out how and why to be a skipper.</p>
                <p><a class="btn" href="{{ path('ZizooBaseBundle_how') }}">View details &raquo;</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}