{% extends 'ZizooBaseBundle::layout.html.twig' %}

    {% block navigation %}
    {% if user is defined and user %}

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand active" href="{{ path('ZizooBaseBundle_homepage') }}">Zizoo</a>
              <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  <li class="active"><a href="{{ path('ZizooBaseBundle_homepage') }}">Home</a></li>
                  <li><a href="{{ path('ZizooBaseBundle_about') }}">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dashboard {{ user.username | default("none") }}</a></li>
                      <li><a href="#">My Profile</a></li>
                      <li><a href="#">My Bookings</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Account</li>
                      <li><a href="#">Settings</a></li>
                      <li><a href="{{ path('logout') }}">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

    {% else %}
        {{ parent() }}
    {% endif %}    
    {% endblock %} 

{% block body %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="span8 hero-unit">
        <h1>Boats!</h1>
        {% for boat in boats %}    
            <h2><a href="{{ path('ZizooBoatBundle_boat_show', { 'id': boat.id }) }}">{{ boat.name }}</a></h2>
        {% else %}
            <p>There are no blog entries for symblog</p>
        {% endfor %}
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="span4 hero-unit">
         <h1>Search!</h1>
    </div>
{% endblock %}
    
{% block row %}    
    <div class="span4">
        <h2>Ride The Waves</h2>
        <p>Renting a boat is your way to a unique vacation.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Rent Your Boat</h2>
        <p>Find out how and why to add your boat.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Be a Skipper</h2>
        <p>Find out how and why to be a skipper.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
{% endblock %}