{% extends 'ZizooBaseBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/chosen.jquery.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chosen.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    
    <!-- start:slideshow -->
    <div id="slideshow">

        <!-- start:rotators -->
        <ul class="rotators">
            <li style="background-image: url({{ asset('bundles/zizoobase/images/slideshow/slide1.jpg') }});"></li>
            <li style="background-image: url({{ asset('bundles/zizoobase/images/slideshow/slide2.jpg') }});"></li>
        </ul>
        <!-- end:rotators -->

        <!-- start:container -->
        <div class="container">

            <a href="#" class="arrow prev"></a>

            <!-- start:search -->
            {% render controller('ZizooAddressBundle:Address:searchBlock') %}
            <!-- end:search -->

            <a href="#" class="arrow next"></a>

        </div>
        <!-- end:container -->

        <!-- start:bottom -->
        <div class="bottom">
            <ol class="links clearfix" data-rotator="slideshow">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ol>

            <div class="container clearfix">
                <ul class="clearfix">
                    <li><a href="" title="Lagoon">Lagoon</a></li>
                    <li><a href="" title="Abigail sailing club"><strong>Abigail sailing club</strong></a></li>
                    <li><span class="icon location white"></span> <a href="" title="Barcelona, Span">Barcelona, Span</a></li>
                    <li class="price">6,600 &euro; <small>(per week)</small></li>
                </ul>
            </div>
        </div>
        <!-- end:bottom -->

    </div>
    <!-- end:slideshow -->
    
    <!-- start:how it works short -->
    <section id="how-it-works-short" class="container">
        <h2>How it Works</h2>
        <div class="columns clearfix">
            <section class="book">
                <h3>Book<br> your Trip</h3>
                <a href="{{ path('ZizooBaseBundle_how') }}" class="button blue" title="Search">Search</a>
            </section>

            <section class="add">
                <h3>Add<br> your Boat</h3>
                <a href="{{ path('ZizooBaseBundle_how') }}" class="button blue" title="Add">Add</a>
            </section>

            <section class="join">
                <h3>Join Skipper<br> Community</h3>
                <a href="{{ path('ZizooBaseBundle_how') }}" class="button blue" title="Join">Join</a>
            </section>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
        </p>
    </section>
    <!-- end:how it works short -->

    <!-- start:inspire me -->
    <section id="inspire-me">
        <h3><span class="container">Inspire Me</span></h3>

        <!-- start:locations -->
        <div class="container">
            <div class="locations clearfix">
                <article>
                    <img src="{{ asset('bundles/zizoobase/images/temp/hvar.jpg') }}" class="location" alt="">
                    <div class="content">
                        <h4>Hvar</h4>
                        August / 7 Guests
                        <span class="seal hot"></span>
                    </div>
                    <div class="details clearfix">
                        <div class="top">
                            Hvar | Aug | 7 Guests
                        </div>
                        <figure>
                            <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                            <figcaption class="clearfix">
                                Galeon 550 Fly <span class="icon minus"></span>
                                <span class="seal hot"></span>
                            </figcaption>
                        </figure>
                        <div class="book">
                            <h5>7 Incredible Nights! <span class="price">110,000 &euro;</span></h5>
                            <a href="" class="button orange" title="Book It">Book It</a>
                        </div>
                    </div>
                </article>

                <article>
                    <img src="{{ asset('bundles/zizoobase/images/temp/capri.jpg') }}" class="location" alt="">
                    <div class="content">
                        <h4>Capri</h4>
                        August / 4 Guests
                        <span class="seal hot"></span>
                    </div>
                    <div class="details clearfix">
                        <div class="top">
                            Capri | Aug | 4 Guests
                        </div>
                        <figure>
                            <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                            <figcaption class="clearfix">
                                Galeon 550 Fly <span class="icon minus"></span>
                                <span class="seal hot"></span>
                            </figcaption>
                        </figure>
                        <div class="book">
                            <h5>4 Incredible Nights! <span class="price">9,000 &euro;</span></h5>
                            <a href="" class="button orange" title="Book It">Book It</a>
                        </div>
                    </div>
                </article>

                <article>
                    <img src="{{ asset('bundles/zizoobase/images/temp/crete.jpg') }}" class="location" alt="">
                    <div class="content">
                        <h4>Crete</h4>
                        July / 3 Guests
                        <span class="seal hot"></span>
                    </div>
                    <div class="details clearfix">
                        <div class="top">
                            Crete | Jul | 3 Guests
                        </div>
                        <figure>
                            <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                            <figcaption class="clearfix">
                                Galeon 550 Fly <span class="icon minus"></span>
                                <span class="seal hot"></span>
                            </figcaption>
                        </figure>
                        <div class="book">
                            <h5>4 Incredible Nights! <span class="price">90,000 &euro;</span></h5>
                            <a href="" class="button orange" title="Book It">Book It</a>
                        </div>
                    </div>
                </article>

                <article>
                    <img src="{{ asset('bundles/zizoobase/images/temp/hvar.jpg') }}" class="location" alt="">
                    <div class="content">
                        <h4>Mallorca</h4>
                        June / 3 Guests
                        <span class="seal hot"></span>
                    </div>
                    <div class="details clearfix">
                        <div class="top">
                            Mallorca | Jun | 3 Guests
                        </div>
                        <figure>
                            <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                            <figcaption class="clearfix">
                                Galeon 550 Fly <span class="icon minus"></span>
                                <span class="seal hot"></span>
                            </figcaption>
                        </figure>
                        <div class="book">
                            <h5>5 Incredible Nights! <span class="price">230,500 &euro;</span></h5>
                            <a href="" class="button orange" title="Book It">Book It</a>
                        </div>
                    </div>
                </article>

                <article>
                    <img src="{{ asset('bundles/zizoobase/images/temp/brijuni.jpg') }}" class="location" alt="">
                    <div class="content">
                        <h4>Crete</h4>
                        April / 5 Guests
                        <span class="seal hot"></span>
                    </div>
                    <div class="details clearfix">
                        <div class="top">
                            Brijuni | Apr | 5 Guests
                        </div>
                        <figure>
                            <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                            <figcaption class="clearfix">
                                Galeon 550 Fly <span class="icon minus"></span>
                                <span class="seal hot"></span>
                            </figcaption>
                        </figure>
                        <div class="book">
                            <h5>10 Incredible Nights! <span class="price">75,000 &euro;</span></h5>
                            <a href="" class="button orange" title="Book It">Book It</a>
                        </div>
                    </div>
                </article>

                <article>
                    <img src="{{ asset('bundles/zizoobase/images/temp/zakynthos.jpg') }}" class="location" alt="">
                    <div class="content">
                        <h4>Zakynthos</h4>
                        March / 4 Guests
                        <span class="seal hot"></span>
                    </div>
                    <div class="details clearfix">
                        <div class="top">
                            Zakynthos | Mar | 4 Guests
                        </div>
                        <figure>
                            <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                            <figcaption class="clearfix">
                                Galeon 550 Fly <span class="icon minus"></span>
                                <span class="seal hot"></span>
                            </figcaption>
                        </figure>
                        <div class="book">
                            <h5>25 Incredible Nights! <span class="price">800,000 &euro;</span></h5>
                            <a href="" class="button orange" title="Book It">Book It</a>
                        </div>
                    </div>
                </article>

                <div class="more">
                    <a href="" title="Show more">Show more</a>
                </div>
            </div>
        </div>
        <!-- end:locations -->

    </section>
    <!-- end:inspire me -->

{% endblock %}