{% trans_default_domain "labels" %}

{% if logged_in %}

    <!-- start:header -->
    <header id="header">

        <!-- start:container -->
        <div class="container clearfix">

            <a href="{{ path('ZizooBaseBundle_homepage') }}" class="logo" title="Back to Homepage">The Sea Awaits <small>Boat Rentals made Easy</small></a><br>
            <nav class="clearfix">
                <ul class="menu clearfix">
                    <li><a href="{{ path('ZizooBaseBundle_how') }}" title="How it Works">How it Works</a></li>
                    <li><a href="{{ path('ZizooBaseBundle_homepage') }}" title="Home">Home</a></li>
                </ul>
                <br>
                <div class="dropdown selectboxit-container">
                    <span class="selectboxit white">
                        <span class="selectboxit-text">My Account</span>
                        <span class="selectboxit-arrow-container"><span></span></span>
                    </span>
                    <ul class="selectboxit-options white">
                        <li><a href="{{ path('ZizooBaseBundle_Dashboard_CharterDashboard') }}">Dashboard</a></li>
                        <li class="borderless"><a href="{{ path('ZizooBaseBundle_Dashboard_CharterProfile') }}">My Profile</a></li>
                        <li><a href="">Settings</a></li>
                        <li class="borderless"><a href="{{ path('ZizooBaseBundle_Dashboard_AccountSettings') }}">Account Settings</a></li>
                        <li><a href="{{ path('ZizooUserBundle_logout') }}">Logout</a></li>
                    </ul>
                </div>
                <a href="{{ path('ZizooBaseBundle_Dashboard_CharterNewBoat') }}" class="button orange small" title="List Your Boats"><span></span> List Your Boats</a>
            </nav>

        </div>
        <!-- end:container -->

    </header>
    <!-- end:header -->
{% else %}
    {% include 'ZizooBaseBundle:Page:guest_header.html.twig' %}
{% endif %}
