{% trans_default_domain "labels" %}

{% if logged_in %}
<div id="login_widget" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand active" href="{{ path('ZizooBaseBundle_homepage') }}">Zizoo</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="active"><a href="{{ path('ZizooBaseBundle_homepage') }}">Home</a></li>
                    <li><a href="{{ path('ZizooBaseBundle_how') }}">How it works</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ user.username | default("none") }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('ZizooBaseBundle_dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ path('ZizooBaseBundle_dashboard_profile') }}">My Profile</a></li>
                            <li><a href="{{ path('zizoo_view_all_booking') }}">My Bookings</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Account</li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    <li class="add-boat"><a href="#">Add Boat</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% else %}
<div id="login_widget" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand active" href="{{ path('ZizooBaseBundle_homepage') }}">Zizoo</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% if show_login_form %}
                        <li>
                            <form class="navbar-form pull-right" action="{{ path('login_check') }}" method="post">
                                <input class="span2" type="text" name="_username" placeholder="Email or username">
                                <input class="span2" type="password" name="_password" placeholder="Password">
                                <button type="submit" class="btn">Login</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a id="login_link" href="{{ path('login') }}">Login</a></li>
                    {% endif %}
                    <li><a id="register_link" href="{{ path('register') }}">Register</a></li>
                    <li><a href="#">Add Boat</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endif %}
