{# src/Zizoo/UserBundle/Resources/views/Form/fields.html.twig #}  

{% block zizoo_change_email_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {{ block('form_label') }}
        <script type="text/javascript">
            $(document).ready(function(){
                $('label[for="{{id}}"]').click(function(){
                    $('#{{id}}').attr('disabled', null);
                });
            });
        </script>
    {% endif %}
{% endspaceless %}
{% endblock zizoo_change_email_label %}
  
{% block zizoo_invite_single_widget %}
    {% spaceless %}
    <div>
    {{ form_widget(form) }}
    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>
    </div>
    {% endspaceless %}
{% endblock zizoo_invite_single_widget %}
        
{% block zizoo_invite_widget %}
    {% set prototype = form_widget(form.emails.vars.prototype)|extractJavaScript %}
    <ul id="invite_emails" data-prototype="{{ prototype[0]|e }}" data-js-prototype="{{ prototype[1]|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for email in form.emails %}
            <li>{{ form_row(email) }}</li>
        {% endfor %}
    </ul>
    
    {{ form_rest(form) }}

    <script type="text/javascript">
        // Get the ul that holds the collection of tags
        var collectionHolder = $('#invite_emails');

        // setup an "add a tag" link
        var $addEmailLink = $('<a href="#" class="add_email_link">Add an email</a>');
        var $newLinkLi = $('<li class="control"></li>').append($addEmailLink);

        function addEmailForm(collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype   = collectionHolder.data('prototype');
            var jsPrototype = collectionHolder.data('js-prototype');
            // get the new index
            var index = collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm     = prototype.replace(/__name__/g, index);
            var newScript   = jsPrototype.replace(/__name__/g, index);
            
            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            $newFormLi.append(newScript);
            addEmailFormDeleteLink($newFormLi);
        }
        
        function addEmailFormDeleteLink($emailFormLi) {
            var $removeFormA = $('<a href="#">Remove</a>');
            $emailFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $emailFormLi.remove();
            });
        }

        jQuery(document).ready(function() {
            // add the "add an email" anchor and li to the tags ul
            collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            $addEmailLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addEmailForm(collectionHolder, $newLinkLi);
            });
            
            collectionHolder.children('li:not(.control)').each(function(){
                addEmailFormDeleteLink($(this));
            });
        });
    </script>
{% endblock zizoo_invite_widget %}