{% block body %}
    <div class="accept_reservation" id="{% if ajax %}accept_reservation_inner_ajax{% else %}accept_reservation_inner{% endif %}">
        {% if overlap_requested_reservations|length > 0 %}
            <p>The following requested reservations will be denied:</p>
            <ul>
                {% for reservation in overlap_requested_reservations %}
                    <li>{{ reservation.checkIn|date }} - {{ reservation.checkOut|date }} ({{ reservation.id}})</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{{ path(routes['accept_booking'], {id: booking.id}) }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="accept" value="Accept" />
        </form>
        <form action="{{ path(routes['view_booking'], {id: booking.id}) }}" method="post">
            <input type="submit" name="cancel" value="Cancel" />
        </form>
    </div>
{% endblock %}