{% block content %}

    <div>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage}}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-error">
                {{ flashMessage}}
            </div>
        {% endfor %}

        <!-- start:filter -->
        <div id="boat-filter" class="filter">
            <form method="get" id="filter_form" action="{{ routes['complete_route'] }}">
                <ul class="clearfix">
                    <li>
                        <select name="sort" id="sort" autocomplete="off" class="gray small">
                            <option value="b.id"{% if pagination.isSorted('b.id') %} selected="selected"{% endif %}>Id</option>
                            <option value="b.name"{% if pagination.isSorted('b.name') %} selected="selected"{% endif %}>Name</option>
                        </select>
                    </li>
                    <li>
                        <select name="direction" id="direction" autocomplete="off" class="gray small">
                            <option value="asc"{% if direction=='asc' %} selected="selected"{% endif %}>Ascending</option>
                            <option value="desc"{% if direction =='desc' %} selected="selected"{% endif %}>Descending</option>
                        </select>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li>
                        <label for="page_size">Show Boats:</label>
                        <select class="gray small" name="page_size" id="page_size">
                            {% for key,val in page_sizes %}
                            <option value="{{ key }}" {% if key == page_size %}selected="selected"{% endif %}>{{ val }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li><input type="text" name="boat_name" placeholder="Boat Name" {% if search_boat_name %}value="{{ search_boat_name }}"{% endif %} /></li>
                    <li>
                         <select name="listing_status" id="listing_status" class="gray small">
                            {% for key, status in listing_statuses %}
                                <option value="{{ key }}" {% if key==listing_status %}selected="selected"{% endif %}>{{ status }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <select name="boat_type" autocomplete="off" class="gray small">
                            <option value="">All Types</option>
                            {% for boat_type in boat_types %}
                                <option value="{{ boat_type.id }}" {% if search_boat_type==boat_type.id %}selected="selected"{% endif %}>{{ boat_type.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="submit">
                        <button type="submit" class="button blue small">Filter</button>
                    </li>
                </ul>
            </form>
        </div>
        <!-- end:filter -->

        <!-- start:trips -->
        <div id="boats" class="trips boats">
            <div class="page" id="page_{{ page }}">
                <input type="hidden" class="page_num" value="{{ page }} " />
                <input type="hidden" class="request_uri" value="{{ request_uri }} " />
                {% for boat in pagination %}

                    {% include "ZizooCharterBundle:Charter:boat_admin_bar.html.twig" with { boat: boat } %}

                {% endfor %}
            </div>
        </div>

        {# display navigation #}
        <div id="navigation_container">
            <div id="navigation">
                {{ pagination.setTemplate('ZizooBaseBundle:Elements:pagination_sliding_charter_boats.html.twig') }}
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

        <div id="active_error_popup" style="display: none">
        </div>
        
        <style type="text/css">

        </style>

        <script type="text/javascript">
            var routes;
            
            function doBlock(block){
                if (block){
                    $('#navigation_container').block({ message: null }); 
                    $('#boats').block({ message: null }); 
                    $('#boat-filter').block({ message: null });
                } else {
                    $('#navigation_container').unblock();
                    $('#boats').unblock();
                    $('#boat-filter').unblock();
                }
            }

            function setupActiveToggle(){
                $('#boats .toggle').zToggle({
                    text_off:       'Hidden',
                    text_on:        'Active',
                    onToggle:       activeToggle
                });
                
                $('#boats a.boat, #boats .buttons a').click(function(){
                    if ($(this).hasClass('disabled')){
                        return false;
                    } else {
                        return true;
                    }
                });
            }

            function setupFilter(){

                
                $('#filter_form').submit(function(){
                    doBlock(true);
                    $.ajax({
                        type: 'get',
                        data: $('#filter_form').serialize(),
                        success: function(data, textStatus, XHR){
                            var newPage = $(data).find('#boats .page_num').val();
                            var newUrl = $(data).find('#boats .request_uri').val();
                            $('#boats').html($(data).find('#boats'));
                            $('#navigation').html($(data).find('#navigation'));
                            
                            setupActiveToggle();
                            
                            window.history.pushState('string', 'title', newUrl);
                            doBlock(false);
                        }
                    });
                    return false;
                });
            }
            
            function openActiveErrorPopup(){
                $('#active_error_popup').dialog({
                    modal: true,
                    closeOnEscape: false,
                    resizable: false,
                    width: 470,
                    maxWidth: 470,
                    fluid: true,
                    title: 'Error'
                });
            }

            function closeActiveErrorPopup(){
                $('#active_error_popup').dialog('close');
            }
            
            function fillActiveError(json){
                $('#active_error_popup').html('');
                var h = json.boat_active == true ? 'Boat was activated, but errors occurred:' : 'Boat could not be activated because:';
                $('#active_error_popup').append('<h2>'+h+'</h2>')
                $.each(json.errors, function(val_group, val_group_errors) {
                    $('#active_error_popup').append('<ul id="error_'+val_group+'"></ul>')
                    $.each(val_group_errors, function(index, val_group_error) {
                        $('#active_error_popup #error_'+val_group).append('<li>'+val_group_error+'</li>');
                    });
                });
            }
            
            function setView(toggle, json){
                var viewButton = $(toggle).parents('.actions').siblings('.buttons').find('.view_btn');
                var box = $(toggle).parents('.trip').children('.box').children('a');
                if (json.boat_active==true){
                    $(viewButton).removeClass('disabled');
                    $(box).removeClass('disabled');
                } else {
                    $(viewButton).addClass('disabled');
                    $(box).addClass('disabled');
                }
            }
            
            function activeToggle(active, toggle){

                doBlock(true);
                $.ajax({
                    type: 'post',
                    url: $(toggle).parent('form').attr('action'),
                    data: $(toggle).parent('form').serialize()+'&'+$('#filter_form').serialize()+$.param(routes),
                    dataType: 'json',
                    success: function(json, textStatus, XHR){
                        $(toggle).parent('form').find('input[name="active"]').val(!json.boat_active);
                        $(toggle).zToggle('setState', json.boat_active, false);
                        setView(toggle, json);
                        doBlock(false);
                    },
                    error: function(data, textStatus, XHR){
                        var json = $.parseJSON(data.responseText);
                        $(toggle).parent('form').find('input[name="active"]').val(!json.boat_active);
                        $(toggle).zToggle('setState', json.boat_active, false);
                        setView(toggle, json)
                        fillActiveError(json);
                        openActiveErrorPopup();
                        doBlock(false);
                    }
                });
            }

            $(document).ready(function(){

                routes = { 
                    routes: {{ routes|json_encode|raw }}
                };

                setupFilter();

                setupActiveToggle();

                $('#navigation').delegate('a', 'click', function(){
                    doBlock(true);
                    var newUrl = $(this).attr('href');
                    $.ajax({
                        type: 'get', 
                        url: newUrl,
                        success: function(data, textStatus, XHR){
                            $('#boats').html($(data).find('#boats'));
                            $('#navigation').html($(data).find('#navigation'));
                            window.history.pushState('string', 'title', newUrl);
                            setupActiveToggle();
                            doBlock(false);
                        },
                        failure: function(data, textStatus, XHR){
                            doBlock(false);
                        }
                    });
                    return false;
                });

            });

        </script>
        
    </div>
    
{% endblock %}