<article class="trip clearfix">
    <div class="box">
        {% if boat.active %}
            <a href="{{ path('ZizooBoatBundle_Boat_Show', {id: boat.id}) }}" class="boat gray clearfix">
        {% else %}
            <a href="#" class="boat disabled clearfix">
        {% endif %}
            <figure>
                {% if boat.image.first != false %}
                <img src="{{ asset(boat.image.first|pictureWebPath|imagine_filter('thumb_190x_')) }}" alt="" />
                {% else %}
                <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                {% endif %}
                <figcaption class="clearfix">
                    {{ boat.name }} <span class="icon plus"></span>
                </figcaption>
            </figure>
            <div class="left">
                ?? Reviews
            </div>
            <div class="right">
                from <strong>{{ boat.lowestPrice|number_format(2) }} &euro;</strong>
            </div>
        </a>
    </div>
    <div class="info">
        <h2>{{ boat.title }}</h2>
        <ul class="actions clearfix">
            <li>{{ boat.address.locality }}, {{ boat.address.country }}</li>
            {% if boat.status %}
                <li>Complete <span class="icon complete"></span></li>
            {% else %}
                <li>Incomplete <span class="icon incomplete"></span></li>
            {% endif %}
            <li>
                <form>
                    <input type="hidden" name="boat_id" value="{{ boat.id }}" />
                    <input type="hidden" name="active" value="{{ boat.active }}" />
                    <a href="#" class="toggle {% if not boat.active %} off{% endif %}"></a>
                </form>
            </li>
        </ul>
        <ul class="buttons clearfix">
            {% if boat.active %}
                <li><a href="{{ path('ZizooBoatBundle_Boat_Show', {id: boat.id}) }}" class="button blue medium">View</a></li>
            {% else %}
                <li><a href="#" class="button disabled medium">View</a></li>
            {% endif %}
            <li><a href="{{ path('ZizooBaseBundle_Dashboard_CharterEditBoat', {id: boat.id}) }}" class="button blue medium">Edit</a></li>
            <li><a href="{{ path('ZizooBaseBundle_Dashboard_CharterEditPriceBoat', {id: boat.id}) }}" class="button blue medium">Calendar</a></li>
            <li><a href="{{ path('ZizooBaseBundle_Dashboard_CharterDeleteBoat', {id: boat.id}) }}" class="button blue medium">
                {% if boat.deleted is null %}Delete{% else %}Undelete{% endif %}
            </a></li>
        </ul>
    </div>
</article>