   
{% block dashboard_page_title %}My Bookings{% endblock %}

{% block stylesheets %}
    
    <link href="{{ asset('css/custom_combobox.css') }}" type="text/css" rel="stylesheet" />

    <style type="text/css">

        .dataTables_length {
            display: none;
        }

        .dataTables_filter {
            display: none;
        }
    </style>
{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('js/custom_combobox.js') }}"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="{{ asset('bundles/zizoobase/js/zizoo-datatables.js') }}"></script>

    <script type="text/javascript">
        var status = {{ status_options|raw }};
        
        function renderStatus(data, type, row){
            return status[type];
        }
        
        function renderDate(data, type, row){
            var d = new Date(type);
            return $.datepicker.formatDate('dd/mm/yy', d);
        }
                
        $(document).ready(function() {
            
            
            
        } );
    </script>
{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage}}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flashMessage}}
        </div>
    {% endfor %}

    <!-- start:filter -->
    <div id="custom_filter" class="filter">
        <form action="#">
            <ul class="clearfix">
                <li><input name="booking" type="text" placeholder="Booking"></li>
                <li><input name="boat" type="text" placeholder="Boat"></li>
                <li><input name="guest" type="text" placeholder="Guest"></li>

                <li><input name="start_date" type="text" class="date-picker start" value="2013-07-09" ></li>
                <li><input name="end_date" type="text" class="date-picker end" value="2013-07-10" ></li>

                <li>
                    <option>
                    <select name="status" class="gray small">
                        <option value="">All</option>
                        <option value="Requested">Requested</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Expired">Expired</option>
                        <option value="Denied">Denied</option>
                        <option value="Reserved">Reserved</option>
                        <option value="Hold">Hold</option>
                    </select>
                </li>
            </ul>
        </form>
    </div>
    <!-- end:filter -->

    <!-- start:table -->
    <div class="responsive-table clearfix">
        {{ datatables(datatable) }}
        <table id="table_bookings">
            <thead>
                <tr>
                    <th>Booking</th>
                    <th>Boat</th>
                    <th>Guest</th>
                    <th>Created</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Status</th>
                    <th>Hours</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- end:table -->
    
    <div class="contextMenu" id="contextMenu" style="display: none">
        <ul style="width: 400px">
            <li id="open">
                <span class="ui-icon ui-icon-folder-open" style="float:left"></span>
                <span style="font-size:11px; font-family:Verdana">Open</span>
            </li>
            <li id="view_guest_profile">
                <span class="ui-icon ui-icon-search" style="float:left"></span>
                <span style="font-size:11px; font-family:Verdana" >View guest profile</span>
            </li>
        </ul>
    </div>
    
{% endblock %}