{% extends 'ZizooCharterBundle::layout.html.twig' %}

{% trans_default_domain "labels" %}

{% block body %}

    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:about -->
            <section id="user" class="section">
                <h2>{{ charter.charterName }}</h2>
                <div class="avatar">
                    {% if charter.logo is not null %}
                        <img src="{{ asset(charter.logo|pictureWebPath) }}" alt="image not found" class="large" />
                    {% endif %}
                </div>
            </section>

            <section id="results">
                {% render controller('ZizooCharterBundle:Charter:showBoats', {id: charter.id, page: 1}) %}
            </section>

            <!-- start:sidebar -->
            <aside id="sidebar" class="right clearfix">
                <!-- start:avatar -->
                <div class="avatar">
                    <figure>
                        {% if charter.logo is not null %}
                            <img src="{{ asset(charter.logo|pictureWebPath) }}" alt="{{ charter.charterName }}" class="large" id="logo_img" />
                        {% else %}
                            <img src="{{ asset('bundles/zizoobase/images/default/avatar-user.png'|imagine_filter('thumb_190x_')) }}" alt="Charter logo not set" id="logo_img" />
                        {% endif %}
                        <figcaption>
                            {{ charter.charterName }}
                        </figcaption>
                    </figure>
                    <div id="message_coming_soon" style="display: none">
                        <h1>Hold tight!</h1>
                        <h2>Messaging functionality is coming soon!</h2>
                    </div>
                    <a href="#" id="send_message_btn" class="button blue big" title="Send Message">Send Message</a>
                </div>
                <!-- end:avatar -->

                {% if map is not null %}
                    <!-- start:map -->
                    {{ google_map_container(map) }}
                    <!-- end:map -->
                {% endif %}
            </aside>
            <!-- end:sidebar -->
        </div>
    </div>
    <!-- end:content -->

    {{ google_map_js(map) }}

{% endblock %} 
