<form action="{{ path(formAction, { 'id': boat.id, 'formRedirect': formRedirect }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    {# Displays Marina Map #}
    {{ google_map_container(map) }}
        
    <button type="submit">Save</button>
</form>
    
{{ google_map_js(map) }} 