<div id="booking_widget">
    <div id="booking_widget_inner">
        <form id="availability_form" action="{{ url }}" method="get" class="form">

            <!-- start:price -->
            <div class="price">
                <table id="booking_price_container">
                    <tbody>
                        <tr>
                            <td>Price</td>
                            <td>{{ book_boat|BookBoat_price(subtotal)|raw}}</td>
                        </tr>
                        {% if boat.crewOptional == true %}
                        <tr>
                            <td><div id="crew_outer_container"><span id="crew_container" class="row">{{ form_widget(form.crew) }}</span> Crew {{ form_errors(form.crew) }}</div></td>
                            <td>{{ book_boat|BookBoat_price(crew_price)|raw}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>{{ book_boat|BookBoat_price(total)|raw}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- end:price -->

            <input type="hidden" name="url" value="{{ url }}" />
            <input type="hidden" name="ajax_url" value="{{ ajax_url }}" />

            <!-- start:summary -->
            <div class="summary">
                <ul class="clearfix">
                    {% if boat.minimumDays %}
                        {{ boat.minimumDays ~ " " ~ "zizoo_boat.booking.min_days"|trans }}
                    {% endif %}
                    <li>
                        <span class="icon calendar black"></span>
                        <span class="field">{{ form_widget(form.reservation_range.reservation_from) }}</span>
                        {{ form_errors(form.reservation_range.reservation_from) }}
                    </li>
                    <li>
                        <span class="icon calendar black"></span>
                        <span class="field">{{ form_widget(form.reservation_range.reservation_to) }}</span>
                        {{ form_errors(form.reservation_range.reservation_to) }}
                    </li>
                    {% if form.reservation_range.vars.errors|length > 0 %}
                    <li>
                        {{ form_errors(form.reservation_range) }}
                    </li>
                    {% endif %}
                    <li>
                        <span class="icon hash black"></span>
                        <span class="field">{{ form_widget(form.num_guests) }}</span>
                        {% if form.num_guests.vars.errors|length > 0 %}
                            {{ form_errors(form.num_guests) }}
                        {% endif %}
                    </li>
                    <li>
                        {{ form_errors(form) }}
                    </li>
                </ul>
                <noscript>
                   <button type="submit" class="button orange big" title="Calculate">Calculate</button>
                </noscript>
            </div>
            <!-- end:summary -->  
        </form>
        {% if valid == true %}
            <form id="booking_form" action="{{ book_url }}" method="get">
                <input name="zizoo_boat_book[reservation_from]" type="hidden" value="{{ form.vars.value.reservationRange.reservationFrom is empty ? "" : form.vars.value.reservationRange.reservationFrom|date }}" autocomplete="off" />
                <input name="zizoo_boat_book[reservation_to]" type="hidden" value="{{ form.vars.value.reservationRange.reservationTo is empty ? "" : form.vars.value.reservationRange.reservationTo|date }}" autocomplete="off" />
                <input name="zizoo_boat_book[num_guests]" type="hidden" value="{{ form.vars.value.numGuests }}" />
                <button type="submit" id="book_btn" class="button orange big" title="Book it">Book It</button>
            </form>
        {% else %}
           <button type="button" id="book_btn" class="button orange big" title="Book it">Book It</button>
        {% endif %}

        <div id="booking_coming_soon" style="display: none">
            <h1>Hold tight!</h1>
            <h2>Booking functionality is not available right now.</h2>
        </div>
       
    </div>
</div>

<style type="text/css">
    #crew_outer_container {
        position: relative;
        margin-bottom: 0;
    }
    #crew_container {
        position: absolute;
        left: -13px;
    }
</style>

<script type="text/javascript">

    var bookingWidgetMappings = new Array({'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_ACCEPTED') }}, 
                                    'mapped_state': 'day_unavailable'},
                                    {'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_HOLD') }}, 
                                    'mapped_state': 'day_unavailable'},
                                    {'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_SELF') }},
                                    'mapped_state': 'day_unavailable'});
                                
    var bookingWidgetReservedDates      = {{ boat|reservedDatesWithBookings(reservations)|raw }};
    var bookingWidgetPriceDates         = {{ boat|priceDates(prices)|raw }};
    var bookingWidgetDefaultAllowed     = {{ boat.hasDefaultPrice ? 'true' : 'false' }};
    var bookingWidgetDefaultPrice       = {{ boat.hasDefaultPrice ? boat.defaultPrice : 'null' }};
    
    
    
    function openBookingComingSoonDialog(){
        $('#booking_coming_soon').dialog({
            modal: true,
            closeOnEscape: false,
            resizable: false,
            width: 470,
            maxWidth: 470,
            fluid: true,
            title: 'Coming Soon'
        });
    }
    
    function setup(){
        $('#zizoo_boat_book_num_guests').change(function(){
            reloadWidget();
        });
        $('#zizoo_boat_book_crew').change(function(){
            reloadWidget();
        });

        $('#book_btn').click(function(){
            reloadWidget();
        });

        $('#booking_form').submit(function(){
            {% if bookings_allowed == true %}
            //window.location.href = $('#booking_form').attr('action');
            {% else %}
                openBookingComingSoonDialog();
                return false;
            {% endif %}
        });

        $("#booking_price_container input[type='radio'], #booking_price_container input[type='checkbox']").checkBox();

        $('#booking_price_container, #book_btn').show();

        var clearBtnFnc1 = function(input) {
            setTimeout(function() {
                var buttonPane = $( input )
                    .datepicker( "widget" )
                    .find( ".ui-datepicker-buttonpane" );
                var btn = $( '<button class="ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all" type="button">Clear</button>');
                btn.unbind("click")  .bind("click", function () {  
                    $.datepicker._clearDate( input );
                });
                btn.appendTo(buttonPane);
            }, 1 );
        };

        var clearBtnFnc2 = function(yes, month, inst) {
            setTimeout(function() {
                var buttonPane = $( this )
                    .datepicker( "widget" )
                    .find( ".ui-datepicker-buttonpane" );
                var btn = $( '<button class="ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all" type="button">Clear</button>');
                btn.unbind("click")  .bind("click", function () {  
                   $.datepicker._clearDate( inst.input ); 
                });
                btn.appendTo(buttonPane);
            }, 1 );
        };


        Date.prototype.getDateFormatted = function() {
            var d = this.getDate();
            return d < 10 ? '0' + (d) : (d); // 
        }
        Date.prototype.getMonthFormatted = function() {
            var month = this.getMonth();
            return month < 9 ? '0' + (month+1) : (month+1); // ('' + month) for string result
        }
        
        $.extend($.datepick, {
            zizoo_widget: function(date) {
                var id = $(this).attr('id');
                var selectable = true;
                var previousDate            = date.daysMoreLess(-1);
                var reservedDate            = getDates(availabilityReservedDates, date);
                var previousReservedDate    = getDates(availabilityReservedDates, previousDate);
                var priceDate               = getDates(availabilityPriceDates, date);
                var previousPriceDate       = getDates(availabilityPriceDates, previousDate);
                
                var content = date.getDateFormatted();
                var defaultDateClass = '{% if boat.hasDefaultPrice %}day_available{% else %}day_unavailable{% endif %}';
                var previousDefaultDateClass = defaultDateClass;
                    
                var todayDefaultDateClass    = determineDefaultDateClass(defaultDateClass, priceDate);
                var previousDefaultDateClass = determineDefaultDateClass(defaultDateClass, previousPriceDate);
                    
                var todayClass  = getDateClass(reservedDate, bookingWidgetMappings, todayDefaultDateClass);
                var dateClass   = todayClass;
                var lastClass   = getDateClass(previousReservedDate, bookingWidgetMappings, previousDefaultDateClass);
                
                var lastClassArr = lastClass.split('-');
                lastClass = lastClassArr[lastClassArr.length-1];
                if (lastClass != dateClass){
                    dateClass = lastClass + '-' + dateClass;
                }
                
                if ( (dateClass=='day_available-day_unavailable' && id=='zizoo_boat_book_reservation_range_reservation_from') 
                    || (dateClass=='day_unavailable-day_available' && id=='zizoo_boat_book_reservation_range_reservation_to') )
                {
                    selectable = false;
                } else  if (dateClass=='day_available-day_unavailable' && id=='zizoo_boat_book_reservation_range_reservation_to'){
                    selectable = true;
                } else if (todayClass=='day_unavailable'){
                    selectable = false;
                }
                
                return {selectable: selectable, dateClass: todayClass, title: '', content: content};
                
            }
        });
        
        $( "#zizoo_boat_book_reservation_range_reservation_from" ).datepick({
            rangeSelect: false,
            changeMonth: false,
            defaultDate: "+1d",
            numberOfMonths: 1,
            minDate: new Date(),
            showAnim: 'slideDown',
            dateFormat: 'dd/mm/yyyy',
            showButtonPanel: true,
            beforeShow: clearBtnFnc1,
            onChangeMonthYear: clearBtnFnc2,
            onSelect: function (dates){
                if (dates.length>0){
                    var d = dates[0];
                    if (this.id == 'zizoo_boat_book_reservation_range_reservation_from') {
                        d = $.datepick.add(d, 1, 'd');
                        $('#zizoo_boat_book_reservation_range_reservation_to').datepick('option', 'minDate', d || null); 
                    } 
                    else {
                        d = $.datepick.add(d, -1, 'd'); 
                        $('#zizoo_boat_book_reservation_range_reservation_from').datepick('option', 'maxDate', d || null); 
                    }
                }
                reloadWidget();
            },
            onDate: $.datepick.zizoo_widget,
            renderer: $.datepick.themeRollerRenderer
        });
        
        $( "#zizoo_boat_book_reservation_range_reservation_to" ).datepick({
            rangeSelect: false,
            changeMonth: false,
            defaultDate: "+1d",
            numberOfMonths: 1,
            minDate: new Date(),
            showAnim: 'slideDown',
            dateFormat: 'dd/mm/yyyy',
            showButtonPanel: true,
            beforeShow: clearBtnFnc1,
            onChangeMonthYear: clearBtnFnc2,
            onSelect: function (dates){
                if (dates.length>0){
                    var d = dates[0];
                    if (this.id == 'zizoo_boat_book_reservation_range_reservation_from') {
                        d = $.datepick.add(d, 1, 'd');
                        $('#zizoo_boat_book_reservation_range_reservation_to').datepick('option', 'minDate', d || null); 
                    } 
                    else {
                        d = $.datepick.add(d, -1, 'd'); 
                        $('#zizoo_boat_book_reservation_range_reservation_from').datepick('option', 'maxDate', d || null); 
                    }
                }
                reloadWidget();
            },
            onDate: $.datepick.zizoo_widget,
            renderer: $.datepick.themeRollerRenderer
        });
    }
    
    function reloadWidget(){
        var dateFrom    = $('#zizoo_boat_book_reservation_range_reservation_from').datepick('getDate');
        var dateUntil   = $('#zizoo_boat_book_reservation_range_reservation_to').datepick('getDate');
        
        if ($('#zizoo_boat_book_reservation_range_reservation_from').val()=='' || $('#zizoo_boat_book_reservation_range_reservation_to').val()=='') {
            $('#booking_price').html('');
            return;
        }
        $('#booking_widget').block({ message: null });
       
        $.ajax({
            type: "POST",
            url: '{{ ajax_url }}',
            data: $('#availability_form').serialize(),
            success: function (data, textStatus, jqXHR){
                $('#booking_widget').html($(data).find('#booking_widget_inner'));
                setup();
                $('#booking_widget').unblock();
            }
        });
    }
    
    function dateExists(dates, year, month, day){
        return (typeof dates[year]!='undefined' && typeof dates[year][month]!='undefined' && typeof dates[year][month][day]!='undefined');
    }

    
    $(document).ready(function(){
    
        setup();
    
    });
</script>