{% set step = app.session.get('step') %}

{% include 'ZizooBoatBundle:Boat:boat_navigation.html.twig' with { 'boat': boat, 'current_route': routes['calendar_route'], 'routes': routes }  %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/datepick/jquery.datepick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepick/jquery.datepick.ext.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zizooboat/js/availability.js') }}"></script>
{% endblock %}
    
{% block stylesheets %}
    
{% endblock %}

<div class="content availability">
    {% set step = app.session.get('step') %}

    {% if step != "" %}
        <h3>Step {{ step }}</h3>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flashMessage}}
        </div>
    {% endfor %}
    
    <noscript>
        <h2>You must enable JavaScript in your browser to view this page</h2>
    </noscript>
    <div id="availability-calendar" class="">
    </div>
    <div id="availability-sidebar" style="display: none">
        {% include 'ZizooBoatBundle:Boat:availability_setter.html.twig' %}
        {% include 'ZizooBoatBundle:Boat:availability_legend.html.twig' %}
    </div>
    
    {% if step != "" %}
        <a href="{{ path(routes['complete_route']) }}" class="button blue large">Complete</a>
    {% endif %}
    
    <style type="text/css">

            
        #dashboard #availability-calendar .ui-datepicker td > a, #dashboard #availability-calendar .ui-datepicker td > span {
            background-image: url('{{ asset('bundles/zizooboat/images/sprite.png') }}');
            border: none !important;
            background-repeat: no-repeat;
            
            display: block;
            position: relative;
            min-height: 40px;
            font: italic 12px/14px "Asap", Arial;
            text-align: left;
            color: #fff;
            padding: 4px;
            /*background: #47c2d2;*/
            border: 3px solid #47c2d2;
            -webkit-transition: color 200ms ease, border 200ms ease, background-color 200ms ease;
            transition: color 200ms ease, border 200ms ease, background-color 200ms ease;
            
        }
        #dashboard #availability-calendar .ui-datepicker td > span {
            opacity: 0.5;
        }
        
        /**** FULL DAYS ****/
        
        #dashboard #availability-calendar .ui-datepicker td .day_available {
            background-position: 0 -197px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_reserved {
            background-position: -62px -197px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_requested {
            background-position: -124px -197px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_unavailable {
            background-position: -187px -197px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_booked {
            background-position: -249px -197px;
        }
        
        
        /** Available - ? transitions */
        #dashboard #availability-calendar .ui-datepicker td .day_available-day_reserved {
            background-position: 0 0;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_available-day_requested {
            background: 0 -49px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_available-day_unavailable {
            background-position:  0 -99px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_available-day_booked {
            background-position: 0 -148px;
        }
        
        
        /** Reserved - ? transitions */
        #dashboard #availability-calendar .ui-datepicker td .day_reserved-day_available {
            background-position: -62px 0;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_reserved-day_requested {
            background: -62px -49px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_reserved-day_unavailable {
            background-position:  -62px -99px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_reserved-day_booked {
            background-position: -62px -148px;
        }
        
        
        /** Requested - ? transitions */
        #dashboard #availability-calendar .ui-datepicker td .day_requested-day_available {
            background-position: -124px 0;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_requested-day_reserved {
            background: -124px -49px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_requested-day_unavailable {
            background-position:  -124px -99px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_requested-day_booked {
            background-position: -124px -148px;
        }
        
        
        /** Unavailable - ? transitions */
        #dashboard #availability-calendar .ui-datepicker td .day_unavailable-day_available {
            background-position: -187px 0;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_unavailable-day_reserved {
            background-position: -187px -49px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_unavailable-day_requested {
            background-position:  -187px -99px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_unavailable-day_booked {
            background-position: -187px -148px;
        }
        
        
        /** Booked - ? transitions */
        #dashboard #availability-calendar .ui-datepicker td .day_booked-day_available {
            background-position: -249px 0;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_booked-day_reserved {
            background: -249px -49px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_booked-day_requested {
            background-position:  -249px -99px;
        }
        
        #dashboard #availability-calendar .ui-datepicker td .day_booked-day_unavailable {
            background-position: -249px -148px;
        }
    </style>

    <script type="text/javascript">
        var lastSelectedDates;
        var numClicks = 0;
        var selectDateCallback = true;

        function showPopup(){
            $('#popup').dialog({
                width: 470,
                maxWidth: 470,
                fluid: true,
                modal: true
            });
        }

        function selectDates(dates){
            if (dates.length==2){
                lastSelectedDates = dates;
                
                numClicks++;
                if (numClicks==2){
                    $('#zizoo_boat_availability_reservation_range_reservation_to').val(dates[1].getDateFormatted() + '/' + (dates[1].getMonthFormatted()) + '/' + dates[1].getFullYear()).change();
                } else {
                    if (selectDateCallback==true){
                        {{ form.vars.id }}_reset();
                    }
                    $('#zizoo_boat_availability_reservation_range_reservation_from').val(dates[0].getDateFormatted() + '/' + (dates[0].getMonthFormatted()) + '/' + dates[0].getFullYear()).change();
                }
                if (numClicks>1) numClicks = 0;
            } 
        }

        function setupCalendar(){

            $.extend($.datepick, {
                zizoo_availability: function(date) {
                    var selectable = true;
                    var previousDate            = date.daysMoreLess(-1);
                    var reservedDate            = getDates(availabilityReservedDates, date);
                    var previousReservedDate    = getDates(availabilityReservedDates, previousDate);
                    var priceDate               = getDates(availabilityPriceDates, date);

                    var overlay = '<div class="day_overlay"></div>';
                    var content = priceDate ? overlay + date.getDateFormatted() + '<span class="day_price">'+priceDate[0]+'</span>' : overlay + date.getDateFormatted() + '<span class="day_price">'+(availabilityDefaultAllowed?availabilityDefaultPrice+'*':'')+'</span>';
                    
                    var defaultDateClass = '{% if boat.hasDefaultPrice %}day_available{% else %}day_unavailable{% endif %}';
                    var todayClass  = getDateClass(reservedDate, mappings, defaultDateClass);
                    var lastClass   = getDateClass(previousReservedDate, mappings, defaultDateClass);
                    
                    var lastClassArr = lastClass.split('-');
                    lastClass = lastClassArr[lastClassArr.length-1];
                    if (lastClass != todayClass){
                        todayClass = lastClass + '-' + todayClass;
                    }
                    if (todayClass=='day_booked-day_booked') selectable = false;
                    
                    return {selectable: selectable, dateClass: todayClass, title: '', content: content};
                }
            });



            $('#availability-calendar').datepick({ 
                rangeSelect: true,
                changeMonth: false,
                monthsToShow: [12,1],
                minDate: new Date(),
                onDate: $.datepick.zizoo_availability,
                onSelect: selectDates,
                renderer: $.datepick.themeRollerRenderer
            });

            $('.day_reserved').hover(function(){
                var resId = $(this).find('.reservation_id').val();
                $(this).parents('tbody').find('.day_reserved').find('.reservation_id[value="'+resId+'"]').each(function(index,el){
                    $(this).parent().addClass('hover');
                });
            }, function(){
                var resId = $(this).find('.reservation_id').val();
                $(this).parents('tbody').find('.day_reserved').find('.reservation_id[value="'+resId+'"]').each(function(index,el){
                    $(this).parent().removeClass('hover');
                });
            });

            $('.day_requested').hover(function(){
                var resId = $(this).find('.reservation_id').val();
                $(this).parents('tbody').find('.day_requested').find('.reservation_id[value="'+resId+'"]').each(function(index,el){
                    $(this).parent().addClass('hover');
                });
            }, function(){
                var resId = $(this).find('.reservation_id').val();
                $(this).parents('tbody').find('.day_requested').find('.reservation_id[value="'+resId+'"]').each(function(index,el){
                    $(this).parent().removeClass('hover');
                });
            });

        }

        function setupPopup(){
            $('#type').change(function(){
                var type = $(this).val();
                if (type=='availability'){
                    $('#price').attr('readonly', null);
                    $('#price_row').show();
                } else if (type=='default') {
                    if (availabilityDefaultAllowed){
                        $('#price').attr('readonly', 'readonly').val('{{boat|displayDefaultPrice}}');
                        $('#price_row').show();
                    } else {
                        $('#price_row').hide();
                    } 
                } else {
                    $('#price_row').hide();
                }
            });
            $('#cancel_btn').click(function(){
                $('#availability-calendar').datepick('setDate', null, null);
                $('#popup').dialog('close');
            });
        }

        var mappings = new Array({'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_ACCEPTED') }}, 
                                        'mapped_state': 'day_booked'},
                                        {'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_HOLD') }}, 
                                        'mapped_state': 'day_booked'},
                                        {'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_SELF') }},
                                        'mapped_state': 'day_reserved'});
        var availabilityReservedDates   = {{ boat|reservedDatesWithBookings(reservations)|raw }}; 
        var availabilityPriceDates      = {{ boat|priceDates(prices)|raw }};
        var availabilityDefaultAllowed  = {{ boat.hasDefaultPrice ? 'true' : 'false' }};
        var availabilityDefaultPrice    = {{ boat.hasDefaultPrice ? boat.defaultPrice : 'null' }};

        var minScrollPosition = null;
        
        function moveLegend(obj){
            var scrollTopVal = $(obj).scrollTop();
            if (scrollTopVal < minScrollPosition.top) scrollTopVal = minScrollPosition.top;
            var sidebarHeight = $('#availability-sidebar').height();
            var maxScrollPosition = $('#dashboard #availability-calendar').position().top + $('#dashboard #availability-calendar').height();
            if (scrollTopVal + $('#availability-sidebar').height() > maxScrollPosition) scrollTopVal = maxScrollPosition - sidebarHeight;
            
            $('#availability-sidebar').css({'top' :scrollTopVal+'px'});
        }

        function setupScroll(){
            var sidebarHeight = $('#availability-sidebar').height();
            var windowHeight = $(window).height();
            if (sidebarHeight > windowHeight - $('#availability-sidebar').offset().top){
                $(window).unbind('scroll');
                $('#availability-sidebar').css({'top' : '120px'});
                return;
            }
            minScrollPosition = $('#dashboard .ui-datepicker-calendar').first().position();
            $(window).unbind('scroll').scroll(function() {
                moveLegend(this);
            });
            moveLegend(window);
        }
        

        $(document).ready(function(){

            setupCalendar();
            $('#availability-sidebar').show();
            setupScroll();
            $(window).resize(setupScroll);
            
            $('#{{ form.vars.id }}-confirm-cancel-btn').click(function(){
                $('#availability-calendar').datepick('setDate', null);
                numClicks = 0;
            });
                        
            var from = $('#{{ form.reservation_range.reservation_from.vars.id }}').val();
            var to   = $('#{{ form.reservation_range.reservation_to.vars.id }}').val();
            if (from!='' && to !=''){
                var fromArr = from.split('/');
                var toArr   = to.split('/');
                if (fromArr.length==3 && toArr.length==3){
                    selectDateCallback = false;
                    $('#availability-calendar').datepick('setDate', new Date(fromArr[2], fromArr[1]-1, fromArr[0]), new Date(toArr[2], toArr[1]-1, toArr[0]));
                    selectDateCallback = true;
                    numClicks = 0;
                }
            }
            
            {% set last_from = app.session.get('availability_from_'~boat.id) %}
            {% if last_from != null %}
                from = new Date({{ last_from.format('Y') }}, {{ last_from.format('m') }}, {{ last_from.format('d') }});
                $('#availability-calendar').datepick('showMonth', from.getFullYear(), from.getMonth());
                {% set last_from = app.session.set('availability_from_'~boat.id, null) %}
            {% endif %}
                    
        });

    </script>
</div>