{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}
    
{% block dashboard_page_title %}Boats{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% include 'ZizooBoatBundle:Boat:boat_navigation.html.twig' with { 'boat': boat }  %}

    <h2>Boat Gallery</h2>

    <form action="{{ path('ZizooBoatBundle_Boat_EditPhotos', { 'id': boat.id }) }}" method="post" {{ form_enctype(imagesForm) }}>
        {{ form_widget(imagesForm) }}

        <button type="submit">Upload</button>
    </form>
        
{% endblock %}