{% extends 'ZizooBoatBundle::layout.html.twig' %}
{% trans_default_domain "labels" %}

{% block title %}{{ boat.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datepick/jquery.datepick.js') }}"></script>
{% endblock %}
    
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/datepick/jquery.datepick.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row-fluid">
        
        <div id="left-col" class="span2">
            <ul id="boat-tabs">
                <li><a href="#tabs-1">Photos</a></li>
                <li><a href="#tabs-2">Location</a></li>
                <li><a href="#tabs-3">Availability</a></li>
            </ul>
        </div>
        
        <div id="center-col" class="span7">
            
            <div class="tabs">
                <div id="tabs-1" class="tab">
                    <section class="images" id="images">
                        <h3>{% trans %}zizoo_boat.label.images{% endtrans %}</h3>
                        {% include 'ZizooBoatBundle:Image:index.html.twig' with { 'images': boat.image } %}
                    </section>
                </div>

                <div id="tabs-2" class="tab">
                    <h2>Location</h2>
                </div>

                <div id="tabs-3" class="tab current">
                    <h2>Availability</h2>
                    <div id="calendar" class="">
                    </div>
                </div>
            </div>
            
            <article class="boat">

                <header>
                    <h2>{{ boat.title }}</h2>
                </header>
                <div>
                    <p>{{ boat.description }}</p>
                </div>
            </article>

            <section class="details" id="details">
                <h3>{{ boat.name }}</h3>
                <p>{% trans %}zizoo_address.label.cities{% endtrans %}: 
                    <ul>
                        {% if boat.address|duplicateCity == false %}
                            <li>{{ boat.address.locality }}</li>
                        {% endif %}
                        {% for availability in boat.availability %}
                            {% if availability.address|duplicateCity == false %}
                                <li>{{ availability.address.locality }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </p>
                <p>{% trans %}zizoo_boat.label.brand{% endtrans %}: {{ boat.brand }}</p>
                <p>{% trans %}zizoo_boat.label.model{% endtrans %}: {{ boat.model }}</p>
                <p>{% trans %}zizoo_boat.label.length{% endtrans %}: {{ boat.length }}</p>
                <p>{% trans %}zizoo_boat.label.cabins{% endtrans %}: {{ boat.cabins }}</p>
                {% if boat.bathrooms %}
                    <p>{% trans %}zizoo_boat.label.bathrooms{% endtrans %}: {{ boat.bathrooms }}</p>
                {% endif %}

            </section>

        </div>
        
        <div id="right-col" class="span3">
            {% render 'ZizooBoatBundle:Boat:bookingWidget' with {id: boat.id, request:request} %}
        </div>
        
    </div>

    <style type="text/css">
        #center-col {
            margin-left: 0;
        }
        
        .tabs {
            position: relative;
        }
        
        .tabs .tab {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        
        .tabs .tab.current {
            display: block;
            position: static;
        }
        
        #calendar {
            width: 100%;
            max-width: 100%;
        }
        
        
        #calendar .ui-datepicker-inline {
            width: 100% !important;
        }
        
        #calendar .ui-datepicker-group.last-in-line {
            margin-right: 0;
        }
        
        #calendar .ui-datepicker-group {
            margin-right: 16px;
        }
        
        #calendar .ui-datepicker-group-last {
            margin-right: 0;
        }
        
    </style>
    
    <script type="text/javascript">
        var fromDateSelected = false;
        var disableCallback = false;
        
        function clearDates(){
            $('#calendar').datepick('setDate', []);
        }

        
        function calendarOffsets(){
            var offsets = [],
                $listItems = $('#calendar .ui-datepicker-group');

            $listItems.each(function() {
                offsets.push( $(this).offset().top );
            });

            $.each(offsets, function(i, v) {
                if (v < offsets[i + 1]){
                    $listItems.eq(i).addClass('last-in-line');
                } else {
                    $listItems.eq(i).removeClass('last-in-line');
                }
            });
        }
        
        function datepResize() {

            // Get width of parent container
            var width = jQuery("#calendar").width(); //attr('clientWidth');
            if (width == null || width < 1){
                // For IE, revert to offsetWidth if necessary
                width = jQuery("#calendar").attr('offsetWidth');
            }
            width = width - 2; // Fudge factor to prevent horizontal scrollbars
            if (width > 0 &&
                // Only resize if new width exceeds a minimal threshold
                // Fixes IE issue with in-place resizing when mousing-over frame bars
                Math.abs(width - jQuery("div ui-datepicker").width()) > 5)
            {
                if (width < 166){
                    jQuery("div.ui-datepicker").css({'font-size': '8px'});
                    jQuery(".ui-datepicker td .ui-state-default").css({'padding':'0px','font-size': '6px'});
                }
                else if (width > 228){
                    jQuery("div.ui-datepicker").css({'font-size': '13px'});
                    jQuery(".ui-datepicker td .ui-state-default").css({'padding':'5px','font-size': '100%'});

                }
                else{
                    jQuery("div.ui-datepicker").css({'font-size': (width-43)/16+'px'});
                }
            }

        }
        
        function calendarAdjust(){
            
            var maxWidth  = 0;
            var maxHeight = 0;
            $('#calendar .ui-datepicker-group').each(function(index,el){
                var height = $(el).height();
                if (height>maxHeight) maxHeight = height;
                var width = $(el).width();
                if (width>maxWidth) maxWidth = width;
            });
            $('#calendar .ui-datepicker-group').height(maxHeight+20+'px');
            //$('#calendar .ui-datepicker-group').width(maxWidth+'px');
            calendarOffsets();
        }
        
        function selectDate(dates){
            if (disableCallback) return;
            if (dates.length>1){
                if (dates[0].getDate()==dates[1].getDate() && dates[0].getMonth()==dates[1].getMonth() && dates[0].getFullYear()==dates[1].getFullYear()){
                    $('#zizoo_boat_book_reservation_from').val('');
                    $('#zizoo_boat_book_reservation_to').val('');
                } else {
                    $('#zizoo_boat_book_reservation_from').val(dates[0].getDateFormatted()+'/'+(dates[0].getMonthFormatted())+'/'+dates[0].getFullYear());
                    $('#zizoo_boat_book_reservation_to').val(dates[1].getDateFormatted()+'/'+dates[1].getMonthFormatted()+'/'+dates[1].getFullYear());
                    reloadWidget();
                }
            }
        }
        
        function setupCalendar(){
            Date.prototype.getDateFormatted = function() {
                var d = this.getDate();
                return d < 10 ? '0' + (d) : (d); // 
            }
            Date.prototype.getMonthFormatted = function() {
                var month = this.getMonth();
                return month < 9 ? '0' + (month+1) : (month+1); // ('' + month) for string result
            }
            
            var availableDates  = {{ boat|availableDates|raw}};
            var bookedDates     = {{ boat|bookedDates|raw}};
            $.extend($.datepick, {
                zizoo: function(date) {
                    var i;
                    for (i=0; i<availableDates.length; i++){
                        if (date.getFullYear()==availableDates[i][0] && date.getMonthFormatted()==availableDates[i][1] && date.getDateFormatted()==availableDates[i][2])
                        {
                            
                            if (bookedDates[availableDates[i][0]+'_'+availableDates[i][1]+'_'+availableDates[i][2]] == undefined){
                                return {selectable: true};
                            } else {
                                console.log(bookedDates[availableDates[i][0]+'_'+availableDates[i][1]+'_'+availableDates[i][2]]);
                                return {selectable: false};
                            }
                            
                        }
                    }
                    return {selectable: false};
                }
            });
            
            $('#calendar').datepick({ 
                rangeSelect: true,
                changeMonth: false,
                monthsToShow: 12,
                onDate: $.datepick.zizoo,
                onSelect: selectDate
            });
            
            return;
            //var bookedDates     = {{ boat|bookedDates|raw}};
            $('#calendar').datepicker({
                numberOfMonths: 12,
                dateFormat: 'dd/mm/yy',
                onSelect: function (selectedDate, b) {
                    /* the jQuery UI code sets the width on the element, we need to remove this any time jQuery tries to reset it */
                    //$('#calendar .ui-datepicker-inline').css('width', '');
                    if (!fromDateSelected){
                        $('#zizoo_boat_book_reservation_from').val(selectedDate);
                        fromDateSelected = true;
                    } else {
                        $('#zizoo_boat_book_reservation_to').val(selectedDate);
                        fromDateSelected = false;
                    }
                    setTimeout('calendarAdjust()', 1);
                },
                beforeShowDay: function (date){
                    var year = date.getFullYear(), month = date.getMonth(), day = date.getDate();

                    // see if the current date should be highlighted
                    for (var i=0; i < availableDates.length; ++i)
                        if (year == availableDates[i][0] && month == availableDates[i][1] - 1 &&  day == availableDates[i][2])
                        return [true, 'ui-state-highlight ui-state-active'];

                    return [false];
                },
                onChangeMonthYear: function(){
                    setTimeout("calendarAdjust()", 1);
                }
            });
            calendarAdjust();
        }
        
        
        $(document).ready(function(){
            setupCalendar();
            
            $( "#boat-tabs a" ).click(function(){
                var tabId = $(this).attr('href');
                $('.tabs .tab').removeClass('current');
                $('.tabs '+tabId).addClass('current');
                return false;
            });
            
            
        });
    </script>

{% endblock %}