{% extends 'ZizooBoatBundle::layout.html.twig' %}
{% trans_default_domain "labels" %}

{% block title %}{{ boat.name }}{% endblock %}

{% block body %}
    <article class="boat">
        
        {% render 'ZizooBoatBundle:Boat:bookingWidget' with {id: boat.id, request:request} %}
        
        <header>
            <h2>{{ boat.title }}</h2>
        </header>
        <div>
            <p>{{ boat.description }}</p>
        </div>
    </article>

    <section class="details" id="details">
        <h3>{{ boat.name }}</h3>
        <p>{% trans %}zizoo_address.label.cities{% endtrans %}: 
            <ul>
                {% if boat.address|duplicateCity == false %}
                    <li>{{ boat.address.locality }}</li>
                {% endif %}
                {% for availability in boat.availability %}
                    {% if availability.address|duplicateCity == false %}
                        <li>{{ availability.address.locality }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </p>
        <p>{% trans %}zizoo_boat.label.brand{% endtrans %}: {{ boat.brand }}</p>
        <p>{% trans %}zizoo_boat.label.model{% endtrans %}: {{ boat.model }}</p>
        <p>{% trans %}zizoo_boat.label.length{% endtrans %}: {{ boat.length }}</p>
        <p>{% trans %}zizoo_boat.label.cabins{% endtrans %}: {{ boat.cabins }}</p>
        {% if boat.bathrooms %}
            <p>{% trans %}zizoo_boat.label.bathrooms{% endtrans %}: {{ boat.bathrooms }}</p>
        {% endif %}
        
    </section>

    <section class="images" id="images">
        <h3>{% trans %}zizoo_boat.label.images{% endtrans %}</h3>
        {% include 'ZizooBoatBundle:Image:index.html.twig' with { 'images': boat.image } %}
    </section>

    

{% endblock %}