{% extends 'ZizooBoatBundle::layout.html.twig' %}
{% trans_default_domain "labels" %}

{% block title %}{{ boat.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/zizooboat/js/availability.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zizooboat/js/boat_show.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/colour_gradient.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepick/jquery.datepick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepick/jquery.datepick.ext.js') }}"></script>
{% endblock %}
    
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/datepick/ui-ui-zizoo.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/zizooboat/css/boat.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <!-- start:name -->
    <section id="name" class="bar">
        <div class="container clearfix">
            {% if boat.crewOptional %}
            <div class="flag">
                Crewed Boat
                <span class="icon plus"></span>
                <div class="tooltip">
                    <p>
                        You are able to charter and drive this boat yourself. A skipper can be booked as an additional extra if required.
                    </p>
                </div>
            </div>
            {% endif %}
            <h1>{{ boat.name }} <span>{{ boat.address.locality }}, {{ boat.address.country }}/Year: {{ boat.year }}</span></h1>
            <ul class="social">
                <li><a href="" class="facebook" title="Facebook"></a></li>
                <li><a href="" class="twitter" title="Twitter"></a></li>
            </ul>
        </div>
    </section>
    <!-- end:name -->

    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:subnavigation -->
            <ul class="subnavigation overview clearfix">
                <li class="current"><a href="#" title="Photos"><span class="icon photo"></span> Photos</a></li>
                <li><a href="#" title="Location"><span class="icon location white shadow"></span> Location</a></li>
                <li><a href="#" title="Availability"><span class="icon availability"></span> Availability</a></li>
            </ul>
            <!-- end:subnavigation -->

            <!-- start:overview -->
            <div id="overview">

                <!-- start:tabbed -->
                <div class="tabbed">

                    <div class="tab" style="display: block;">
                        <!-- start:media -->
                        <div class="media">
                            <div class="full">
                                {% if boat.image|length > 0 %}
                                <img src="{{ asset(boat.image.first|pictureWebPath) }}" alt="">
                                {% endif %}
                            </div>

                            <a href="#" class="arrow prev ir" title="Previous">Previous</a>
                            <div class="thumbs">
                                <ul class="clearfix">
                                    {% for image in boat.image %}
                                        <li><a href="{{ asset(image|pictureWebPath) }}"><img src="{{ asset(image|pictureWebPath) }}" alt=""></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a href="#" class="arrow next ir" title="Next">Next</a>
                        </div>
                        <!-- end:media -->
                    </div>

                    <div class="tab" style="display: none;">
                        <!-- start:map -->
                        {{ google_map_container(map) }}
                        <!-- end:map -->
                    </div>

                    <div class="tab" style="display: none">
                        <div id="calendar-container">
                            <!-- start:availability -->
                            <div id="calendar" class=""></div>
                            <div id="availability-sidebar">
                                {% include 'ZizooBoatBundle:Boat:boat_legend.html.twig' %}
                            </div>
                            <!-- end:availability -->
                        </div>
                    </div>
                </div>
                <!-- end:tabbed -->

                <!-- start:description -->
                <section class="section">
                    <header>
                        <h2>Description</h2>
                    </header>

                    <div class="content">
                        <h3>{{ boat.title }}</h3>
                        <p>{{ boat.description }}</p>
                    </div>
                </section>
                <!-- end:description -->

                <!-- start:details -->
                <section class="section">
                    <header>
                        <h2>Details</h2>
                    </header>

                    <div class="content">
                        <div class="columns clearfix">
                            <ul>
                                <li><strong>Boat Type:</strong> {{ boat.boatType.name }}</li>
                                <li><strong>Year:</strong> {{ boat.year }}</li>
                                <li><strong>Length Over All:</strong> {{ boat.length }} m</li>
                                <li><strong>Hull Material:</strong> {{ boat.hullMaterial }}</li>

                            </ul>
                            <ul>
                                <li><strong>Engine:</strong> {{ boat.engineType.name }}</li>
                                <li><strong>Fuel:</strong> {{ boat.fuel }}</li>
                                <li><strong>Fuel Capacity:</strong> {{ boat.fuelCapacity }} l</li>
                                <li><strong>Water Capacity:</strong> {{ boat.waterCapacity }} l</li>

                            </ul>
                            <ul>
                                <li><strong>Cabins:</strong> {{ boat.cabins }}</li>
                                <li><strong>Berths:</strong> {{ boat.nrGuests }}</li>
                                <li><strong>Bathrooms:</strong> {{ boat.bathrooms }}</li>
                                <li><strong>Shower / Toilet:</strong> {{ boat.showers }} / {{ boat.toilets }}</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- end:details -->

                <!-- start:extras -->
                <section class="section">
                    <header>
                        <h2>Amenities</h2>
                    </header>                    

                    <div class="content">
                        <div class="columns extras clearfix">
                            {% set perColumn = amenities|length / 3 %}
                            <ul>
                                {% for amenity in amenities %}
                                    {% if loop.index0 is divisibleby(perColumn) %}
                                    </ul>
                                    <ul>
                                    {% endif %}
                                    <li class="{{ boat|displayAmenities(amenity)|raw }}">{{ amenity.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- end:extras -->

                <!-- start:extras -->
                <section class="section">
                    <header>
                        <h2>Equipment</h2>
                    </header>                    

                    <div class="content">
                        <div class="columns extras clearfix">
                            {% set perColumn = equipment|length / 3 %}
                            <ul>
                                {% for e in equipment %}
                                    {% if loop.index0 is divisibleby(perColumn) %}
                                    </ul>
                                    <ul>
                                    {% endif %}
                                    <li class="{{ boat|displayEquipment(e)|raw }}">{{ e.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- end:extras -->

            </div>
            <!-- end:overview -->

            <!-- start:sidebar -->
            <aside id="sidebar" class="right clearfix">

                {% render controller('ZizooBoatBundle:Boat:bookingWidget', {id: boat.id, request:request, reservations: reservations, prices: prices}) %}

                <!-- start:avatar -->
                <div class="avatar">
                    <a href="{{ path('ZizooCharterBundle_Charter_Show', {id: boat.charter.id}) }}" title="View Profile">
                        <figure>
                            {% if boat.charter.logo is not null %}
                                <img src="{{ asset(boat.charter.logo|pictureWebPath) }}" alt="{{ boat.charter.charterName }}" class="large" id="logo_img" />
                            {% else %}
                                <img src="{{ asset('bundles/zizoobase/images/default/avatar-user.png'|imagine_filter('thumb_190x_')) }}" alt="Charter logo not set" id="logo_img" />
                            {% endif %}
                            <figcaption>
                                {{ boat.charter.charterName }}
                            </figcaption>
                        </figure>
                    </a>
                    <div id="message_to_owner" style="display: none">
                        {% render controller('ZizooBoatBundle:Boat:messageOwnerWidget', {id: boat.id, request:request, reservations: reservations, prices: prices}) %}
                    </div>
                    <a href="#" id="send_message_btn" class="button blue big" title="Send Message">Send Message</a>
                </div>
                <!-- end:avatar -->

            </aside>
            <!-- end:sidebar -->

        </div>
    </div>
    <!-- end:content -->

    <style type="text/css">
        
    </style>
    
    <script type="text/javascript">
        var mappings = new Array({'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_ACCEPTED') }}, 
                                    'mapped_state': 'day_unavailable'},
                                    {'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_HOLD') }}, 
                                    'mapped_state': 'day_unavailable'},
                                    {'original_state': {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_SELF') }},
                                    'mapped_state': 'day_unavailable'});
        var availabilityReservedDates   = {{ boat|reservedDatesWithBookings(reservations)|raw }};
        var availabilityPriceDates      = {{ boat|priceDates(prices)|raw }};
        var availabilityDefaultAllowed  = {{ boat.hasDefaultPrice == true ? 'true' : 'false' }};
        var availabilityDefaultPrice    = {{ boat.hasDefaultPrice ? boat.defaultPrice : 'null' }};
        var defaultDateClass            = '{% if boat.hasDefaultPrice %}day_available{% else %}day_unavailable{% endif %}';
        
    </script>

    {{ google_map_js(map) }}

{% endblock %}