{% extends 'ZizooBoatBundle::layout.html.twig' %}
{% trans_default_domain "labels" %}

{% block title %}{{ boat.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/zizooboat/js/boat_show.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/colour_gradient.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepick/jquery.datepick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepick/jquery.datepick.ext.js') }}"></script>
{% endblock %}
    
{% block stylesheets %}
    {{ parent() }}
    <!--<link href="{{ asset('css/datepick/jquery.datepick.css') }}" type="text/css" rel="stylesheet" />-->
    <link href="{{ asset('css/datepick/ui-ui-zizoo.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/zizooboat/css/boat.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row-fluid">
        
        <div id="left-col" class="span2">
            <ul id="boat-tabs">
                <li><a href="#tabs-1">Photos</a></li>
                <li><a href="#tabs-2">Location</a></li>
                <li><a href="#tabs-3">Availability</a></li>
            </ul>
        </div>
        
        <div id="center-col" class="span7">
            
            <div class="tabs">
                <div id="tabs-1" class="tab">
                    <section class="images" id="images">
                        <h3>{% trans %}zizoo_boat.label.images{% endtrans %}</h3>
                        {% include 'ZizooBoatBundle:Image:index.html.twig' with { 'images': boat.image } %}
                    </section>
                </div>

                <div id="tabs-2" class="tab" style="width: 100%;">
                    <h2>Location</h2>
                    {{ google_map_container(map) }}
                </div>

                <div id="tabs-3" class="tab current">
                    <h2>Availability</h2>
                    <div id="calendar" class="">
                    </div>
                </div>
            </div>
            
            <article class="boat">

                <header>
                    <h2>{{ boat.title }}</h2>
                </header>
                <div>
                    <p>{{ boat.description }}</p>
                </div>
            </article>

            <section class="details" id="details">
                <h3>{{ boat.name }}</h3>
                <p>{% trans %}zizoo_address.label.cities{% endtrans %}: 
                    <ul>
                        <li>{{ boat.address.locality }}</li>
                    </ul>
                </p>
                <p>{% trans %}zizoo_boat.label.brand{% endtrans %}: {{ boat.brand }}</p>
                <p>{% trans %}zizoo_boat.label.model{% endtrans %}: {{ boat.model }}</p>
                <p>{% trans %}zizoo_boat.label.length{% endtrans %}: {{ boat.length }}</p>
                <p>{% trans %}zizoo_boat.label.cabins{% endtrans %}: {{ boat.cabins }}</p>
                {% if boat.bathrooms %}
                    <p>{% trans %}zizoo_boat.label.bathrooms{% endtrans %}: {{ boat.bathrooms }}</p>
                {% endif %}
                    
                <div id="equipment_div">
                    <h4>Equipment</h4>
                    <ul id="equipment" class="checklist">
                        {% for e in equipment %}
                            {{ boat|displayEquipment(e)|raw }}
                        {% endfor %}
                    </ul>
                </div>
                    
                <div id="optional_extras_div">
                    <h4>Optional Extras</h4>
                    <ul id="optional_extras" class="checklist">
                        {% for optional_extra in optional_extras %}
                            {{ boat|displayOptionalExtra(optional_extra)|raw }}
                        {% endfor %}
                    </ul>
                </div>

            </section>

        </div>
        
        <style type="text/css">
            .checklist .active {
                color: green;
            }
            
            .checklist .inactive {
                color: grey;
            }
        </style>
        
        <script type="text/javascript">
            var availabilityReservedDates   = {{ boat|reservedDates(reservations)|raw }}; 
            var availabilityPriceDates      = {{ boat|priceDates(prices)|raw }};
            var availabilityDefaultAllowed  = {{ boat.defaultPrice is not null ? 'true' : 'false' }};
            var availabilityDefaultPrice    = {{ boat.defaultPrice is not null ? boat.defaultPrice : 'null' }};
            var STATUS_ACCEPTED             = {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_ACCEPTED') }};
            var STATUS_SELF                 = {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_SELF') }};
            var STATUS_HOLD                 = {{ constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_HOLD') }};
        </script>
        
        <div id="right-col" class="span3">
            {% render controller('ZizooBoatBundle:Boat:bookingWidget', {id: boat.id, request:request, reservations: reservations, prices: prices}) %}
        </div>
        
    </div>
    
    {{ google_map_js(map) }}
    
{% endblock %}