{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage}}
        </div>
    {% endfor %}

    <script type="text/javascript">
        var uploadedFiles = new Array();
        
        function removeUploadedFiles(){
            for (var i=0; i<uploadedFiles.length; i++){
                zizoo_profile_avatar_dropzone_api.removeFile(uploadedFiles[i]);
            }
            uploadedFiles = new Array();
        }
        
        function getAvatars(){
            $.ajax({
                url:        '{{ path('ZizooProfileBundle_Profile_GetAvatars') }}',
                type:       'get',
                success:    function(data, textStatus, XHR){
                    var newAvatars = $(data).find('#zizoo_profile_avatar_list .zizoo_media_container');
                    $('#zizoo_profile_avatar_list .zizoo_media_container').remove();
                    for (var i=newAvatars.length-1; i>=0; i--){
                        $('#zizoo_profile_avatar_list').prepend(newAvatars[i]);
                    }
                    if (newAvatars.length>0){
                        var src = $(newAvatars[0]).find('.controls .full_url').val();
                        $('#user_avatar #avatar_img').attr('src', src).css('display', 'block');
                    }
                    removeUploadedFiles();
                }
            });
        }
        
        function avatarUploadError(file, response){
            var queuedFiles     = zizoo_profile_avatar_dropzone_api.getQueuedFiles();
            var uploadingFiles  = zizoo_profile_avatar_dropzone_api.getUploadingFiles();
            if (queuedFiles.length>0 || uploadingFiles.length>0 || uploadedFiles.length==0) return;
           
            getAvatars();
        }
        
        function avatarUploadSuccess(file, response){
            if (file!=null) uploadedFiles.push(file);
            var queuedFiles     = zizoo_profile_avatar_dropzone_api.getQueuedFiles();
            var uploadingFiles  = zizoo_profile_avatar_dropzone_api.getUploadingFiles();
            if (queuedFiles.length>0 || uploadingFiles.length>0) return;
           
            getAvatars();
        }
        
        function avatarCrop(id, x1, y1, x2, y2, w, h){
            $.ajax({
                url:            '{{ path('ZizooMediaBundle_Media_CropMedia') }}',
                type:           'post',
                data: {
                    id:             id,
                    entity_type:    'ZizooProfileBundle:ProfileAvatar',
                    x1:             x1,
                    y1:             y1,
                    x2:             x2,
                    y2:             y2,
                    w:              w,
                    h:              h
                },
                success: function(data){
                    avatarUploadSuccess(null,{id: id});
                }
            });
        }
        
        function openDeleteDialog(){
            $('#delete_avatar').dialog({
                title: 'Delete avatar?',
                width: 470,
                maxWidth: 470,
                fluid: true,
                modal: true,
                closeOnEscape: false,
                resizable: false
            });
        }

        function closeDeleteDialog(){
            $('#delete_avatar').dialog('close');            
            $('#delete_avatar').unblock();
        }
        
        function avatarDelete(container){
            var id  = $(container).find('.media_id').val();

            $('#delete_avatar .submit_btn').unbind('click').click(function(){
                $('#delete_avatar').block({ message: '' });
                $.ajax({
                    url:            '{{ path('ZizooMediaBundle_Media_DeleteMedia') }}',
                    type:           'post',
                    data: {
                        id:             id,
                        entity_type:    'ZizooProfileBundle:ProfileAvatar'
                    },
                    success: function(data){
                        $(container).remove();
                        closeDeleteDialog();
                    },
                    error: function(jqXHR, statusText, errorThrown){
                        //console.log(jqXHR);
                    }
                });
            });
            
            $('#delete_avatar .cancel_btn').unbind('click').click(function(){
                closeDeleteDialog();
            });
            
            openDeleteDialog();
            
        }
        
    </script>

    <form class="form" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <br />
        <button type="submit" class="button blue small right">Save</button>
    </form>
    
    <div id="context_hidden" style="display: none">
        <div id="delete_avatar">
            <p>
                Are you sure you want to delete this avatar?
            </p>
            
            <br />
            <input type="button" value="Delete" class="submit_btn button red small right" />
            <input type="button" value="Cancel" class="cancel_btn button grey small right" />
        </div>
    </div>

{% endblock %}
