{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jcrop/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jcrop/jquery.color.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    <link href="{{ asset('css/jcrop/jquery.Jcrop.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <form action="{{ path('ZizooProfileBundle_Profile_Edit') }}" method="post" {{ form_enctype(edit_form) }}>

        {{ form_widget(edit_form) }}

        <button type="submit">Save</button>
    </form>

{% endblock %}
