{% extends 'ZizooProfileBundle::layout.html.twig' %}

{% trans_default_domain "labels" %}

{% block body %}

    <div class="span4 hero-unit">
        <section class="user">
            <h2>PICTURE BOX</h2>
            <h2>{{ user.username }}</h2>
            <p>{{ user.profile.firstName }} {{ user.profile.lastName }}</p>
        </section>
    </div>

    <div class="span8 hero-unit">
        <header>
            <h2>Profile</h2>
        </header>
            
        <section class="details" id="profile">
            <h3>{% trans %}zizoo_profile.label.about{% endtrans %}</h3>
            <p>{{ user.profile.about }}</p>
            <section class="addresses" id="profile_addresses">
                <h3>{% trans %}zizoo_profile.label.address{% endtrans %}</h3>
                {% for address in user.profile.addresses %}
                    <p>{{ address.locality }}</p>
                {% endfor %}
            </section>
        </section>

    </div>
  
{% endblock %} 
