{% trans_default_domain "labels" %}

{% block profile %}
    {% if user is defined and user %}
    <article class="user">
        <header>
            <h2>{{ user.username }}</h2>
        </header>
    </article>

    <section class="details" id="details">
        <p>{% trans %}zizoo_profile.label.username{% endtrans %}: {{ user.username }}<p>
        <p>{% trans %}zizoo_profile.label.email{% endtrans %}: {{ user.email }}</p>
    </section>

    <section class="details" id="profile">
        <h3>{{ user.profile.firstName }}</h3>
        <h3>{{ user.profile.lastName }}</h3>
        <section class="addresses" id="profile_addresses">
            {% for address in user.profile.addresses %}
                <p>{{ address.locality }}</p>
            {% endfor %}
        </section>
    </section>

    {% else %}
        <p>Please login to view your profile.</p>
    {% endif %}    
{% endblock %} 
