{# src/Zizoo/BoatBundle/Resources/views/Form/fields.html.twig #}

{% block zizoo_number_nullable_widget %}
{% spaceless %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    <div id="{{ id }}_controls">
        <label for="{{ id }}_off">Off</label><input type="radio" id="{{ id }}_off" name="{{ id }}_control" value="off" {% if form.vars.value=='' %}checked="checked"{% endif %} />
        <label for="{{ id }}_on">On</label><input type="radio" id="{{ id }}_on" name="{{ id }}_control" value="on" {% if form.vars.value!='' %}checked="checked"{% endif %}/>
    </div>
    {{ block('form_widget_simple') }}
    <style type="text/css">
        #{{ id }}_controls input, #{{ id }}_controls label {
            display: inline;
        }
    </style>
    <script type="text/javascript">
        function change_{{ id }}(){
            var selected = $('#{{ id }}_controls input[name={{ id }}_control]:checked');
            if ($(selected).val()=='on'){
                $('#{{ id }}').attr('disabled', null);
            } else {
                $('#{{ id }}').attr('disabled', 'disabled');
            }
        }
        $(document).ready(function(){
            $('#{{ id }}_controls input[name={{ id }}_control]').change(change_{{ id }}).change();
        });
    </script>
{% endspaceless %}
{% endblock zizoo_number_nullable_widget %}

{% block zizoo_boat_book_widget %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock zizoo_boat_book_widget %}
    