{# src/Zizoo/UserBundle/Resources/views/Registration/register.html.twig #}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/zizoouser/js/register.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zizoouser/css/register.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:section -->
            <section class="section alert">
                <header>
                    <h6>Alert</h6>
                </header>

                <div class="content">
                    <p>
                        If you are a private owner sign up and we will contact you when you open our private boat marketplace tick box and you can register as a regular user but they will be marked as a boat owner.
                    </p>
                </div>
            </section>
            <!-- end:section -->

            <!-- start:registration -->
            <section id="registration" class="section">
                <header>
                    <h1>Charter Registration</h1>
                </header>

                <div class="content clearfix">
                    <div class="main">

                        <form action="{{ path('ZizooCharterBundle_Registration_register')}}" method="post" {{ form_enctype(form) }} class="form">

                            <section>
                                <h2>General</h2>
                                {{ form_row(form.charter.charter_name) }}
                                {{ form_row(form.charter.charter_address) }}
                                {{ form_row(form.charter.charter_phone) }}
                            </section>

                            <section>
                                <h2>Main Contact</h2>
                                {{ form_row(form.registration.profile.first_name) }}
                                {{ form_row(form.registration.profile.last_name) }}
                                {{ form_row(form.registration.user.username) }}
                                {{ form_row(form.registration.user.email) }}
                                {{ form_row(form.registration.user.password) }}

                                {{ form_rest(form) }}
                                <div class="row">
                                    <button type="submit" class="button blue big">Create Account</button>
                                </div>
                            </section>
                        </form>
                    </div>

                    <aside>
                        <ol class="steps">
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step1.png') }}" alt="">
                                <h3>Powerful Tools</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                </p>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step2.png') }}" alt="">
                                <h3>Best in Class</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                </p>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/how-it-works-book-step3.png') }}" alt="">
                                <h3>Your Benefits</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                </p>
                            </li>
                        </ol>
                    </aside>
                </div>
            </section>
            <!-- end:registration -->
        </div>
    </div>
    <!-- end:content -->

    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
    <style type="text/css">
        {% if is_post == false %}
        .register_email {
            
        }
        {% endif %}
    </style>
{% endblock %}