{# src/Zizoo/UserBundle/Resources/views/Registration/register.html.twig #}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/zizoouser/js/register.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zizoouser/css/register.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:section -->
            <section class="section alert">
                <header>
                    <h6>Alert</h6>
                </header>

                <div class="content">
                    <p>
                        For now, only official charter companies can register their boats on Zizoo.
                        If you are a private boat owner (and not a charter company) please register as a regular
                        user (via facebook or email) and we will let you know once Zizoo private boat market place upgrade is available.
                    </p>
                </div>
            </section>
            <!-- end:section -->

            <!-- start:registration -->
            <section id="registration" class="section">
                <header>
                    <h1>Charter Registration</h1>
                </header>

                <div class="content clearfix">
                    <div class="main">

                        <form action="{{ path('ZizooCharterBundle_Registration_register')}}" method="post" {{ form_enctype(form) }} class="form">

                            <section>
                                <h2>General</h2>
                                {{ form_row(form.charter.charter_name) }}
                                {{ form_row(form.charter.charter_address) }}
                                {{ form_row(form.charter.charter_phone) }}
                            </section>

                            <section>
                                <h2>Main Contact</h2>
                                {{ form_row(form.registration.profile.first_name) }}
                                {{ form_row(form.registration.profile.last_name) }}
                                <div class="row">
                                    {{ form_label(form.registration.user.username) }}
                                    <div class="row-content root">
                                    {{ form_widget(form.registration.user.username) }}
                                    </div>
                                </div>
                                {{ form_errors(form.registration.user.username) }}
                                {% if unconfirmed_username %}
                                    <div class="row-errors-container">
                                        <div class="row-errors">
                                            <ul>
                                                <li>It looks like you have previously registered with Zizoo but not completed it by clicking on the link in the confirmation email. Maybe it landed in your spam folder? To resend the confirmation email, <a href="{{ path('ZizooCharterBundle_Registration_resend_confirmation', {email: unconfirmed_user.getEmail})}}">click here</a>.</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    {{ form_label(form.registration.user.email) }}
                                    <div class="row-content root">
                                    {{ form_widget(form.registration.user.email) }}
                                    </div>
                                </div>
                                {{ form_errors(form.registration.user.email) }}
                                {% if unconfirmed_email %}
                                    <div class="row-errors-container">
                                        <div class="row-errors">
                                            <ul>
                                                <li>It looks like you have previously registered with Zizoo but not completed it by clicking on the link in the confirmation email. Maybe it landed in your spam folder? To resend the confirmation email, <a href="{{ path('ZizooCharterBundle_Registration_resend_confirmation', {email: unconfirmed_user.getEmail})}}">click here</a>.</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                {{ form_row(form.registration.user.password) }}

                                {{ form_rest(form) }}
                                <div class="row">
                                    <button type="submit" class="button blue big">Create Account</button>
                                </div>
                            </section>
                        </form>
                    </div>

                    <aside>
                        <ol class="steps">
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/charter-registration-free.png') }}" alt="">
                                <h3>100% Free<br> Listings</h3>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/charter-registration-key.png') }}" alt="">
                                <h3>Powerful<br> Management<br> Tool</h3>
                            </li>
                            <li>
                                <img src="{{ asset('bundles/zizoobase/images/charter-registration-earth.png') }}" alt="">
                                <h3>Online<br> Marketing</h3>
                            </li>
                        </ol>
                    </aside>
                </div>
            </section>
            <!-- end:registration -->
        </div>
    </div>
    <!-- end:content -->

    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
    <style type="text/css">
        {% if is_post == false %}
        .register_email {
            
        }
        {% endif %}
    </style>
{% endblock %}