<!-- start:footer -->
    <footer id="footer">
        <div class="container">
            <div class="top clearfix">
                <a href="/" class="logo ir" title="ZIZOO">ZIZOO</a>
                <ul class="social">
                    <li><a href="" class="facebook" title="Facebook"></a></li>
                    <li><a href="" class="twitter" title="Twitter"></a></li>
                </ul>
            </div>

            <div class="columns clearfix">
                <ul>
                    <h4>About</h4>
                    <li><a href="{{ path('ZizooBaseBundle_about') }}">About Us</a></li>
                    <li><a href="{{ path('ZizooBaseBundle_terms') }}">Terms of Service</a></li>
                    <li><a href="{{ path('ZizooBaseBundle_policies') }}">Privacy Policy</a></li>
                </ul>
                <ul>
                    <h4>Destinations</h4>
                    <li><a href="{{ path('ZizooAddressBundle_locations', { 'zizoo_boat_search[location]': 'Croatia' }) }}">Croatia</a></li>
                    <li><a href="{{ path('ZizooAddressBundle_locations', { 'zizoo_boat_search[location]': 'Greece' }) }}">Greece</a></li>
                    <li><a href="{{ path('ZizooAddressBundle_locations', { 'zizoo_boat_search[location]': 'Italy' }) }}">Italy</a></li>
                </ul>
                <ul>
                    <h4>Social</h4>
                    <li><a href="https://www.facebook.com/ZizooBoats">Facebook</a></li>
                    <li><a href="https://twitter.com/ZizooBoats">Twitter</a></li>
                    <li><a href="https://plus.google.com/b/115677993248526354381/115677993248526354381">Google +</a></li>
                </ul>
                <ul>
                    <h4>Contact</h4>
                    <li>876 456 987</li>
                    <li><a href="{{ path('ZizooBaseBundle_faq') }}">FAQ</a></li>
                    <li><a href="{{ path('ZizooBaseBundle_feedback') }}">Get In Touch</a></li>
                </ul>
            </div>

            <div class="copyright">
                &copy; 2009 - 2013 Zizzo&trade; All rights reserved. Sitemap. Powered by Negra Nigoević &amp; Filip Pomykalo
            </div>
        </div>
    </footer>
<!-- end:footer -->