{% block subject %}
You have received a new message from {{sender.user.username}}
{% endblock %}
{% block body_text %}
Dear {{recipient.user.username}}, {{sender.user.username}} has sent you a private message:
{{message.body}}

You can view the message here: {{ link }}
{% endblock %}
{% block body_html %}
<p>Dear {{recipient.user.username}},</p>
<p>{{sender.user.username}} has sent you a private <a href="{{ link }}">message</a>:</p>
<p>{{message.body}}</p>
{% endblock %}


