{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}

{% block dashboard_page_title %}Notifications{% endblock %}

{% block content %}

    <h3>Reservations</h3>
    <ul>
    {% for reservation in reservations %}    
        {% if reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_REQUESTED') %}
            <li>You have requested a reservation for boat {{ reservation.boat.title }}</li>
        {% elseif reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_ACCEPTED') %}
            <li>Your requested reservation for boat {{ reservation.boat.title }} has been accepted</li>
        {% elseif reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_EXPIRED') %}
            <li>Your reservation request for boat {{ reservation.boat.title }} has expired</li>
        {% elseif reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_DENIED') %}
            <li>Your reservation request for boat {{ reservation.boat.title }} has been denied</li>
        {% endif %}
    {% endfor %} 
    </ul>
    <hr />
        
    <h3>Trips</h3>
    {% for booking in bookings %}    
        <p>Booked boat {{ booking.reservation.boat.title }} for {{ booking.cost }}</p>
    {% endfor %}
        
    <hr />
        
    <h3>Reservation Requests Received</h3>
    {% for reservationRequest in reservationRequests %}    
        <p>You Received a <a href="{{ path('ZizooReservationBundle_view', {id: reservationRequest.id}) }}">reservation request</a> from {{ reservationRequest.guest.profile.firstName }}</p>
    {% endfor %}   

{% endblock %}