{% trans_default_domain "labels" %}

<!-- start:avatar -->
<div class="avatar">
    <figure id="user_avatar">
        {% if user.profile.avatar|length > 0 %}
            <img src="{{ asset(user.profile.avatar.first|pictureWebPath) }}" alt="{{ user.profile.firstName }} {{ user.profile.lastName }}" class="large" id="avatar_img" />
        {% else %}
            <img alt="Profile avatar not set" style="display: none" id="avatar_img" />
        {% endif %}
        <figcaption>
            {{ user.profile.firstName }} {{ user.profile.lastName }}
        </figcaption>
    </figure>
    <section class="completeness">
        <h4>Profile Completeness {% if profile_completeness < 3 %}<span class="icon cross"></span>{% endif %}</h4>
        <ul class="clearfix">
            <li {% if profile_completeness >=1 %}class="complete"{% endif %}><span>1</span></li>
            <li {% if profile_completeness >=2 %}class="complete"{% endif %}><span>2</span></li>
            <li {% if profile_completeness >=3 %}class="complete"{% endif %}><span>3</span></li>
        </ul>
    </section>
    <a href="{{ path('ZizooBaseBundle_Dashboard_Skills') }}" class="button blue big" title="Add Skills">Add Skills</a>
</div>
<!-- end:avatar -->

<!-- start:verifications -->
<section class="verifications">
    <h4>Verifications</h4>
    <ul>
        <li class="phone verificated"><span></span>Phone <span class="icon check black"></span></li>
        <li class="facebook verificated"><span></span>Facebook <span class="icon check white"></span></li>
        <li class="twitter"><span></span>Twitter <span class="icon cross"></span></li>
    </ul>
</section>
<!-- end:verifications -->

<div class="dashboard_navigation">
    {% if user.charter %}
        <a href="{{ path('ZizooBaseBundle_Dashboard_CharterDashboard') }}">Switch to charter view</a>
    {% endif %}
</div>
