{% trans_default_domain "labels" %}

<div id="dashboard_user">
    <div class="avatar">
        {% if user.profile.avatar|length > 0 %}
            <img src="{{ asset(user.profile.avatar.first|pictureWebPath) }}" alt="image not found" class="large" />
        {% endif %}
    </div>
    <h3>{{ user.profile.firstName }} {{ user.profile.lastName }}</h3>

    <div id="profile_completeness" class="{{ profile_completeness }}">Profile Completeness Level:{{ profile_completeness }}</div>
    <a id="add_skills" href="{{ path('ZizooBaseBundle_Dashboard_Skills') }}">Add Skills</a>

</div>

<hr />

<div class="dashboard_navigation">
    <ul class="nav">
      <li class="active"><a href="{{ path('ZizooBaseBundle_Dashboard_UserDashboard', {show_user: 'true'}) }}">Dashboard</a></li>
      <li><a href="{{ path('fos_message_inbox') }}">Inbox</a></li>
      <li><a href="{{ path('ZizooBaseBundle_Dashboard_Profile') }}">Profile</a></li>
      <li><a href="{{ path('ZizooBookingBundle_view_all_bookings') }}">Trips</a></li>
      <li><a href="{{ path('ZizooBaseBundle_Dashboard_Skills') }}">Skills</a></li>
      <li><a href="{{ path('ZizooUserBundle_User_AccountSettings') }}">Account Settings</a></li>
    </ul>
    
    {% if user.charter %}
        <a href="{{ path('ZizooBaseBundle_Dashboard_CharterDashboard') }}">Switch to charter view</a>
    {% endif %}
</div>
