<ul class="tabs user clearfix">
    <li {% if current=="index" %} class="current" {% endif %}>
    	<a href="{{ path('ZizooBaseBundle_Dashboard_UserDashboard', {show_user: 'true'}) }}" title="Dashboard">
    		<span class="icon dashboard"></span> Dashboard
    	</a>
    </li>
    <li {% if current=="inbox" %} class="current" {% endif %}>
	    <a href="{{ path('ZizooBaseBundle_Dashboard_Inbox') }}" title="Inbox"><span class="icon message">
	    	<span class="circle red">5</span></span> Inbox
	    </a>
    </li>
    <li {% if current=="profile" %} class="current" {% endif %}>
	    <a href="{{ path('ZizooBaseBundle_Dashboard_Profile') }}" title="Profile">
	    	<span class="icon profile"></span> Profile
	    </a>
    </li>
    <li {% if current=="bookings" %} class="current" {% endif %}>
	    <a href="{{ path('ZizooBaseBundle_Dashboard_Trips') }}" title="My Trips">
	    	<span class="icon bookings"></span> My Trips
	    </a>
    </li>
    <li {% if current=="skills" %} class="current" {% endif %}>
	    <a href="{{ path('ZizooBaseBundle_Dashboard_Skills') }}" title="My Sills">
	    	<span class="icon skills"></span> My Skills
	    </a>
    </li>
    <li {% if current=="account" %} class="current" {% endif %}>
	    <a href="{{ path('ZizooUserBundle_User_AccountSettings') }}" title="Account">
	    	<span class="icon account"></span> Account
	    </a>
    </li>
</ul>