{# src/Zizoo/UserBundle/Resources/views/Registration/register_facebook_new.html.twig #}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/zizoouser/js/register.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zizoouser/css/register.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div id="fb_profile">
        <img src="https://graph.facebook.com/{{ data['id'] }}/picture?redirect=true" />
        <span>{{ data['name'] }}</span>
        <span><a href="{{ facebook.logoutURL({ next: url('register', {'relogin': 'true'}) }) }}">Not you?</a></span>
    </div>
    
    <div>
        <form novalidate="novalidate" action="{{ path('register_facebook_new')}}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div>
                {{ form_label(form.user.username) }}
                {{ form_errors(form.user.username) }}
                {% if unconfirmed_username %}
                    <ul>
                        <li>It looks like you have previously registered with Zizoo but not completed it by clicking on the link in the confirmation email. Maybe it landed in your spam folder? To resend the confirmation email, <a href="{{ path('resend_confirmation', {email: unconfirmed_user.getEmail})}}">click here</a>.</li>
                    </ul>
                {% endif %}
                {{ form_widget(form.user.username) }}
            </div>
                
            {{ form_rest(form) }}

            <input type="submit" />
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
    <style type="text/css">
        
    </style>
{% endblock %}


