{# src/Zizoo/UserBundle/Resources/views/Registration/register.html.twig #}

<script type="text/javascript" src="{{ asset('bundles/zizoouser/js/register.js') }}"></script>

<script>
    $(document).ready(function() {
        {% if relogin %}
            $('.register_facebook_btn:first-child').click();
        {% endif %}
    });
</script>


<!-- start:register -->
<section id="register" class="modal" style="display: none;">
    <header>
        <h6>Register</h6>
        <a href="#" class="close ir" title="Close">Close</a>
    </header>

    <div class="content">
        <a target="_blank" href="{{ facebook.loginUrl({ scope: 'email', redirect_uri: url('ZizooUserBundle_register_facebook', {ajax: ajax}), display: 'popup' }) }}" class="button facebook big">Login with Facebook</a>
        <span class="or">or</span>
        <a href="#" class="table">
            <span class="table-cell">
                <span class="button gray big">Connect with E-mail Account</span>
            </span>
            <span class="table-cell">
                <span class="button gray big"><span></span></span>
            </span>
        </a>
        <span class="or">or</span>
        <a href="{{ path('ZizooCharterBundle_Registration_register') }}" class="button blue big">I am a Charter</a>
    </div>

    <div class="expand">
        <div class="content">
            <form novalidate="novalidate" action="{{ path('ZizooUserBundle_register')}}" method="post" {{ form_enctype(form) }} class="form">
                {{ form_errors(form) }}

                {{ form_row(form.profile.first_name) }}
                {{ form_row(form.profile.last_name) }}
                {{ form_row(form.user.username) }}
                {{ form_row(form.user.email) }}
                {{ form_row(form.user.password) }}
                {{ form_row(form.terms) }}

                {{ form_rest(form) }}
                
                <!--div class="row">
                    <label><input name="registration[terms]" type="checkbox"> I Agree to Terms and Conditions</label>
                </div-->
                <div class="row">
                    <button type="submit" class="button blue big">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- end:register -->

<!--
    <div class="register" id="{% if ajax %}register_inner_ajax{% else %}register_inner{% endif %}">
        <input type="hidden" value="ongoing" id="status" />
        <div>
            <input type="button" value="With EMAIL account" class="register_email_btn" />
            or
            <input type="button" value="Connect with FACEBOOK" class="register_facebook_btn" href="{{ facebook.loginUrl({ scope: 'email', redirect_uri: url('ZizooUserBundle_register_facebook', {ajax: ajax}), display: 'popup' }) }}" />
            or
            <form method="get" action="{{ path('ZizooCharterBundle_Registration_register') }}">
                <input type="submit" value="I am a Charter" class="charter_register_btn" />
            </form>
        </div>

        <div class="register_email">
                    
                <div>
                    {{ form_label(form.user.username) }}
                    {{ form_errors(form.user.username) }}
                    {% if unconfirmed_username %}
                        <ul>
                            <li>It looks like you have previously registered with Zizoo but not completed it by clicking on the link in the confirmation email. Maybe it landed in your spam folder? To resend the confirmation email, <a href="{{ path('ZizooUserBundle_resend_confirmation', {email: unconfirmed_user.getEmail})}}">click here</a>.</li>
                        </ul>
                    {% endif %}
                    {{ form_widget(form.user.username) }}
                </div>

                <div>
                    {{ form_label(form.user.email) }}
                    {{ form_errors(form.user.email) }}
                    {% if unconfirmed_email %}
                        <ul>
                            <li>It looks like you have previously registered with Zizoo but not completed it by clicking on the link in the confirmation email. Maybe it landed in your spam folder? To resend the confirmation email, <a href="{{ path('ZizooUserBundle_resend_confirmation', {email: unconfirmed_user.getEmail})}}">click here</a>.</li>
                        </ul>
                    {% endif %}
                    {{ form_widget(form.user.email) }}
                </div>
        </div>
    </div>
-->   


