{# src/Zizoo/UserBundle/Resources/views/Registration/register.html.twig #}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/zizoouser/js/register.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zizoouser/css/register.css') }}" type="text/css" rel="stylesheet" />
    
    <style type="text/css">
        #{% if ajax %}register_inner_ajax{% else %}register_inner{% endif %} {
            width: 470px;
            margin: 20px auto;
        }

    </style>
    
{% endblock %}

{% block body %}
    <div>
        <div class="register" id="{% if ajax %}register_inner_ajax{% else %}register_inner{% endif %}">

            <style type="text/css">
                .register_controls {
                    background: none repeat scroll 0 0 #FFFFFF;
                    border-radius: 0 0 5px 5px;
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                    padding: 30px;
                }
                
                .register_email {
                    background: none repeat scroll 0 0 #FFFFFF;
                    border-radius: 0 0 5px 5px;
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                    padding: 30px;
                }
                
                {% if is_post == false and email is null %}
                .register_email_container {
                    display: none;
                }
                {% else %}
                .register .register_email_container {
                    display: block;
                }  
                {% endif %}
                
            </style>
            
            <div class="register_controls">
                <a class="register_facebook_btn button facebook big" href="{{ facebook.loginUrl({ scope: 'email', redirect_uri: url('ZizooUserBundle_register_facebook', {ajax: ajax}), display: 'popup' }) }}" target="_blank">Login with Facebook</a>

                <span class="or">or</span>
                <a class="table register-table" href="#">
                    <span class="table-cell">
                        <span class="register_email_btn button gray big">Connect with E-mail Account</span>
                    </span>
                    <span class="table-cell">
                        <span class="button gray big"><span></span></span>
                    </span>
                </a>
                <span class="or">or</span>
                <a class="charter_register_btn button blue big" href="{{ path('ZizooCharterBundle_Registration_register') }}">I am a Charter</a>

                <input type="hidden" value="ongoing" id="status" />
            </div>

            <div class="register_email_container expand">
                <div class="register_email">
                    
                    <form class="form register_form" action="{{ path('ZizooUserBundle_register')}}" method="post" {{ form_enctype(form) }} class="register_form form">
                        {{ form_errors(form) }}
                            
                        {{ form_row(form.profile.first_name) }}
                        
                        {{ form_row(form.profile.last_name) }}
                        
                            
                        {% set error_class = form.user.username.vars.errors|length > 0 ? ' error' : '' %}
                        <div class="row{{ error_class }}">
                            {{ form_label(form.user.username) }}
                            <div class="row-content root">
                            {{ form_widget(form.user.username) }}
                            </div>
                        </div>
                        {{ form_errors(form.user.username) }}
                        {% if unconfirmed_username %}
                            <div class="row-errors-container">
                                <div class="row-errors">
                                    <ul>
                                        <li>It looks like you have previously registered with Zizoo but not completed it by clicking on the link in the confirmation email. Maybe it landed in your spam folder? To resend the confirmation email, <a href="{{ path('ZizooUserBundle_resend_confirmation', {email: unconfirmed_user.getEmail})}}">click here</a>.</li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        
                        {% set error_class = form.user.email.vars.errors|length > 0 ? ' error' : '' %}
                        <div class="row{{ error_class }}">
                            {{ form_label(form.user.email) }}
                            <div class="row-content root">
                            {{ form_widget(form.user.email) }}
                            </div>
                        </div>
                        {{ form_errors(form.user.email) }}
                        {% if unconfirmed_email %}
                            <div class="row-errors-container">
                                <div class="row-errors">
                                    <ul>
                                        <li>It looks like you have previously registered with Zizoo but not completed it by clicking on the link in the confirmation email. Maybe it landed in your spam folder? To resend the confirmation email, <a href="{{ path('ZizooUserBundle_resend_confirmation', {email: unconfirmed_user.getEmail})}}">click here</a>.</li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                            
                            
                        {% set error_class = form.user.password.password.vars.errors|length > 0 ? ' error' : '' %}
                        <div class="row{{ error_class }}">
                            {{ form_label(form.user.password.password) }}
                            <div class="row-content root">
                            {{ form_widget(form.user.password.password) }}
                            </div>
                        </div>
                        {{ form_errors(form.user.password.password) }}
                            
                        {% set error_class = form.user.password.confirm.vars.errors|length > 0 ? ' error' : '' %}
                        <div class="row{{ error_class }}">
                            {{ form_label(form.user.password.confirm) }}
                            <div class="row-content root">
                            {{ form_widget(form.user.password.confirm) }}
                            </div>
                        </div>
                        {{ form_errors(form.user.password.confirm) }}
                        
                        {{ form_row(form.terms) }} 
                        
                        {{ form_rest(form) }}

                        <div class="row">
                            <button class="button blue big" type="submit">Create Account</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.register_facebook_btn').click(function(){
                //top.location.href = $(this).attr('href');
                window.open($(this).attr('href'), 'Register with Facebook', "height=200,width=200");
                return false;
            });
            
            $('.register-table .button').click(function(){
                $(this).parents('div.register').find('.register_email_container').slideToggle(200, 'easeInQuad', function() {
                    $(this).find('input[type="text"]:first').focus();
                });
                return false;
             });
            
            {% if relogin %}
                $('.register_facebook_btn:first-child').click();
            {% endif %}
        });
    </script>
    
{% endblock %}

