{# src/Zizoo/BaseBundle/Resources/views/Form/fields.html.twig #}

{% block form_label %}
{% spaceless %}
    {% set default_class = block_prefixes|parentBlockPrefix %}
    
    {% set default_class = form|rootLabel(default_class) %}
    
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        
        {% if required %}
            {% if label['class'] is defined %}
                {% set class_attr = (label_attr.class|default(default_class) ~ ' required')|trim ~ ' ' ~ label['class']|trim %}
                {% set label_attr = label_attr|merge({'class': class_attr}) %}
            {% else %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default(default_class) ~ ' required')|trim}) %}
            {% endif %}
        {% else %}
            {% if label['class'] is defined %}
                {% set class_attr = (label_attr.class|default(default_class))|trim ~ ' ' ~ label['class']|trim %}
                {% set label_attr = label_attr|merge({'class': class_attr}) %}
            {% else %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default(default_class))|trim}) %}
            {% endif %}
        {% endif %}

        {% if label['value'] is defined %}
            {% set label = label['value'] %}
        {% endif %}

        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><span class="icon"></span>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="row-errors-container">
        <div class="row-errors">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
        
{% block form_row %}
{% spaceless %}
    {% set default_class = block_prefixes|parentBlockPrefix %}
    
    {% set default_class = form|rootLabel(default_class) %}
    
    <div class="row">
        {{ form_label(form) }}
        {% set actual_label = label %}
        {% if label is not sameas(false) %}
            {% if label is empty %}
                {% set actual_label = name|humanize %}
            {% endif %}
        {% endif %}
       
        <div class="row-content {{ default_class }} {% if actual_label == false %}no-margin{% endif %}">
        {{ form_widget(form) }}
        </div>
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock form_row %}
        
{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        <ul>
            {% for child in form %}
                <li>
                {{ form_widget(child) }}
                {{ form_label(child) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}
        
        
{% block checkbox_row %}
{% spaceless %}
    <div class="row">       
        <div class="row-content no-margin">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        </div>
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock checkbox_row %}
        
{% block zizoo_number_nullable_widget %}
{% spaceless %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    <table>
        <tr>
            <td id="{{ id }}_controls">
                {{ form_widget(form.nullable) }}
            </td>
            <td>
                {{ form_widget(form.nullable_value) }}
            </td>
        </tr>
        {% if form.nullable_value.vars.errors|length > 0 %}
        <tr>
            <td colspan="2">
            {{ form_errors(form.nullable_value) }}
            </td>
        </tr>
        {% endif %}
    </table>
    <style type="text/css">
        #{{ id }}_controls input, #{{ id }}_controls label {
            display: inline;
        }
    </style>
    <script type="text/javascript">
        function change_{{ id }}(){
            var selected = $('#{{ id }}_controls input[name="{{ form.nullable.vars.full_name }}"]:checked');
            if ($(selected).val()=='1'){
                $('#{{ form.nullable_value.vars.id }}').attr('disabled', null);
            } else {
                $('#{{ form.nullable_value.vars.id }}').attr('disabled', 'disabled');
            }
        }
        $(document).ready(function(){
            $('#{{ id }}_controls input[name="{{ form.nullable.vars.full_name }}"]').change(change_{{ id }}).change();
        });
    </script>
{% endspaceless %}
{% endblock zizoo_number_nullable_widget %}
   

{% block zizoo_terms_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% if label['class'] is defined %}
            {% set class_attr = (label_attr.class|default('') ~ ' required')|trim ~ ' ' ~ label['class']|trim %}
            {% set label_attr = label_attr|merge({'class': class_attr}) %}
        {% else %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
    {% else %}
        {% if label['class'] is defined %}
            {% set class_attr = label['class']|trim %}
            {% set label_attr = label_attr|merge({'class': class_attr}) %}
        {% else %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))|trim}) %}
        {% endif %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label id="{{ id }}_label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ ( terms_text|trans({'%terms_link%': '<a target="_blank" href="' ~ terms_url ~ '">' ~ terms_link|trans ~ '</a>' }) )|raw }}</label>
    <div id="{{ id }}_terms" class="empty" style="display: none"></div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#{{ id }}_label a').click(function(){
                if ($('#{{ id }}_terms').hasClass('empty')){
                    $.blockUI({ message: '' });
                    $.ajax({
                        url: '{{ terms_url }}',
                        type: 'get',
                        success: function(data){
                            var terms = $(data).find('#terms');
                            if (terms.length>0){
                                $('#{{ id }}_terms').removeClass('empty').html(terms);
                                {{ id }}_openTermsDialog();
                                $.unblockUI();
                            } else {
                                window.location.href = '{{ terms_url }}';
                                $.unblockUI();
                            }
                        },
                        error: function(data){
                            window.location.href = '{{ terms_url }}';
                            $.unblockUI();
                        }
                    });
                } else {
                    {{ id }}_openTermsDialog();
                }
                return false;
            });
        });
        
        function {{ id }}_openTermsDialog(){
            $('#{{ id }}_terms').dialog({
                modal: true,
                closeOnEscape: false,
                resizable: false,
                width: 470,
                maxWidth: 470,
                fluid: true,
                title: '{{ terms_link|trans }}'
            });
        }
    </script>
{% endspaceless %}
{% endblock zizoo_terms_label %}
    
{% block zizoo_number_range_widget %}
{% spaceless %}
    <div class="slider">
        <div class="clearfix">
            {% if options is not null %}
                <div class="input-wrap">
                    {{ form_widget(form.value_from)}}
                </div>
                <span class="to">to</span>
                <div class="input-wrap">
                    {{ form_widget(form.value_to)}}
                </div>
            {% else %}
                {{ form_widget(form.value_from)}}
                <span class="to">to</span>
                {{ form_widget(form.value_to)}}
            {% endif %}
        </div>
        <div id="{{ id }}_slider"></div>
    </div>
    {% if options is not null %}
        <div class="change">
            <a href="#">{{ options['title'] }}</a>
            <ul class="change-options clearfix">
                {% for key,value in options['values'] %}
                <li><a href="#">{{ value }} <span>{{ key }}</span></a></li>
                {% endfor %}
            </ul>
            <input type="hidden" class="change-value">
        </div>
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function(){
            if ($('#{{ form.value_from.vars.id }}').val()==''){
                $('#{{ form.value_from.vars.id }}').val('{{ min }}');
            }
            if ($('#{{ form.value_to.vars.id }}').val()==''){
                $('#{{ form.value_to.vars.id }}').val('{{ max }}');
            }
            $('#{{ id }}_slider').slider({
                range: true,
                min: {{ min }},
                max: {{ max }},
                values: [ {{ min }}, {{ max }} ],
                slide: function( event, ui ) {
                    $('#{{ form.value_from.vars.id }}').val(ui.values[ 0 ]);
                    $('#{{ form.value_to.vars.id }}').val(ui.values[ 1 ]);
                    //$( "#length_text" ).html(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                },
                stop: function( event, ui ){
                    {% if callback is not null %}
                        {{ callback }}
                    {% endif %}
                }
            });
        });
    </script>
{% endspaceless %}
{% endblock zizoo_number_range_widget %}
    