{# src/Zizoo/BaseBundle/Resources/views/Form/fields.html.twig #}

{% block form_label %}
{% spaceless %}
    {% set default_class = block_prefixes|parentBlockPrefix %}
    
    {% set default_class = form|rootLabel(default_class) %}
    
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        
        {% if required %}
            {% if label['class'] is defined %}
                {% set class_attr = (label_attr.class|default(default_class) ~ ' required')|trim ~ ' ' ~ label['class']|trim %}
                {% set label_attr = label_attr|merge({'class': class_attr}) %}
            {% else %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default(default_class) ~ ' required')|trim}) %}
            {% endif %}
        {% else %}
            {% if label['class'] is defined %}
                {% set class_attr = (label_attr.class|default(default_class))|trim ~ ' ' ~ label['class']|trim %}
                {% set label_attr = label_attr|merge({'class': class_attr}) %}
            {% else %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default(default_class))|trim}) %}
            {% endif %}
        {% endif %}

        {% if label['value'] is defined %}
            {% set label = label['value'] %}
        {% endif %}

        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><span class="icon"></span>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="row-errors-container">
        <div class="row-errors">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
        
{% block form_row %}
{% spaceless %}
    {% set default_class = block_prefixes|parentBlockPrefix %}
    
    {% set default_class = form|rootLabel(default_class) %}
    
    <div class="row">
        {{ form_label(form) }}
        {% set actual_label = label %}
        {% if label is not sameas(false) %}
            {% if label is empty %}
                {% set actual_label = name|humanize %}
            {% endif %}
        {% endif %}
       
        <div class="row-content {{ default_class }} {% if actual_label == false %}no-margin{% endif %}">
        {{ form_widget(form) }}
        </div>
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock form_row %}
        
{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        <ul>
            {% for child in form %}
                <li>
                {{ form_widget(child) }}
                {{ form_label(child) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}
        
        
{% block checkbox_row %}
{% spaceless %}
    <div class="row">       
        <div class="row-content no-margin">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        </div>
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock checkbox_row %}
        
{% block zizoo_number_nullable_widget %}
{% spaceless %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    <table>
        <tr>
            <td id="{{ id }}_controls">
                <ul>
                    <li><input type="radio" id="{{ id }}_off" name="{{ id }}_control" value="off" {% if form.vars.value=='' %}checked="checked"{% endif %} /><label for="{{ id }}_off">Off</label></li>
                    <li><input type="radio" id="{{ id }}_on" name="{{ id }}_control" value="on" {% if form.vars.value!='' %}checked="checked"{% endif %}/><label for="{{ id }}_on">On</label></li>
                </ul>
            </td>
            <td>
                {{ block('form_widget_simple') }}
            </td>
        </tr>
    </table>
    <style type="text/css">
        #{{ id }}_controls input, #{{ id }}_controls label {
            display: inline;
        }
    </style>
    <script type="text/javascript">
        function change_{{ id }}(){
            var selected = $('#{{ id }}_controls input[name={{ id }}_control]:checked');
            if ($(selected).val()=='on'){
                $('#{{ id }}').attr('disabled', null);
            } else {
                $('#{{ id }}').attr('disabled', 'disabled');
            }
        }
        $(document).ready(function(){
            $('#{{ id }}_controls input[name={{ id }}_control]').change(change_{{ id }}).change();
        });
    </script>
{% endspaceless %}
{% endblock zizoo_number_nullable_widget %}
   

{% block zizoo_terms_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% if label['class'] is defined %}
            {% set class_attr = (label_attr.class|default('') ~ ' required')|trim ~ ' ' ~ label['class']|trim %}
            {% set label_attr = label_attr|merge({'class': class_attr}) %}
        {% else %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
    {% else %}
        {% if label['class'] is defined %}
            {% set class_attr = label['class']|trim %}
            {% set label_attr = label_attr|merge({'class': class_attr}) %}
        {% else %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))|trim}) %}
        {% endif %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label id="{{ id }}_label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ ( terms_text|trans({'%terms_link%': '<a target="_blank" href="' ~ terms_url ~ '">' ~ terms_link|trans ~ '</a>' }) )|raw }}</label>
    <div id="{{ id }}_terms" class="empty" style="display: none"></div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#{{ id }}_label a').click(function(){
                if ($('#{{ id }}_terms').hasClass('empty')){
                    $.blockUI({ message: '' });
                    $.ajax({
                        url: '{{ terms_url }}',
                        type: 'get',
                        success: function(data){
                            var terms = $(data).find('#terms');
                            if (terms.length>0){
                                $('#{{ id }}_terms').removeClass('empty').html(terms);
                                {{ id }}_openTermsDialog();
                                $.unblockUI();
                            } else {
                                window.location.href = '{{ terms_url }}';
                                $.unblockUI();
                            }
                        },
                        error: function(data){
                            window.location.href = '{{ terms_url }}';
                            $.unblockUI();
                        }
                    });
                } else {
                    {{ id }}_openTermsDialog();
                }
                return false;
            });
        });
        
        function {{ id }}_openTermsDialog(){
            $('#{{ id }}_terms').dialog({
                modal: true,
                closeOnEscape: false,
                resizable: false,
                width: 470,
                maxWidth: 470,
                fluid: true,
                title: '{{ terms_link|trans }}'
            });
        }
    </script>
{% endspaceless %}
{% endblock zizoo_terms_label %}