{% trans_default_domain "labels" %}

<div id="dashboard_charter">
    <div class="avatar">
        {% if charter.picture is not null %}
            <img src="{{ asset(charter|pictureWebPath) }}" alt="image not found" class="large" />
        {% endif %}
    </div>
    <h3>{{ charter.charterName }}</h3>
  
    <p>Captain!</p>
           
        
    <a id="add_boat" href="{{ path('ZizooBaseBundle_Dashboard_BoatNew') }}">Add Boat</a>
</div>

<hr />

<div class="dashboard_navigation">
    <ul class="nav">
      <li class="active"><a href="{{ path('ZizooBaseBundle_Dashboard') }}">Dashboard</a></li>
      <li><a href="{{ path('fos_message_inbox') }}">Inbox</a></li>
      <li><a href="{{ path('fos_message_sent') }}">Sent Messages</a></li>
      <li><a href="{{ path('ZizooCharterBundle_Charter_Boats') }}">Boats</a></li>
      <li><a href="{{ path('ZizooCharterBundle_Charter_PayoutSettings') }}">Payout Settings</a></li>
    </ul>
    <a href="{{ path('ZizooBaseBundle_Dashboard', {show_user: 'true'}) }}">Switch to user view</a>
</div>
