{% trans_default_domain "labels" %}

<!-- start:avatar -->
<div class="avatar">
    <figure id="charter_logo">
        {% if charter.logo is not null %}
            <img src="{{ asset(charter.logo|pictureWebPath) }}" alt="{{ charter.charterName }}" class="large" id="logo_img" />
        {% else %}
            <img src="{{ asset('bundles/zizoobase/images/default/avatar-user.png'|imagine_filter('thumb_190x_')) }}" alt="Charter logo not set" id="logo_img" />
        {% endif %}
        <figcaption>
            {{ charter.charterName }}
        </figcaption>
    </figure>
    <section class="completeness">
        {{ completeness|completeness }}
    </section>
    <a href="{{ path('ZizooBaseBundle_Dashboard_CharterNewBoat') }}" class="button orange big" title="List Boats">List Boats</a>
</div>
<!-- end:avatar -->

<!-- start:verifications -->
<section class="verifications">
    <h4>Verifications</h4>
    <ul>
        <li class="phone verificated"><span></span>Phone <span class="icon check black"></span></li>
        <li class="facebook verificated"><span></span>Facebook <span class="icon check white"></span></li>
        <li class="twitter verificated"><span></span>Twitter <span class="icon check white"></span></li>
    </ul>
</section>
<!-- end:verifications -->


<div class="dashboard_navigation">
    <a href="{{ path('ZizooBaseBundle_Dashboard_UserDashboard') }}">Switch to user view</a>
</div>
