{% block body %}

    {% if message %}
        <p> {{ message }}</p>
    {% endif %}

    {% if profile.phone %}
        <h3>{{ profile.phone }}</h3>

        {% if profile_verified %}
            {{ "zizoo_sms.phone.verified"|trans }}
        {% else %}
            {% if verification_form %}
                <form class="form" method="post" {{ form_enctype(verification_form) }}>

                    {{ form_widget(verification_form) }}

                    <button type="submit" class="button blue small right">Submit</button>
                </form>
                <a href="{{ path(routes['verify_send_route'], {profileId: profile.id}) }}" title="Resend Code">{{ "zizoo_sms.phone.resend_code"|trans }}</a>
            {% else %}
                <a href="{{ path(routes['verify_send_route'], {profileId: profile.id}) }}" title="Send Code">{{ "zizoo_sms.phone.send_code"|trans }}</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h3>{{ "zizoo_sms.phone.none"|trans }}</h3>
    {% endif %}

{% endblock %}