{% extends 'ZizooBookingBundle::layout.html.twig' %}
{% trans_default_domain "labels" %}

{% block title %}Your booking{% endblock %}

{% block body %}

    <div id="content">
        <div class="container clearfix">

            <!-- start:confirmation -->
            <section id="confirmation" class="section">
                <header>
                    <h1>Zizoo Confirmation</h1>
                </header>

                <div class="content">
                    <h2>Booking Reference: <strong>{{ booking.reference }}</strong></h2>
                    <div class="entry">
                        <p>
                            Thank you for booking at Zizoo. Shortly you will receive an email with the booking details and confirmation.
                        </p>
                        <p>
                            The Boat Owner should confirm or reject your booking within 24 hours period, otherwise the booking will be automatically canceled and you will have to repeat the process.
                        </p>
                        <p>
                            Once the booking is approved you will receive the Confirmation email with additional details and contacts of the Boat Owner.
                        </p>
                        <p>
                            The cancellation policy is subjected to specific Boat Owner’s Terms and Conditions and it is stated on Boat profile for every boat listed.
                        </p>
                    </div>

                    <!-- start:trips -->
                    <div class="trips">

                        <article class="trip clearfix">
                            <div class="box">
                                {% set boat_url = path('ZizooBoatBundle_Boat_Show', {id: boat.id}) %}
                                <a href="{{ boat_url }}" class="boat gray clearfix">
                                    <figure>
                                        {% if boat.image.first != false %}
                                            <img src="{{ asset(boat.image.first|pictureWebPath|imagine_filter('thumb_218x114')) }}" alt="" />
                                        {% else %}
                                            <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg'|imagine_filter('thumb_218x114')) }}" alt="" />
                                        {% endif %}
                                        <figcaption class="clearfix">
                                            {{ boat.name }} <span class="icon {{ booking.crew==true?'plus':'minus' }}"></span>
                                        </figcaption>
                                    </figure>
                                    <div class="left">
                                        {# 24 Reviews #}
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <h3>{{ boat.address.locality }}</h3>
                                <span class="price">{{ booking|BookBoat_price( booking.cost )|raw }} &euro;</span>
                                <time datetime="{{ booking.reservation.checkIn|date(constant('DATE_W3C')) }}">{{ booking.reservation.checkIn|date('M d, Y') }} &ndash; {{ booking.reservation.checkOut|date('M d, Y') }}</time>
                                <div class="overall clearfix">
                                    {#
                                    <div class="column">
                                        Overall Rating
                                        <div class="ratings big"><span class="r4 r5"></span></div>
                                    </div>
                                    <div class="column">
                                        Value
                                        <div class="ratings"><span class="r4"></span></div>
                                    </div>
                                    <div class="column">
                                        Service
                                        <div class="ratings"><span class="r3"></span></div>
                                    </div>
                                    <div class="column">
                                        Location
                                        <div class="ratings"><span class="r2 r3"></span></div>
                                    </div>
                                    <div class="column">
                                        Food
                                        <div class="ratings"><span class="r5"></span></div>
                                    </div>
                                    <div class="column">
                                        Clear
                                        <div class="ratings"><span class="r1"></span></div>
                                    </div>
                                    #}
                                </div>
                            </div>
                        </article>

                    </div>
                    <!-- end:trips -->

                </div>
            </section>
            <!-- end:confirmation -->

        </div>
    </div>

    <br />

    
    <script type="text/javascript">
               
        $(document).ready(function(){            
            
            

        });
    </script>

{% endblock %}