{% trans_default_domain "labels" %}

{% block title %}Your bookings{% endblock %}

{% block body %}

    {% if bookings %}
        <table>
            <thead>
                <tr>
                    <th>Boat</th>
                    <th>Reservation Date</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Number of Guests</th>
                </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td><a href="{{ path('ZizooBookingBundle_view_booking', {id: booking.id}) }}">{{ booking.reservation.boat.name }}</a></td>
                    <td>{{ booking.reservation.created|date }}</td>
                    <td>{{ booking.reservation.checkIn|date }}</td>
                    <td>{{ booking.reservation.checkOut|date }}</td>
                    <td>{{ booking.reservation.nrGuests }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    You have no bookings.
    {% endif %}


    <br />

    
    <script type="text/javascript">
               
        $(document).ready(function(){            
            
            

        });
    </script>

{% endblock %}