{% extends 'ZizooBookingBundle::layout.html.twig' %}
{% trans_default_domain "labels" %}

{% block title %}Your booking{% endblock %}

{% block body %}

    <table>
        <tbody id="trip_details">
            <tr>
                <td>Boat:</td>
                <td><a href="{{ path('ZizooBoatBundle_boat_show', {id: reservation.boat.id}) }}">{{ reservation.boat.name }}</a></td>
            </tr>
            <tr>
                <td>Check In:</td>
                <td>{{ reservation.checkIn|date }}</td>
            </tr>
            <tr>
                <td>Check Out:</td>
                <td>{{ reservation.checkOut|date }}</td>
            </tr>
            <tr>
                <td>Nights:</td>
                <td>{{ reservation|Reservation_numberOfDays }}</td>
            </tr>
            <tr>
                <td>Guests:</td>
                <td>{{ reservation.nrGuests }}</td>
            </tr>
        </tbody>
        <tbody id="cost_details">
            <tr>
                <td>Total:</td>
                <td>{{ reservation|Reservation_displayPrice }}</td>
            </tr>
            <tr>
                <td>Paid:</td>
                <td>{{ reservation|Reservation_amountPaid }}</td>
            </tr>
            <tr>
                <td>Outstanding:</td>
                <td>{{ reservation|Reservation_amountOutstanding }}</td>
            </tr>
        </tbody>
    </table>

    <br />

    
    <script type="text/javascript">
               
        $(document).ready(function(){            
            
            

        });
    </script>

{% endblock %}