{% block content %}
    <!-- start:confirmation -->
    <section id="confirmation" class="section">

        <div>
            <div class="entry">
                <p>
                    Thank you for booking at Zizoo. Shortly you will receive an email with the booking details and confirmation.
                </p>
                <p>
                    The Boat Owner should confirm or reject your booking within 24 hours period, otherwise the booking will be automatically canceled and you will have to repeat the process.
                </p>
                <p>
                    Once the booking is approved you will receive the Confirmation email with additional details and contacts of the Boat Owner.
                </p>
                <p>
                    The cancellation policy is subjected to specific Boat Owner’s Terms and Conditions and it is stated on Boat profile for every boat listed.
                </p>
            </div>
        </div>
    </section>
    <!-- end:confirmation -->
    
    <!-- start:details -->
    <section id="details" class="section">
        <div class="clearfix">
            <!-- start:trip table -->
            <section class="trip-table">
                <h2>Details</h2>
                <div class="clearfix">

                    <div class="column">

                        <div class="table">
                            <table>
                                <tr>
                                    <td>Reference:</td>
                                    <td>{{ booking.reference }}</td>
                                </tr>
                                <tr>
                                    <td>Created:</td>
                                    <td>{{ booking.created|date }}</td>
                                </tr>
                                <tr>
                                    <td>Boat:</td>
                                    <td><a href="{{ path('ZizooBoatBundle_Boat_Show', {id: booking.reservation.boat.id}) }}">{{ booking.reservation.boat.name }}</a></td>
                                </tr>
                                <tr>
                                    <td>Check In</td>
                                    <td>{{ booking.reservation.checkIn|date }}</td>
                                </tr>
                                <tr>
                                    <td>Check Out</td>
                                    <td>{{ booking.reservation.checkOut|date }}</td>
                                </tr>
                                <tr>
                                    <td>Nights</td>
                                    <td>{{ booking.reservation|Reservation_numberOfDays }}</td>
                                </tr>
                                <tr>
                                    <td>Guests</td>
                                    <td>{{ booking.reservation.nrGuests }}</td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td>{{ status }}<br />
                                        <a href="{{ path(routes['view_thread_route'], {threadId: booking.thread.id}) }}">View Convervsation</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>

                        <div class="table">
                            <table>
                                <tr>
                                    <td class="{{ booking.crew==true?'available':'' }}">Skipper</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="column">

                        <div class="table">
                            <table>
                                <tr>
                                    <td>Total</td>
                                    <td>{{ booking|Booking_displayPrice }} &euro;</td>
                                </tr>
                                <tr>
                                    <td>Received</td>
                                    <td>{{ booking|Booking_amountPaid }} &euro;</td>
                                </tr>
                            </table>
                        </div>

                        <div class="table">
                            <table>
                                <tr class="total">
                                    <td>Outstanding</td>
                                    <td><strong>{{ booking|Booking_amountOutstanding }} &euro;</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </section>
            <!-- end:trip table -->
        </div>

        <div class="clearfix">
            <section class="trip-table">
                <h2>Payments</h2>
                <div id="payments">
                    <table>
                        {% if booking.payment|length == 0 %}
                            <tr>
                                <td colspan="3">There have not been any payments yet.</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Date Due</td>
                                <td>Payment Method</td>
                                <td>Status</td>
                                <td>Amount</td>
                            </tr>
                            {% for payment in booking.payment %}
                                <tr>
                                    <td>{{ payment.dateDue is not null ? payment.dateDue|date : 'Upon approval' }}</td>
                                    <td>{{ payment.paymentInstruction is not null ? payment.paymentInstruction.paymentSystemName : 'N/A' }}</td>
                                    <td>{{ payment.status}}</td>
                                    <td>{{ booking|Booking_simplePrice(payment.amount)}} &euro;</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </section>
        </div>
    </section>

    <br />

    
    <script type="text/javascript">
               
        $(document).ready(function(){            
            
            

        });
    </script>

{% endblock %}