{% extends '::zizoo.html.twig' %}

{% block navigation %}
{% include 'ZizooBaseBundle:Page:ajax_login_register.html.twig' %}
{% render controller('ZizooBaseBundle:Page:loginWidget', {showLoginForm: false}) %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zizooprofile/css/profile.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/zizoobase/css/custom.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/zizoobase/css/style.css') }}" rel="stylesheet" >
    <link href="{{ asset('bundles/zizoobase/css/responsive.css') }}" rel="stylesheet" >

{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>


    <!--script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script-->
    <script src="{{ asset('bundles/zizoobase/js/easing.js') }}"></script>
    <script src="{{ asset('bundles/zizoobase/js/sfrotator.js') }}"></script>
    <script src="{{ asset('bundles/zizoobase/js/sfmodal.js') }}"></script>
    <script src="{{ asset('bundles/zizoobase/js/checkbox.js') }}"></script>
    <script src="{{ asset('bundles/zizoobase/js/carouFredSel.js') }}"></script>
    <script src="{{ asset('bundles/zizoobase/js/required.js') }}"></script>
    <script src="{{ asset('bundles/zizoobase/js/filestyle.js') }}"></script>
    <script src="{{ asset('bundles/zizoobase/js/selectbox.js') }}"></script>

{% endblock %}
    
{% block body %}
<form id="search_form" class="form clearfix" action="{{ path('ZizooAddressBundle_locations') }}" method="get">
    
    <!-- start:search -->
    <div id="search" class="bar">
        <div class="container clearfix">
            <div class="column search">
                {{ form_widget(form.location) }}
            </div>
            <div class="column">
                <span id="search_bar_from" class="icon calendar white"></span> {{ form_widget(form.reservation_from) }}
            </div>
            <div class="column">
                <span id="search_bar_to" class="icon calendar white"></span> {{ form_widget(form.reservation_to) }}
            </div>
            <div class="column" id="search_bar_guests">
                <span class="icon hash white"></span> {{ form_widget(form.num_guests) }}
            </div>
            <div class="column submit">
                <button type="submit" class="button blue small">Search</button>
            </div>
        </div>
    </div>
    
    <!-- start:content -->

    <div id="content">
        <div class="container clearfix">
            <section id="results">
                {% block search_results %}
                {% endblock search_results %}
            </section>
            <aside id="filter">
                {% block search_filter %}
                {% endblock search_filter %}
            </aside>
        </div>
        <div>
            {% block search_map %}
            {% endblock search_map %}
        </div>
    </div>
</form>
    

{% endblock body %}