{% block zizoo_media_row %}
{% spaceless %}
    <div id="{{ id }}_container" class="zizoo_media_container {% if part_of_collection == false %}single row{% endif %}">
        {% if part_of_collection == false %}
        <div class="row_content">
        {% endif %}
            {{ form_widget(form) }}

            {% if file_url is not null %}
                <div class="image_div">
                    <img id="{{ id }}_image" src="{{ asset(file_url|imagine_filter('thumb_120x80')) }}?ver={{ version }}"/><br />
                    <div class="zizoo_media_overlay"></div>
                    <div class="controls">
                        <a href="#" id="{{ id }}_crop_btn" class="crop_btn">Crop</a>
                        {% if allow_delete == true %}
                            <a href="#" id="{{ id }}_delete_btn" class="delete_btn">Delete</a>
                        {% endif %}
                        <input id="{{ id }}_full_url" class="full_url" type="hidden" value="{{ asset(file_url) }}?ver={{ version }}" />
                        <input id="{{ id }}_id" class="id" type="hidden" value="{{ id }}" />
                    </div>
                </div>
            {% endif %}
             {% if part_of_collection == false %}
                <div id="{{ id }}_dropzone" class="{% if dropzone != false %}dropzone{% endif %}"></div>
            {% endif %}
        {% if part_of_collection == false %}
        </div>
        {% endif %}
    </div>
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock zizoo_media_row %}

{% block zizoo_media_js %}
    <script type="text/javascript" src="{{ asset('bundles/zizoomedia/js/dropzone/dropzone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zizoomedia/js/jcrop/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zizoomedia/js/jcrop/jquery.color.js') }}"></script>
{% endblock zizoo_media_js %}

{% block zizoo_media_css %}
    <link href="{{ asset('bundles/zizoomedia/css/jcrop/jquery.Jcrop.css') }}" type="text/css" rel="stylesheet" />
    
    <link href="{{ asset('bundles/zizoomedia/css/dropzone/zizoo.css') }}" type="text/css" rel="stylesheet" />
    <style type="text/css">
        #{{ id }}_list {
            clear: both;
        }
        
        #{{ id }}_crop_container {
            display: none;
            
        }
        
        .zizoo_media_container {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 40px;
            width: 122px;
            height: 82px;
            border: 1px solid #ACACAC;
        }
        
        .zizoo_media_container.single {
            height: auto;
            width: 100%;
            border: none;
        }
        
        .dz-message {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 40px;
            width: 122px;
            height: 82px;
            border: 1px dotted black;
            padding: 10px;
        }
                
        .image_div {
            position: relative;
        }
        
        .image_div .zizoo_media_overlay {
            position: absolute;
            width: 120px;
            height: 80px;
            background-color: black;
            opacity: 0.8;
            display: none;
            left: 0;
            top: 0;
        }
        
        .image_div .controls {
            z-index: 2;
            position: absolute;
            display: none;
            left: 10px;
            top: 30px;
        }
        
    </style>
{% endblock zizoo_media_css %}

{% block zizoo_media_widget %}
    {% spaceless %}
    {% if label %}
        {{ form_label(form) }}
    {% endif %}
    {% if part_of_collection == false %}
        <div id="{{ id }}_crop_container">
            <img src="" id="{{ id }}_crop_image" style="max-width: 100%"/>
            <button id="{{ id }}_save_btn" class="save_btn">Crop</button>
            <button id="{{ id }}_cancel_btn" class="cancel_btn">Cancel</button>
        </div>
        {{ block('zizoo_media_js') }}
    {% endif %}
    {{ block('form_widget') }}
    {% endspaceless %}
        
    {% if part_of_collection == false %}
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        {{ id }}_jcrop_api      = null;
        {{ id }}_dropzone_api   = null;
        
        function {{ id }}_showCoords(c){
            $('#{{ id }}_x1').val(c.x);
            $('#{{ id }}_y1').val(c.y);
            $('#{{ id }}_x2').val(c.x2);
            $('#{{ id }}_y2').val(c.y2);
            $('#{{ id }}_w').val(c.w);
            $('#{{ id }}_h').val(c.h);
        }
                 
        function {{ id }}_clearCrop(){
            if ({{ id }}_jcrop_api != null){
                {{ id }}_jcrop_api.destroy();
                {{ id }}_jcrop_api = null;
            }
            $('#{{ id }}_crop_image').attr('src', null);
          
            $('#{{ id }}_x1').val('');
            $('#{{ id }}_y1').val('');
            $('#{{ id }}_y2').val('');
            $('#{{ id }}_x2').val('');
            $('#{{ id }}_w').val('');
            $('#{{ id }}_h').val('');
        }
         
        function {{ id }}_resort(){
            $('#{{ id }}_list > div').each(function(index, el){
                $(el).find('.order').val(index).change();
            });
        }
        
        function {{ id }}_cancelCrop(){
            {{ id }}_clearCrop();
            $('#{{ id }}_crop_container').slideUp();
            return false
        }
        
        function {{ id }}_saveCrop(){
            
            var id = $('#{{ id }}_id').val();
            
            var x1 = $('#{{ id }}_x1').val();
            var y1 = $('#{{ id }}_y1').val();
            var x2 = $('#{{ id }}_x2').val();
            var y2 = $('#{{ id }}_y2').val();
            var w = $('#{{ id }}_w').val();
            var h = $('#{{ id }}_h').val();
            
            {% if crop_js != false %}
                eval('{{ crop_js|raw }}(id, x1,y1,x2,y2,w,h)');
            {% endif %}
                        
            {{ id }}_clearCrop();
            $('#{{ id }}_crop_container').slideUp();
            return false;
        }
                
        function {{ id }}_enableCrop(container){
            if ({{ id }}_jcrop_api!=null) {
                {{ id }}_clearCrop();
                $('#{{ id }}_crop_container').slideUp(100, function(){
                    {{ id }}_enableCrop(container);
                });
                return;
            }
            var parentContainer = $(container).parent();
            
            var url = $(container).find('.full_url').val();
            var id  = $(container).find('.media_id').val();

            $('#{{ id }}_crop_image').attr('src', url);
            
            var width = $(parentContainer).width();
            var rowContent = $(container).children('.row_content');
            if (rowContent.length>0) width = $(rowContent).innerWidth();
            
            $('#{{ id }}_crop_image').Jcrop({
                onChange: {{ id }}_showCoords,
                onSelect:  {{ id }}_showCoords,
                aspectRatio: {{ aspect_ratio }},
                boxWidth: width
            }, function(){
                {{ id }}_jcrop_api = this;
                
                $('#{{ id }}_crop_container').slideDown(1000, function(){
                    
                });
            });
        }
        
        $(document).ready(function(){

            {% if dropzone != false %}
                {{ id }}_dropzone_api = new Dropzone('#{{ id }}_dropzone', { 
                    url:        '{{ path(dropzone['upload_url'], dropzone['upload_params']) }}',
                    paramName:  '{{ dropzone['upload_param_name'] }}',
                    success: function(file, response){
                        eval('{{ dropzone['upload_success_js']|raw }}(file, response)');
                    },
                    error: function(file, response){
                        eval('{{ dropzone['upload_error_js']|raw }}(file, response)');
                        file.previewElement.classList.add("dz-error");
                        return file.previewElement.querySelector("[data-dz-errormessage]").textContent = response;
                    },
                    enqueueForUpload: true,
                    previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"dz-progress\"><span class=\"dz-upload\" data-dz-uploadprogress></span></div>\n  <div class=\"dz-success-mark\"><span>✔</span></div>\n  <div class=\"dz-error-mark\"><span>✘</span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>"
                });
            {% endif %}
            
            $('#{{ id }}_save_btn').click({{ id }}_saveCrop);
            $('#{{ id }}_cancel_btn').click({{ id }}_cancelCrop);
            
            $('#{{ id }}').parents('form').submit(function(){
                $('#{{ id }} > div.remove').remove();
                return true;
            });
            
            $('#{{ id }}_container .image_div').hover(function(){
                $(this).children('.controls, .zizoo_media_overlay').stop().fadeIn();
            }, function(){
                $(this).children('.controls, .zizoo_media_overlay').stop().fadeOut();
            });
            
            $('#{{ id }}_container').delegate('.crop_btn', 'click', function(){
                {{ id }}_enableCrop($(this).parents('.zizoo_media_container'));
                return false;
            });
            
            $('#{{ id }}_container').delegate('.delete_btn', 'click', function(){
                {% if delete_js != false %}
                {{ id }}_cancelCrop();
                var container = $(this).parents('.zizoo_media_container');
                eval('{{ delete_js|raw }}(container);');
                {% endif %}
                return false;
            });
            
        });

    </script>
    {{ block('zizoo_media_css') }}
    {% endif %}
    
{% endblock zizoo_media_widget %}
    
{% block zizoo_media_collection_widget %}
    {% spaceless %}
        <div id="{{ id }}_crop_container">
            <img src="" id="{{ id }}_crop_image" />
            <button id="{{ id }}_save_btn" class="save_btn">Crop</button>
            <button id="{{ id }}_cancel_btn" class="cancel_btn">Cancel</button>
            <input id="{{ id }}_x1" type="hidden" />
            <input id="{{ id }}_y1" type="hidden" />
            <input id="{{ id }}_x2" type="hidden" />
            <input id="{{ id }}_y2" type="hidden" />
            <input id="{{ id }}_w" type="hidden" />
            <input id="{{ id }}_h" type="hidden" />
            <input id="{{ id }}_id" type="hidden" />
        </div>
        <div id="{{ id }}_list" class="{% if dropzone != false %}dropzone{% endif %}">
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        </div>
        
    {% endspaceless %}
    {{ block('zizoo_media_js') }}
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        {{ id }}_jcrop_api      = null;
        {{ id }}_dropzone_api   = null;
        
        function {{ id }}_showCoords(c){
            $('#{{ id }}_x1').val(c.x);
            $('#{{ id }}_y1').val(c.y);
            $('#{{ id }}_x2').val(c.x2);
            $('#{{ id }}_y2').val(c.y2);
            $('#{{ id }}_w').val(c.w);
            $('#{{ id }}_h').val(c.h);
        }
                 
        function {{ id }}_clearCrop(){
            if ({{ id }}_jcrop_api != null){
                {{ id }}_jcrop_api.destroy();
                {{ id }}_jcrop_api = null;
            }
            $('#{{ id }}_crop_image').attr('src', null);
            $('#{{ id }}_id').val('');
            $('#{{ id }}_x1').val('');
            $('#{{ id }}_y1').val('');
            $('#{{ id }}_y2').val('');
            $('#{{ id }}_x2').val('');
            $('#{{ id }}_w').val('');
            $('#{{ id }}_h').val('');
        }
         
        function {{ id }}_resort(){
            $('#{{ id }}_list > div').each(function(index, el){
                $(el).find('.order').val(index).change();
            });
        }
        
        function {{ id }}_cancelCrop(){
            {{ id }}_clearCrop();
            $('#{{ id }}_crop_container').slideUp();
            return false
        }
        
        function {{ id }}_saveCrop(){
            
            var id = $('#{{ id }}_id').val();
            var x1 = $('#{{ id }}_x1').val();
            var y1 = $('#{{ id }}_y1').val();
            var x2 = $('#{{ id }}_x2').val();
            var y2 = $('#{{ id }}_y2').val();
            var w = $('#{{ id }}_w').val();
            var h = $('#{{ id }}_h').val();
            
            {% if crop_js != false %}
                eval('{{ crop_js|raw }}(id, x1,y1,x2,y2,w,h)');
            {% endif %}
                        
            {{ id }}_clearCrop();
            $('#{{ id }}_crop_container').slideUp();
            return false;
        }
                
        function {{ id }}_enableCrop(container){
            if ({{ id }}_jcrop_api!=null) {
                {{ id }}_clearCrop();
                $('#{{ id }}_crop_container').slideUp(100, function(){
                    {{ id }}_enableCrop(container);
                });
                return;
            }
            var parentContainer = $(container).parent();
            
            var url = $(container).find('.full_url').val();
            var id  = $(container).find('.media_id').val();

            $('#{{ id }}_crop_image').attr('src', url);
            $('#{{ id }}_id').val(id);
            $('#{{ id }}_crop_image').Jcrop({
                onChange: {{ id }}_showCoords,
                onSelect:  {{ id }}_showCoords,
                aspectRatio: {{ aspect_ratio }},
                boxWidth: $(parentContainer).width()
            }, function(){
                {{ id }}_jcrop_api = this;
                
                $('#{{ id }}_crop_container').slideDown(1000, function(){
                    
                });
            });
        }
        
        $(document).ready(function(){
            {% if dropzone != false %}
                {{ id }}_dropzone_api = new Dropzone('#{{ id }}_list', { 
                    url:        '{{ path(dropzone['upload_url'], dropzone['upload_params']) }}',
                    paramName:  '{{ dropzone['upload_param_name'] }}',
                    success: function(file, response){
                        eval('{{ dropzone['upload_success_js']|raw }}(file, response)');
                    },
                    error: function(file, response){
                        eval('{{ dropzone['upload_error_js']|raw }}(file, response)');
                        file.previewElement.classList.add("dz-error");
                        return file.previewElement.querySelector("[data-dz-errormessage]").textContent = response;
                    },
                    enqueueForUpload: true,
                    previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"dz-progress\"><span class=\"dz-upload\" data-dz-uploadprogress></span></div>\n  <div class=\"dz-success-mark\"><span>✔</span></div>\n  <div class=\"dz-error-mark\"><span>✘</span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>"
                });
            {% endif %}
            
            $('#{{ id }}_save_btn').click({{ id }}_saveCrop);
            $('#{{ id }}_cancel_btn').click({{ id }}_cancelCrop);
            
            {{ id }}_resort();
            
            
            $('#{{ id }}_list').delegate('.image_div', 'mouseenter mouseleave', function(event){
                if (event.type === 'mouseenter'){
                    $(this).children('.controls, .zizoo_media_overlay').stop().fadeIn();
                } else {
                    $(this).children('.controls, .zizoo_media_overlay').stop().fadeOut();
                }
            });
            
            $('#{{ id }}_list').sortable({
                items: '.zizoo_media_container',
                stop: function(e, ui){
                    {{ id }}_resort();
                }
            });
            
            $('#{{ id }}_list').delegate('.crop_btn', 'click', function(){
                {{ id }}_enableCrop($(this).parents('.zizoo_media_container'));
                return false;
            });
            
            $('#{{ id }}_list').delegate('.delete_btn', 'click', function(){
                {% if delete_js != false %}
                {{ id }}_cancelCrop();
                var container = $(this).parents('.zizoo_media_container');
                eval('{{ delete_js|raw }}(container);');
                {% endif %}
                return false;
            });
            
            
        });
        
    </script>
    {{ block('zizoo_media_css') }}
{% endblock zizoo_media_collection_widget %}