{% trans_default_domain "labels" %}
<div id="list" class="clearfix{% if view != "list" %} hidden{% endif %}" >
    {% for boat in pagination %}

        <div class="box">
            <a href="{{ path('ZizooBoatBundle_Boat_Show', {id: boat.id}) }}?zizoo_boat_book[reservation_range][reservation_from]={{ form.vars.value.reservationFrom is empty ? "" : form.vars.value.reservationFrom|date }}&zizoo_boat_book[reservation_range][reservation_to]={{ form.vars.value.reservationTo is empty ? "" : form.vars.value.reservationTo|date }}&zizoo_boat_book[num_guests]={{ form.vars.value.numGuests }}{% if boat.crewOptional == true %}&zizoo_boat_book[crew]=true{% endif %}" class="boat white clearfix">
                <figure>
                    <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                </figure>
                <div class="details clearfix">
                    <ul class="header clearfix">
                        <li>
                            <span class="title">{{ boat.title }}</span>
                        </li>
                        <li>
                            <span class="icon plus black"></span> Crewed
                        </li>
                        <li class="reviews">
                            ?? Reviews
                        </li>
                    </ul>
                    <div class="left">
                        <strong>Homeport:</strong> {{ boat.address.locality }}, {{ boat.address.country }}<br>
                        <strong>Cabins / Berths:</strong> {{ boat.cabins }} / {{ boat.berths }}
                    </div>
                    <div class="right">
                        from
                        <strong>{{ boat|displayAmount(boat.lowestPrice) }} &euro;</strong>
                    </div>
                </div>
            </a>
        </div>

    {% endfor %}
</div>