{% trans_default_domain "labels" %}

<div id="grid" class="clearfix{% if view != "grid" %} hidden{% endif %}">
    {% for boat in pagination %}

        <div class="box">
            <a href="{{ path('ZizooBoatBundle_Boat_Show', {id: boat.id}) }}?zizoo_boat_book[reservation_range][reservation_from]={{ form.vars.value.reservationFrom is empty ? "" : form.vars.value.reservationFrom|date }}&zizoo_boat_book[reservation_range][reservation_to]={{ form.vars.value.reservationTo is empty ? "" : form.vars.value.reservationTo|date }}&zizoo_boat_book[num_guests]={{ form.vars.value.numGuests }}{% if boat.crewOptional == true %}&zizoo_boat_book[crew]=true{% endif %}" class="boat white clearfix">
                <figure>
                    <img src="{{ asset('bundles/zizoobase/images/temp/galeon.jpg') }}" alt="">
                    <figcaption class="clearfix">
                        {{ boat.title }}<span class="icon minus"></span>
                    </figcaption>
                </figure>
                <div class="left">
                    ?? Reviews
                </div>
                <div class="right">
                    from <strong>{{ boat|displayAmount(boat.lowestPrice) }} &euro;</strong>
                </div>
            </a>
        </div>

    {% endfor %}
</div>