{% trans_default_domain "labels" %}
{% set boats_per_line = 3 %}
{% for boat in boats %}
    {% if loop.index0 % page_size == 0 %}
        <div class="page{% if (loop.index0 / page_size)+1 == page %} current {% endif %}" id="page_{{ (loop.index0 / page_size)+1 }}">
        {% set page_index = 0 %}
    {% endif %}
        {% set page_index = page_index + 1 %}
        {% set bookable = boat|bookable(form.vars.value.reservationFrom, form.vars.value.reservationTo) %}
        <article class="boat{% if bookable == false %} booked{% endif %}">
            <header>
                {% if bookable == false %}
                <h2>{{ boat.title }}</h2>
                {% else %}                
                <h2><a class="boat_{{ boat.id }}" href="{{ path('ZizooBoatBundle_Boat_Show', {id: boat.id}) }}?zizoo_boat_book[reservation_range][reservation_from]={{ form.vars.value.reservationFrom is empty ? "" : form.vars.value.reservationFrom|date }}&zizoo_boat_book[reservation_range][reservation_to]={{ form.vars.value.reservationTo is empty ? "" : form.vars.value.reservationTo|date }}&zizoo_boat_book[num_guests]={{ form.vars.value.numGuests }}{% if boat.crewOptional == true %}&zizoo_boat_book[crew]=true{% endif %}">{{ boat.title }}</a></h2>
                {% endif %}
            </header>
            <div class="boat_description">
                <p>{{ boat.description }}</p>
            </div>

            <section class="details" id="details">
                <h3>{{ boat.name }}</h3>
                <p>{% trans %}zizoo_address.label.cities{% endtrans %}: 
                    <ul>
                        <li>{{ boat.address.locality }}</li>
                    </ul>
                </p>
                <p>{% trans %}zizoo_boat.label.brand{% endtrans %}: {{ boat.brand }}</p>
                <p>{% trans %}zizoo_boat.label.model{% endtrans %}: {{ boat.model }}</p>
                <p>{% trans %}zizoo_boat.label.length{% endtrans %}: {{ boat.length }}</p>
                <p>{% trans %}zizoo_boat.label.cabins{% endtrans %}: {{ boat.cabins }}</p>
                {% if boat.bathrooms %}
                    <p>{% trans %}zizoo_boat.label.bathrooms{% endtrans %}: {{ boat.bathrooms }}</p>
                {% endif %}

            </section>

            <section class="images" id="images">
                <h3>{% trans %}zizoo_boat.label.images{% endtrans %}</h3>
                {% for image in boat.image %}
                    <article class="image" id="image-{{ image.id }}">
                        <img src="{{ asset(image|imageWebPath)| imagine_filter('thumb_75x75') }}" alt="{{ image.path }} image not found" class="large" />
                    </article>
                {% else %}
                    <p>There are no images for this boat.</p>
                {% endfor %}
            </section>
        </article>
    {% if page_index % boats_per_line == 0 %}
        <div style="clear: both"></div>
    {% endif %}
    {% if loop.index % page_size == 0 or loop.last %}
        <div style="clear: both"></div>
    </div>
    {% endif %}
{% endfor %}
<div class="paging_div">
    {% if num_pages > 1 %}
        <ul id="paging">
        {% for i in range(1, num_pages) %}
            <li class="{{ i }}"><a href="{{ path('ZizooAddressBundle_locations') }}?zizoo_boat_search[page]={{ i }}&zizoo_boat_search[location]={{ form.vars.value.location }}&zizoo_boat_search[reservation_from]={{ form.vars.value.reservationFrom is empty ? "" : form.vars.value.reservationFrom|date }}&zizoo_boat_search[reservation_to]={{ form.vars.value.reservationTo is empty ? "" : form.vars.value.reservationTo|date }}&zizoo_boat_search[num_guests]={{ form.vars.value.numGuests }}">Page {{ i }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function(){

        markers = new Array();
        infoWindows = new Array();
        lastOpenWindow = -1;
        {% set index = 0 %}
        mc.clearMarkers();
        {% for boat in boats %}
            {% if boat|bookable(form.vars.value.reservationFrom, form.vars.value.reservationTo)==true%}
                    
                infoWindows.push(new google.maps.InfoWindow({
                    content: {% include "ZizooAddressBundle:Address:locations_boat_info_window.html.twig" with {'boat': boat } %}
                }));
                markers.push(new google.maps.Marker({
                    title: '{{ boat.name }}',
                    position: new google.maps.LatLng(
                         {{ boat.address.lat }}, {{ boat.address.lng }}),
                         clickable: true,
                         draggable: false,
                         flat: true
                }));
                google.maps.event.addListener(markers[{{ index }}], 'click', function() {
                    if (lastOpenWindow!=-1){
                        infoWindows[lastOpenWindow].close();
                    }
                    infoWindows[{{ index }}].open(map, markers[{{ index }}]);
                    lastOpenWindow = {{ index }};
                  });
                  {% set index = index + 1 %}
                   
            {% endif %}
        {% endfor %}
        mc = new MarkerClusterer(map, markers, {maxZoom: 19});
        
        $('#paging li a').click(function(el){
            $('#boats').block({ message: null });
            var page = $(this).parent().attr('class');
            
            $('#boats .page').hide().removeClass('current');
            $('#boats #page_'+page).show().addClass('current');
            $('#boats').unblock();
            return false;
            
            var url = $(this).attr('href');
            url = encodeURI(url);
            $('#boats').load(url, function(){
                $('#boats').unblock();
            });
            return false;
        });
    });
</script>