{% trans_default_domain "labels" %}
{% set boats_per_line = 3 %}
{% for boat in boats %}
    {% if loop.index0 % page_size == 0 %}
        <div class="page{% if (loop.index0 / page_size)+1 == page %} current {% endif %}" id="page_{{ (loop.index0 / page_size)+1 }}">
        {% set page_index = 0 %}
    {% endif %}
        {% set page_index = page_index + 1 %}
        {% set bookable = boat|bookable(form.vars.value.reservationFrom, form.vars.value.reservationTo) %}
        <article class="boat{% if bookable == false %} booked{% endif %}">
            <header>
                {% if bookable == false %}
                <h2>{{ boat.title }}</h2>
                {% else %}                
                <h2><a class="boat_{{ boat.id }}" href="{{ path('ZizooBoatBundle_Boat_Show', {id: boat.id}) }}?zizoo_boat_book[reservation_from]={{ form.vars.value.reservationFrom is empty ? "" : form.vars.value.reservationFrom|date }}&zizoo_boat_book[reservation_to]={{ form.vars.value.reservationTo is empty ? "" : form.vars.value.reservationTo|date }}&zizoo_boat_book[num_guests]={{ form.vars.value.numGuests }}">{{ boat.title }}</a></h2>
                {% endif %}
            </header>
            <div class="boat_description">
                <p>{{ boat.description }}</p>
            </div>

            <section class="details" id="details">
                <h3>{{ boat.name }}</h3>
                <p>{% trans %}zizoo_address.label.cities{% endtrans %}: 
                    <ul>
                        <li>{{ boat.address.locality }}</li>
                    </ul>
                </p>
                <p>{% trans %}zizoo_boat.label.brand{% endtrans %}: {{ boat.brand }}</p>
                <p>{% trans %}zizoo_boat.label.model{% endtrans %}: {{ boat.model }}</p>
                <p>{% trans %}zizoo_boat.label.length{% endtrans %}: {{ boat.length }}</p>
                <p>{% trans %}zizoo_boat.label.cabins{% endtrans %}: {{ boat.cabins }}</p>
                {% if boat.bathrooms %}
                    <p>{% trans %}zizoo_boat.label.bathrooms{% endtrans %}: {{ boat.bathrooms }}</p>
                {% endif %}

            </section>

            <section class="images" id="images">
                <h3>{% trans %}zizoo_boat.label.images{% endtrans %}</h3>
                {% for image in boat.image %}
                    <article class="image" id="image-{{ image.id }}">
                        <img src="{{ asset(image|imageWebPath)| imagine_filter('thumb_75x75') }}" alt="{{ image.path }} image not found" class="large" />
                    </article>
                {% else %}
                    <p>There are no images for this boat.</p>
                {% endfor %}
            </section>
        </article>
    {% if page_index % boats_per_line == 0 %}
        <div style="clear: both"></div>
    {% endif %}
    {% if loop.index % page_size == 0 or loop.last %}
        <div style="clear: both"></div>
    </div>
    {% endif %}
{% endfor %}
<div class="paging_div">
    {% if num_pages > 1 %}
        <ul id="paging">
        {% for i in range(1, num_pages) %}
            <li class="{{ i }}"><a href="{{ path('ZizooAddressBundle_locations') }}?zizoo_boat_search[page]={{ i }}&zizoo_boat_search[location]={{ form.vars.value.location }}&zizoo_boat_search[reservation_from]={{ form.vars.value.reservationFrom is empty ? "" : form.vars.value.reservationFrom|date }}&zizoo_boat_search[reservation_to]={{ form.vars.value.reservationTo is empty ? "" : form.vars.value.reservationTo|date }}&zizoo_boat_search[num_guests]={{ form.vars.value.numGuests }}">Page {{ i }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{{ google_map_js(map) }}
<script type="text/javascript">
    $(document).ready(function(){
 
    });
</script>