{# src/Zizoo/AddressBundle/Resources/views/Address/locations_test.html.twig #}
{% trans_default_domain "labels" %}
{% form_theme form 'ZizooAddressBundle:Form:fields.html.twig' %}
{% extends 'ZizooAddressBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markermanager/1.0/src/markermanager.js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zizooaddress/js/locations.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chosen.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/zizooaddress/css/locations.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<form id="search_form" action="{{ path('zizoo_address_locations') }}" method="get">
    {{ form_widget(form.location) }}
    {{ form_widget(form.page) }}
    {{ form_widget(form.reservation_from) }}
    {{ form_widget(form.reservation_to) }}
    {{ form_widget(form.num_guests) }}
    {{ form_widget(form.length_from) }}
    {{ form_widget(form.length_to) }}
    {{ form_widget(form.num_cabins_from) }}
    {{ form_widget(form.num_cabins_to) }}
    <input type="submit" value="Search" />

<div id="map"></div>
<div id="map_div">
    
        
    <script type="text/javascript">
        
        function doBlock(block){
            if (block){
                $('#map').block({ message: null }); 
                $('#boats').block({ message: null }); 
                $('#filter').block({ message: null });
            } else {
                $('#map').unblock();
                $('#boats').unblock();
                $('#filter').unblock();
            }
        }
        
        function updateSearch(page){
            doBlock(true);
            $('#search_form #zizoo_boat_search_page').val(page);
                        
            var index   = $('#zizoo_boat_search_location :selected').index();
            var type    = null;
            var val     = null;
            var search  = null;
            
            if (index>0){
                type = $('#zizoo_boat_search_location option:nth-of-type('+(index+1)+')').attr('class');
                search = $('#zizoo_boat_search_location option:nth-of-type('+(index+1)+')').attr('search');
                val  = $('#zizoo_boat_search_location').val();
            }
            
            $.ajax({
                type: 'get', 
                url: $('#search_form').attr('search_form'),
                data:$('#search_form').serialize(),
                success: function(data, textStatus, XHR){
                    $('#boats').html(data);
                    if(val==null){
                        map.setCenter(center);
                        map.setZoom(zoom);
                    } else {
                        codeAddress(search);
                        map.setZoom(5);
                    }
                    doBlock(false);
                }
            });

        }
        
        $(document).ready(function(){
            $( "#length_slider" ).slider({
                range: true,
                min: 1,
                max: {{ max_length }},
                values: [ 1, {{ max_length }} ],
                slide: function( event, ui ) {
                    $( "#zizoo_boat_search_length_from" ).val(ui.values[ 0 ]);
                    $( "#zizoo_boat_search_length_to" ).val(ui.values[ 1 ]);
                    $( "#length_text" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                },
                stop: function( event, ui ){
                    updateSearch(1);
                }
            });

            $( "#num_cabins_slider" ).slider({
                range: true,
                min: 1,
                max: {{ max_cabins }},
                values: [ 1, {{ max_cabins }} ],
                slide: function( event, ui ) {
                    $( "#zizoo_boat_search_num_cabins_from" ).val(ui.values[ 0 ]);
                    $( "#zizoo_boat_search_num_cabins_to" ).val(ui.values[ 1 ]);
                    $( "#num_cabins_text" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                },
                stop: function( event, ui ){
                    updateSearch(1);
                }
            });


            $('#boat_type_filter input[type="checkbox"]').change(function(){
                updateSearch(1);
            });

            $( "#zizoo_boat_search_reservation_from" ).attr('placeholder', 'From');
            $( "#zizoo_boat_search_reservation_to" ).attr('placeholder', 'Until');
            $( "#zizoo_boat_search_num_guests" ).attr('placeholder', 'Number of people');

            $('#filter').show();
        });

    </script>
    <div id="results_container">
        
        <div id="filter" style="display: none">
            <div id="boat_type_filter">
                {{ form_widget(form.boat_type) }}
            </div>
            <div id="length_filter">
                <label for="length_text">Boat Length:</label>
                <input type="text" id="length_text" value="1 - {{ max_length }}"/>
                <div id="length_slider"></div>
            </div>
            <div id="num_cabins_filter">
                <label for="num_cabins_text">Number of cabins:</label>
                <input type="text" id="num_cabins_text" value="1 - {{ max_cabins }}"/>
                <div id="num_cabins_slider"></div>
            </div>
        </div>
        <div id="boats" class="grid">
            {% include "ZizooAddressBundle:Address:locations_boats.html.twig" with {'page': page, 'page_size': page_size } %}
        </div>
    </div>
    
    <style type="text/css">
        #results_container {
            position: relative;
        }
        
        .page {
            clear: both;
        }

        #boats {
            width: 876px;
            float: left;
        }

        #boats.grid .boat {
            float: left;
            width: 262px;
            margin-right: 15px;
            margin-bottom: 15px;
            border: 1px solid black;
        }
        
        #boats.grid .boat:nth-of-type(3) {
            margin-right: 0;
        }
        
        #boats.list .boat {
            margin-bottom: 15px;
            margin-right: 15px;
            border: 1px solid black;
        }
        
        .boat .boat_description {
            display: none;
        }
        
        #filter {
            float: right;
            width: 294px;
        }
        
        #zizoo_boat_search_boat_type_boat_type input {
            float: left;
            clear: left;
            margin-right: 5px;
        }
        
        #zizoo_boat_search_boat_type_boat_type label {
            float: left;
        }
        
        #length_filter {
            clear: both;
        }
    </style>
    
</div>
</form>
{% endblock %}