{# src/Zizoo/AddressBundle/Resources/views/Address/locations_test.html.twig #}
{% trans_default_domain "labels" %}
{% extends 'ZizooAddressBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markermanager/1.0/src/markermanager.js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zizooaddress/js/locations.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chosen.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/zizooaddress/css/locations.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<form id="search_form" action="{{ path('zizoo_address_locations') }}" method="get">
    {% render "ZizooAddressBundle:Address:uniqueLocations" with {'current': current} %}
    <input type="hidden" value="1" name="page" id="page" />
    <input type="hidden" value="" name="num_cabins_from" id="num_cabins_from" />
    <input type="hidden" value="" name="num_cabins_to" id="num_cabins_to" />
    <input type="hidden" value="" name="length_from" id="length_from" />
    <input type="hidden" value="" name="length_to" id="length_to" />
    <input type="submit" value="Search" />
</form>
<div id="map"></div>
<div id="map_div">
    
        
    <script type="text/javascript">
        var currentPage = {{ page }};
        
        function doBlock(block){
            if (block){
                $('#map').block({ message: null }); 
                $('#boats').block({ message: null }); 
                $('#filter').block({ message: null });
            } else {
                $('#map').unblock();
                $('#boats').unblock();
                $('#filter').unblock();
            }
        }
        
        function updateSearch(page){
            doBlock(true);
            $('#search_form #page').val(page);
                        
            var index   = $('#unique_locations :selected').index();
            var type    = null;
            var val     = null;
            var search  = null;
            
            if (index>0){
                type = $('#unique_locations option:nth-of-type('+(index+1)+')').attr('class');
                search = $('#unique_locations option:nth-of-type('+(index+1)+')').attr('search');
                val  = $('#unique_locations').val();
            }
            
            $.ajax({
                type: 'get', 
                url: $('#search_form').attr('search_form'),
                data:$('#search_form').serialize(),
                success: function(data, textStatus, XHR){
                    $('#boats').html(data);
                    if(val==null){
                        map.setCenter(center);
                        map.setZoom(zoom);
                    } else {
                        codeAddress(search);
                        map.setZoom(5);
                    }
                    doBlock(false);
                }
            });

        }
        
        $(document).ready(function(){
            $( "#length_slider" ).slider({
                range: true,
                min: 1,
                max: {{ max_length }},
                values: [ 1, {{ max_length }} ],
                slide: function( event, ui ) {
                    $( "#length_from" ).val(ui.values[ 0 ]);
                    $( "#length_to" ).val(ui.values[ 1 ]);
                    $( "#length_text" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                },
                stop: function( event, ui ){
                    updateSearch(1);
                }
            });
            
            $( "#num_cabins_slider" ).slider({
                range: true,
                min: 1,
                max: {{ max_cabins }},
                values: [ 1, {{ max_cabins }} ],
                slide: function( event, ui ) {
                    $( "#num_cabins_from" ).val(ui.values[ 0 ]);
                    $( "#num_cabins_to" ).val(ui.values[ 1 ]);
                    $( "#num_cabins_text" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                },
                stop: function( event, ui ){
                    updateSearch(1);
                }
            });
                        
            $('#filter').show();
        });

    </script>
    <div id="results_container">
        <div id="boats">
            {% include "ZizooAddressBundle:Address:locations_boats.html.twig" with {'page': page, 'page_size': page_size } %}
        </div>
        <div id="filter" style="display: none">
            <div id="length_filter">
                <label for="length_text">Boat Length:</label>
                <input type="text" id="length_text" value="1 - {{ max_length }}"/>
                <div id="length_slider"></div>
            </div>
            <div id="num_cabins_filter">
                <label for="num_cabins_text">Number of cabins:</label>
                <input type="text" id="num_cabins_text" value="1 - {{ max_cabins }}"/>
                <div id="num_cabins_slider"></div>
            </div>
        </div>
    </div>
    
    <style type="text/css">
        #results_container {
            position: relative;
        }
        #boats {
            width: 876px;
        }
        .page {
            clear: both;
        }
        .boat {
            float: left;
            width: 262px;
            margin-right: 15px;
            margin-bottom: 15px;
            border: 1px solid black;
        }
        .boat:nth-of-type(3) {
            margin-right: 0;
        }
        .boat .boat_description {
            display: none;
        }
        
        #filter {
            position: absolute;
            top: 0;
            right: 0;
            width: 294px;
        }
    </style>
    
</div>
{% endblock %}