{# src/Zizoo/AddressBundle/Resources/views/Address/locations_boat_info_window.html.twig #}
{% trans_default_domain "labels" %}
'<div class="marker">'+
'   <h2 class="marker_heading"><a href="{{ path('ZizooBoatBundle_Boat_Show', {id: boat.id}) }}?zizoo_boat_book[reservation_range][reservation_from]={{ form.vars.value.reservationFrom is empty ? "" : form.vars.value.reservationFrom|date }}&zizoo_boat_book[reservation_range][reservation_to]={{ form.vars.value.reservationTo is empty ? "" : form.vars.value.reservationTo|date }}&zizoo_boat_book[num_guests]={{ form.vars.value.numGuests }}{% if boat.crewOptional == true %}&zizoo_boat_book[crew]=true{% endif %}">{{ boat.name }}: {{ boat.title }}</a></h2>'+
'   <div id="marker_content">'+
'       <div class="marker_images">'+
        {% for image in boat.image %}
'           <article class="image" id="image-{{ image.id }}">'+
'               <img src="{{ asset(image|pictureWebPath)| imagine_filter('thumb_120x80') }}" alt="" class="small" />'+
'           </article>'+
        {% else %}
        {% endfor %}
'   </div>'+
'   {{ boat.description }}'+
'</div>'