{# src/Zizoo/AddressBundle/Resources/views/Address/locations_test.html.twig #}
{% trans_default_domain "labels" %}
{% extends 'ZizooAddressBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markermanager/1.0/src/markermanager.js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zizooaddress/js/locations.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chosen.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/zizooaddress/css/locations.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<form id="search_form" action="{{ path('zizoo_address_locations') }}" method="get">
    {% render "ZizooAddressBundle:Address:uniqueLocations" with {'current': current} %}
    <input type="submit" value="Search" />
</form>
<div id="map"></div>
<div id="map_div">
    
        
    <script type="text/javascript">
        var currentPage = {{ page }};
        
        function updateSearch(page){
            $('#map').block({ message: null }); 
            $('#boats').block({ message: null }); 
            var index = $('#unique_locations :selected').index();

            var type;
            var val = null;
            var search = null;
            var resFrom = $('#reservation_from').val();
            var resTo = $('#reservation_to').val();
            var numGuests = $('#num_guests').val();
            
            if (index>0){
                type = $('#unique_locations option:nth-of-type('+(index+1)+')').attr('class');
                search = $('#unique_locations option:nth-of-type('+(index+1)+')').attr('search');
                val  = $('#unique_locations').val();
            }
            

            var sep = '?';
            var url ='{{ path('zizoo_address_locations') }}';
            if (page!=null){
                url += sep + 'page='+page;
                sep = '&';
            }
            if (val!=null) {
                url += sep + 'search='+val;
                sep = '&';
            }
            url += sep + 'reservation_from='+resFrom;
            sep = '&';
            url += sep + 'reservation_to='+resTo;
            url += sep + 'num_guests='+numGuests;
            url = encodeURI(url);
            $('#boats').load(url, function(){
                if(val==null){
                    map.setCenter(center);
                    map.setZoom(zoom);
                } else {
                    codeAddress(search);
                    map.setZoom(5);
                }
                $('#map').unblock();
                $('#boats').unblock();
            });

        }

    </script>
    <div id="boats">
        {% include "ZizooAddressBundle:Address:locations_boats.html.twig" with {'page': page, 'page_size': page_size } %}
    </div>
    
</div>
{% endblock %}