{# src/Zizoo/AddressBundle/Resources/views/Address/locations_test.html.twig #}
{% trans_default_domain "labels" %}


<link href="{{ asset('css/chosen.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ asset('js/chosen.jquery.js') }}"></script>

<select id="unique_locations">
    <option value="-1">All</option>
    {% for country,country_data in unique_locations %}
        <option value="{{ country }}" class="country">{{ country_data.name }}</option>
        {% for location,location_data in country_data.locations %}
            <option value="{{ location_data }}" class="{{ location }}">{{ location_data }}</option>
        {% endfor %}
    {% endfor %}
</select>

<script type="text/javascript">

    function updateMap(){
        var index = $('#unique_locations :selected').index();
        console.log(index);
        var type;
        var val;
        if (index>0){
            type = $('#unique_locations option:nth-of-type('+(index+1)+')').attr('class');
            val  = $('#unique_locations').val();
        }
    }

    $(document).ready(function(){
        
        $('#unique_locations').chosen().change(updateMap);
        
    });

</script>

<style type="text/css">
        
#unique_locations_chzn .country {
    font-weight: bold;
}

#unique_locations_chzn .locality, #unique_locations_chzn .sub_locality, #unique_locations_chzn .province, #unique_locations_chzn .state {
    padding-left: 15px;
}
        
</style>