{# src/Zizoo/AddressBundle/Resources/views/Address/locations_test.html.twig #}
{% trans_default_domain "labels" %}

<select id="unique_locations" name="search">
    <option value="-1" {% if '-1' == current %}selected="selected"{% endif %}>All locations</option>
    {% for country,country_data in unique_locations %}
        <option value="{{ country }}" class="country" search="{{ country_data.name }}" {% if country == current %}selected="selected"{% endif %}>{{ country_data.name }}</option>
        {% for location,location_data in country_data.locations %}
            <option value="{{ location_data.location }}" class="sub" search="{{ location_data.search }}" {% if location_data.location == current %}selected="selected"{% endif %}>{{ location_data.location }}</option>
        {% endfor %}
    {% endfor %}
</select>
<input type="text" id="reservation_from" name="revervation_from" placeholder="From" />
<input type="text" id="reservation_to" name="revervation_to" placeholder="Until" />
<input type="text" id="num_guests" name="num_guests" placeholder="Number of people" />