{% trans_default_domain "labels" %}

<!-- start:avatar -->
<div class="avatar">
    <a href="{{ path('ZizooProfileBundle_Profile_Show', {id: user.profile.id}) }}" title="View Profile">
        <figure id="user_avatar">
            {% if user.profile.avatar|length > 0 %}
                <img src="{{ asset(user.profile.avatar.first|pictureWebPath|imagine_filter('thumb_190x_')) }}" alt="{{ user.profile.firstName }} {{ user.profile.lastName }}" class="large" id="avatar_img" />
            {% else %}
                <img src="{{ asset('bundles/zizoobase/images/default/avatar-user.png'|imagine_filter('thumb_190x_')) }}" alt="Profile avatar not set" id="avatar_img" />
            {% endif %}
            <figcaption>
                {{ user.profile.firstName }} {{ user.profile.lastName }}
            </figcaption>
        </figure>
    </a>
    <section class="completeness">
        {{ completeness|completeness }}
    </section>
    <a href="{{ path('ZizooBaseBundle_Dashboard_Skills') }}" class="button blue big" title="Add Skills">Add Skills</a>
</div>
<!-- end:avatar -->

<!-- start:verifications -->
<section class="verifications">
    <h4>Verifications</h4>
    <ul id="user_verifications">
        {% if user.profile.verification is not null %}
            {% set phone_verified = user.profile.verification.verified %}
        {% else %}
            {% set phone_verified = false %}
        {% endif %}
        <a href="{{ path('ZizooBaseBundle_Dashboard_VerifyPhone') }}"><li class="phone {% if phone_verified %}verificated{% endif %}"><span></span>Phone<span class="icon {% if phone_verified %}check black{% else %}cross{% endif %}"></span></li></a>
        {% if user.facebookUid is not null %}
        <li class="facebook verificated"><a href="{{ path('ZizooBaseBundle_Dashboard_VerifyFacebook') }}"><span></span>Facebook <span class="icon check black"></span></a></li>
        {% else %}
        <li class="facebook"><a href="{{ path('ZizooBaseBundle_Dashboard_VerifyFacebook') }}"><span></span>Facebook <span class="icon cross"></span></a></li>
        {% endif %}
        <li class="twitter"><span></span>Twitter <span class="icon cross"></span></li>
    </ul>
    <div id="facebook_verify_hidden"></div>
    
    <script type="text/javascript">
        
        $(document).ready(function(){
           
        });
    </script>
</section>
<!-- end:verifications -->

<div class="dashboard_navigation">
    {% if user.charter %}
        <a href="{{ path('ZizooBaseBundle_Dashboard_CharterDashboard') }}">Switch to charter view</a>
    {% endif %}
</div>
