{# src/Zizoo/UserBundle/Resources/views/Registration/register.html.twig #}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/zizoouser/js/register.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zizoouser/css/register.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="invite" id="{% if ajax %}invite_inner_ajax{% else %}invite_inner{% endif %}">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage}}
            </div>
        {% endfor %}
        
        <div id="invite">
            <form novalidate="novalidate" action="{{ path('ZizooUserBundle_invite')}}" method="post" {{ form_enctype(form) }} class="invite_form">
                
                <div class="firstfriend">
                    {{ form_label(form.email1) }}
                    {{ form_errors(form.email1) }}
                    {{ form_widget(form.email1) }}
                </div>
                
                <div class="friend">
                    {{ form_label(form.email2) }}
                    {{ form_errors(form.email2) }}
                    {{ form_widget(form.email2) }}
                </div>
                
                <div class="friend">
                    {{ form_label(form.email3) }}
                    {{ form_errors(form.email3) }}
                    {{ form_widget(form.email3) }}
                </div>
                
                <div class="friend">
                    {{ form_label(form.email3) }}
                    {{ form_errors(form.email4) }}
                    {{ form_widget(form.email4) }}
                </div>
                
                <div class="friend">
                    {{ form_label(form.email5) }}
                    {{ form_errors(form.email5) }}
                    {{ form_widget(form.email5) }}
                </div>
                
                {{ form_widget(form) }}

                <input type="submit" />
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var numExtraFriends = 0;
        $(document).ready(function(){
            
        });
    </script>
    <style type="text/css">
        .friend {
            display: block;
        }
        
        .friend.active {
            display: block;
        }
    </style>
{% endblock %}


