{# src/Zizoo/UserBundle/Resources/views/User/login.html.twig #}
{% trans_default_domain "labels" %}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}

    <div class="login" id="{% if ajax %}login_inner_ajax{% else %}login_inner{% endif %}">

        <form action="{{ path('login_check') }}" method="post" class="login_form">
            <label for="username">{% trans %}zizoo_user.label.username_or_email{% endtrans %}:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">{% trans %}zizoo_user.label.password{% endtrans %}:</label>
            <input type="password" id="password" name="_password" />

            <label for="remember_me">{% trans %}zizoo_user.label.remember_me{% endtrans %}:</label>
            <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" />
            <br />
            {#
                If you want to control the URL the user is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit">{% trans %}zizoo_user.label.login{% endtrans %}</button>
        </form>
        
        {% if error %}
            <div>{{ error.message }}</div>
            <a class="forgot_password_link" href="{{ path('forgot_password') }}">{% trans %}zizoo_user.label.forgot_password{% endtrans %}</a>
        {% endif %}
            
        <button type="submit" class="login_facebook_btn" href="{{ facebook.loginUrl({ scope: 'email', redirect_uri: url('login_facebook', {forward: current_route, ajax: ajax}), display: 'popup' }) }}">Login with FACEBOOK</button>
        <br />
        
        <a href="{{ path('invite') }}">Invite your friends</a>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.login_facebook_btn').click(function(){
                window.open($(this).attr('href'), 'Login with Facebook', "height=200,width=200");
            });
        });
    </script>
    
{% endblock %}
