{# src/Zizoo/MessageBundle/Resources/views/Message/sent.html.twig #}
{% trans_default_domain "labels" %}
{% extends 'ZizooMessageBundle::layout.html.twig' %}

{% block body %}

    <select id="box_select">
        <option value="{{ path('inbox') }}">Inbox</option>
        <option value="{{ path('sent') }}" selected="selected">Sent Messages</option>
    </select>

    <div>

        {{jqgrid(grid)}}
        
    </div>

    <div id="context_hidden" style="display: none">
        <div id="delete_hidden" class="empty">{% render 'ZizooMessageBundle:Message:deleteSentMessage' with {ajax: true} %}</div>
        
    </div>

    <div class="contextMenu" id="contextMenu" style="display:none">
        <ul style="width: 200px">
            <li id="open">
                <span class="ui-icon ui-icon-plus" style="float:left"></span>
                <span style="font-size:11px; font-family:Verdana">Open</span>
            </li>
            <li id="del">
                <span class="ui-icon ui-icon-trash" style="float:left"></span>
                <span style="font-size:11px; font-family:Verdana">Delete</span>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
    
        function openDeleteDialog(){
            $('#delete_sent_message_inner_ajax').dialog({
                modal: true,
                closeOnEscape: false,
                resizable: false,
                close: function(){
                    $(this).dialog('destroy');
                }
            });
        }

        function closeDeleteDialog(){
            $('#delete_sent_message_inner_ajax').dialog('close');
            $('#delete_sent_message_inner_ajax').unblock();
        }
    
        function deleteListeners(){
            $(document).delegate('#delete_sent_message_inner_ajax #delete_sent_message_form', 'submit', function(){
                $('#delete_sent_message_inner_ajax').block({ message: '' });
                $.ajax({
                    type: 'post', 
                    url: $('#delete_sent_message_inner_ajax #delete_sent_message_form').attr('action'),
                    data:$('#delete_sent_message_inner_ajax #delete_sent_message_form').serialize(),
                    success: function(data, textStatus, XHR){
                        var deleteDiv = $(data).find('#delete_sent_message_inner_ajax');
                        if (deleteDiv.length > 0){
                            $('#delete_sent_message_inner_ajax').html(deleteDiv);
                            $('#delete_sent_message_inner_ajax').unblock();
                        } else {
                            closeDeleteDialog();
                            reloadGrid();
                        }
                    },
                    error: function(jqXHR, textStatus,errorThrown){
                        closeDeleteDialog();
                    }
                });
                return false;
            });
        }
    
        
        function deleteMessagePopup(msgId){
            $('#delete_sent_message_inner_ajax #form_message_id').val(msgId);
            $('#delete_sent_message_inner_ajax .cancel_btn').unbind('click').click(function(){
                closeDeleteDialog();
            });
            openDeleteDialog();
        }
    
        function loadComplete(){
            $("tr.jqgrow", this).contextMenu('contextMenu', {
                bindings: {
                    'open': function(trigger) {
                        // trigger is the DOM element ("tr.jqgrow") which are triggered
                        var msgId = jQuery('#{{ grid.name|raw }}').jqGrid('getCell', trigger.id, 'grid_sentmessage_id');
                        messageOpen(msgId);
                    },
                    'del': function(trigger) {
                        var msgId = jQuery('#{{ grid.name|raw }}').jqGrid('getCell', trigger.id, 'grid_sentmessage_id');
                        deleteMessagePopup(msgId);
                        //window.location.href = '{{ path('delete_sent_message')}}/'+msgId;
                    }
                },
                onContextMenu: function(event/*, menu*/) {
                    var rowId = $(event.target).closest("tr.jqgrow").attr("id");
                    //grid.setSelection(rowId);
                    // disable menu for rows with even rowids
                    return true;
                }
            });
        }
        
        function messageOpen(msgId){
            window.location.href = '{{ path('open_sent_message') }}/'+msgId;
        }
    
        function messageDoubleClick(rowId, rowIndex, colIndex, e){
            var msgId = jQuery('#{{grid.name|raw}}').jqGrid('getCell', rowId, 'grid_sentmessage_id');
            messageOpen(msgId);
        }
        
        function reloadGrid(){
            var showThreads = jQuery('#showThreads_{{grid.name|raw}}').is(':checked');
            var url;
            if (showThreads){
                url = '{{ grid.extraParams['url_threads'] }}';
            } else {
                url = '{{ grid.extraParams['url_no_threads'] }}';''
            }
            jQuery('#{{ grid.name|raw }}').jqGrid('setGridParam', { url: url } );
            jQuery('#{{ grid.name|raw }}').trigger('reloadGrid');
        }
            
        $(document).ready(function(){
            
            $('#box_select').change(function(){
                $.blockUI({ message: '' });
                window.location.href = $(this).val();
            });
            
            jQuery('#{{ grid.name|raw }}').jqGrid('setGridParam', { ondblClickRow: messageDoubleClick } );
            jQuery("#pager_{{ grid.name|raw }}_left table.navtable tbody tr").append(
            '<td><div><input type="checkbox" id="showThreads_{{grid.name|raw}}" {{ grid.extraParams['show_threads'] }} /><label for="showThreads_{{grid.name|raw}}">Show threads</label></div></td>');
            jQuery('#showThreads_{{grid.name|raw}}').change(reloadGrid);
            
            deleteListeners();
        });

    </script>
    
    <style type="text/css">
        #pager_{{ grid.name|raw }}_left table.navtable tbody tr label {
            font-size: 11px;
            display: inline;
            margin-left: 2px;
        }
        
        .unread {
            font-weight: bolder;
        }
        
        ul.ui-menu li .ui-icon {
            position: static;
        }
    </style>

{% endblock %}
