{% set sender_receiver = message.sender == user ? 'sender' : 'receiver' %}
{% set message_class    = '' %}
{% set header           = null %}
{% if message.messageType.id == message_types['inquiry']['id'] %}
    {% set message_class    = 'dark' %}
    {% set header           = 'Boat Name | Aug 12, 2013 (Booking date)' %}
{% elseif message.messageType.id == message_types['accepted']['id'] %}
    {% set message_class    = 'blue' %}
    {% set header           = 'Accepted' %}
{% elseif message.messageType.id == message_types['expired']['id'] %}
    {% set message_class    = 'orange' %}
    {% set header           = 'Expired' %}
{% elseif message.messageType.id == message_types['declined']['id'] %}
    {% set message_class    = 'red' %}
    {% set header           = 'Declined' %}
{% endif %}
<li class="message {{ sender_receiver }} {{ message_class }}">
    <div class="article clearfix">
        <div class="image">
            {% if message.sender == user %}
                {% if message.sender.charter is not null %}
                    {% if message.sender.charter.logo is not null %}
                        <img src="{{ asset(message.sender.charter.logo|pictureWebPath|imagine_filter('thumb_50x50')) }}" alt="" />
                    {% else %}
                        <img src="{{ asset('bundles/zizoobase/images/default/avatar.png'|imagine_filter('thumb_50x50')) }}" alt="" />
                    {% endif %}
                    {{ message.sender.charter.charterName }}
                {% else %}
                    {% if message.sender.profile.avatar|length > 0 %}
                        <img src="{{ asset(message.sender.profile.avatar.first|pictureWebPath|imagine_filter('thumb_50x50')) }}" alt="" />
                    {% else %}
                        <img src="{{ asset('bundles/zizoobase/images/default/avatar.png'|imagine_filter('thumb_50x50')) }}" alt="" />
                    {% endif %}
                    {{ message.sender.profile.firstName }}
                {% endif %}
            {% else %}
                {% if message.sender.profile.avatar|length > 0 %}
                    <img src="{{ asset(message.sender.profile.avatar.first|pictureWebPath|imagine_filter('thumb_50x50')) }}" alt="" />
                {% else %}
                    <img src="{{ asset('bundles/zizoobase/images/default/avatar.png'|imagine_filter('thumb_50x50')) }}" alt="" />
                {% endif %}
                {{ message.sender.profile.firstName }}
            {% endif %}            
        </div>
        <div class="background">
            {% if header is not null %}
                <header>{{ header }}</header>
            {% endif %}
            <p>
                {{ message.body }}
            </p>
        </div>
        <footer class="clearfix">
            <div class="left">
                <time datetime="{{ message.createdAt|date(constant('DATE_W3C')) }}">{{ message.createdAt|date('G:ia / M d, Y') }}</time>
            </div>
        </footer>
    </div>
</li>