{% if thread.booking and thread.booking.reservation %}
    {% if thread.booking.reservation.guest == user %}
        <p>You sent a reservation request for boat {{ thread.booking.reservation.boat.id }}</p>
        {% if thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_REQUESTED') %}
            <p>Please wait for the boat owner to respond.</p>
        {% elseif thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_ACCEPTED') %}
            <p>The request was accepted.</p>
        {% elseif thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_EXPIRED') %}
            <p>The request has expired.</p>
        {% elseif thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_DENIED') %}
            <p>The request was denied.</p>
        {% elseif thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_HOLD') %}
            <p>The request was tenatively accepted.</p>
        {% endif %}
    {% elseif thread.booking.reservation.boat.charter == charter %}
        <p>You received reservation request for boat {{ thread.booking.reservation.boat.id }}</p>
        {% if thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_REQUESTED') %}
            <p>Please <a href="{{ path('ZizooReservationBundle_view', {id: thread.booking.reservation.id}) }}">respond to the request</a>.</p>
        {% elseif thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_ACCEPTED') %}
            <p>You accepted the request.</p>
        {% elseif thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_EXPIRED') %}
            <p>The request has expired.</p>
        {% elseif thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_DENIED') %}
            <p>You denied the request.</p>
        {% elseif thread.booking.reservation.status == constant('Zizoo\\ReservationBundle\\Entity\\Reservation::STATUS_HOLD') %}
            <p>You tentatively accepted the request.</p>
        {% endif %}
    {% endif %}
{% endif %}

<section class="thread">
    <div class="reply">
        <ul class="messages">
            <li class="message sender">
                <form class="form" action="{{ path(routes['view_thread_route'], {id: thread.id}) }}" method="post">
                    <div class="article clearfix">
                        <div class="image">
                            {% if view == 'charter' %}
                                {% if user.charter.logo is not null %}
                                    <img src="{{ asset(user.charter.logo|pictureWebPath|imagine_filter('thumb_50x50')) }}" alt="" />
                                {% else %}
                                    <img src="{{ asset('bundles/zizoobase/images/default/avatar.png'|imagine_filter('thumb_50x50')) }}" alt="" />
                                {% endif %}
                                {{ user.profile.firstName }} @ {{ user.charter.charterName }}
                            {% else %}
                                {% if user.profile.avatar|length > 0 %}
                                    <img src="{{ asset(user.profile.avatar.first|pictureWebPath|imagine_filter('thumb_50x50')) }}" alt="" />
                                {% else %}
                                    <img src="{{ asset('bundles/zizoobase/images/default/avatar.png'|imagine_filter('thumb_50x50')) }}" alt="" />
                                {% endif %}
                                {{ user.profile.firstName }}
                            {% endif %}
                        </div>
                        {{ form_widget(form) }}
                        <footer class="clearfix">
                            <div class="right">
                                <button class="button blue" type="submit">Reply</button>
                            </div>
                        </footer>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <ul class="messages">
        {% for message in thread.messagesReverse %}
            {% include 'ZizooMessageBundle:Message:thread_messages.html.twig' with {message: message, user: user, message_types: message_types} %}
        {% endfor %}
    </ul>
</section>
