{% set sender_receiver  = message.sender == user ? 'sender' : 'receiver' %}
{% set message_class    = '' %}
{% set header           = null %}
{% set reservation      = message.thread.reservation %}
{% set reservation_info = null %}
{% if reservation is not null %}
    {% set reservation_header = '<a href=' ~ path('ZizooBoatBundle_Boat_Show', {id: reservation.boat.id}) ~ '>' ~ reservation.boat.name ~ '</a> | ' ~ reservation.checkIn|date('M d, Y') ~ ' - ' ~ reservation.checkOut|date('M d, Y') %}
{% endif %}

{% if message.messageType is null %}

{% elseif message.messageType.id == message_types['request']['id'] %}
    {% set message_class    = 'dark' %}
    {% set header           = reservation_header %}
    {% set reservation_info = true %}
{% elseif message.messageType.id == message_types['enquiry']['id'] %}
    {% set message_class    = 'dark' %}
    {% set header           = reservation_header %}
    {% set reservation_info = true %}
{% elseif message.messageType.id == message_types['accepted']['id'] %}
    {% set message_class    = 'green' %}
    {% set header           = 'Accepted' %}
{% elseif message.messageType.id == message_types['expired']['id'] %}
    {% set message_class    = 'red' %}
    {% set header           = 'Expired' %}
{% elseif message.messageType.id == message_types['declined']['id'] %}
    {% set message_class    = 'red' %}
    {% set header           = 'Declined' %}
{% endif %}
<li class="message {{ sender_receiver }} {{ message_class }}">
    <div class="article clearfix">
        <div class="image">
            {% set user_display = message|senderDisplay(user) %}
            {% if user_display['picture'] is not null and user_display['picture'] != false %}
                <img src="{{ asset(user_display['picture']|pictureWebPath|imagine_filter('thumb_50x50')) }}" alt="" />
            {% else %}
                <img src="{{ asset('bundles/zizoobase/images/default/avatar.png'|imagine_filter('thumb_50x50')) }}" alt="" />
            {% endif %}
            {{ user_display['name'] }}
        </div>
        <div class="background">
            {% if header is not null %}
                <header>{{ header|raw }}</header>
            {% endif %}
            {% if reservation_info is not null %}
                {% set boat = reservation.boat %}
                <div class="trip clearfix">
                    <a href="{{ path('ZizooBoatBundle_Boat_Show', {id: boat.id}) }}" title="Hvar"><img src="{{ asset(boat.image.first|pictureWebPath|imagine_filter('thumb_131x68')) }}" alt=""></a>
                    <p>
                        <strong>Boat: </strong>{{ boat.title }}<br>
                        <strong>Homeport: </strong>{{ boat.address.locality }}, {{ boat.address.country }}<br>
                        <strong>Cabins / Berths: </strong>{{ boat.cabins }} / {{ boat.berths }}
                    </p>
                </div>
            {% endif %}
            <p>
                {{ message.body }}
            </p>
        </div>
        <footer class="clearfix">
            <div class="left">
                <time datetime="{{ message.createdAt|date(constant('DATE_W3C')) }}">{{ message.createdAt|date('G:ia / M d, Y') }}</time>
            </div>
        </footer>
    </div>
</li>