{% set sender_receiver = message.sender == user ? 'sender' : 'receiver' %}
{% set message_class    = '' %}
{% set header           = null %}
{% if message.messageType is null %}
    
{% elseif message.messageType.id == message_types['request']['id'] %}
    {% set message_class    = 'dark' %}
    {% set header           = 'Boat Name | Aug 12, 2013 (Booking date)' %}
{% elseif message.messageType.id == message_types['enquiry']['id'] %}
    {% set message_class    = 'dark' %}
    {% set header           = 'Boat Name | Aug 12, 2013' %}
{% elseif message.messageType.id == message_types['accepted']['id'] %}
    {% set message_class    = 'green' %}
    {% set header           = 'Accepted' %}
{% elseif message.messageType.id == message_types['expired']['id'] %}
    {% set message_class    = 'red' %}
    {% set header           = 'Expired' %}
{% elseif message.messageType.id == message_types['declined']['id'] %}
    {% set message_class    = 'red' %}
    {% set header           = 'Declined' %}
{% endif %}
<li class="message {{ sender_receiver }} {{ message_class }}">
    <div class="article clearfix">
        <div class="image">
            {% set user_display = message|senderDisplay(user) %}
            {% if user_display['picture'] is not null and user_display['picture'] != false %}
                <img src="{{ asset(user_display['picture']|pictureWebPath|imagine_filter('thumb_50x50')) }}" alt="" />
            {% else %}
                <img src="{{ asset('bundles/zizoobase/images/default/avatar.png'|imagine_filter('thumb_50x50')) }}" alt="" />
            {% endif %}
            {{ user_display['name'] }}
        </div>
        <div class="background">
            {% if header is not null %}
                <header>{{ header }}</header>
            {% endif %}
            <p>
                {{ message.body }}
            </p>
        </div>
        <footer class="clearfix">
            <div class="left">
                <time datetime="{{ message.createdAt|date(constant('DATE_W3C')) }}">{{ message.createdAt|date('G:ia / M d, Y') }}</time>
            </div>
        </footer>
    </div>
</li>